[2015-07-15 16:48] #592 closed

[2015-07-15 17:03] pomusa commented on #622
hello.. what is the difference between...
USB_DEVICE="/dev/sdb1"  and BACKUP_URL=usb:///dev/sdb1?

[2015-07-15 18:03] pomusa commented on #622
tried with 2 entries of BACKUP_URL

BACKUP_URL=usb:///dev/sdc1
BACKUP_URL=usb:///dev/sdd1

it would just use /dev/sdd1 as default and not use sdc1

[2015-07-15 19:39] firsttris commented on #621
sorry i explain in more detail:

OUTPUT=ISO
BACKUP=NETFS
OUTPUT_URL=file:///media/4abdc695-ec9c-4fcf-ad8e-442c63dbc626/backup/img/
BACKUP_URL=file:///media/4abdc695-ec9c-4fcf-ad8e-442c63dbc626/backup/img/

if i run

rear mkbackuponly
(backup system without creating rescue media)

i get:
backup.tar.gz

doc says:
OUTPUT=ISO
Create a bootable ISO9660 image on disk as rear-$(hostname).iso

why do i ge

[2015-07-16 06:35] gdha commented on #622
when you define OUTPUT=USB then you need to define USB_DEVICE also. This will set OUTPUT_URL and BACKUP_URL to the same location of the USB_DEVICE setting. As I said before this piece of code was written by @dagwieers and @jhoekx  so I think they could answer this much better then myself.

[2015-07-16 06:38] gdha commented on #621
what kind of device is `BACKUP_URL=file:///media/4abdc695-ec9c-4fcf-ad8e-442c63dbc626/backup/img/`?
* mkbackonly will not create an ISO image to boot from
* mkrescue only creates an ISO image and no tar archive
* mkbackup does both

[2015-07-16 19:28] acsacpact commented on #610
@Jay,

After I reboot the system with my recovered image, getting below error. Can you suggest how to fix it

Something we need to do to fix the PRep boot image or the boot list.

IBM IBM IBM IBM IBM IBM IBM IBM IBM IBM IBM IBM IBM IBM IBM IBM IBM IBM IBM
IBM IBM IBM IBM IBM IBM IBM IBM IBM IBM IBM IBM IBM IBM IBM IBM IBM IBM IBM
PReP-BOOT : Unable to load full PReP image.
Loaded 0  out of 64c00

[2015-07-16 19:44] jayfurmanek commented on #610
ok, so the ISO worked and you got to the rescue shell..and the recover functioned.That's good.

Is this on a different system/LPAR than the original? SLES sets up fstab and bootloader config based on LUN UUID. If the LUNs are different, the UUIDs will be different. The WARNING in there is referring to that:

WARNING ! You are mounting some devices by ID. Please be aware that the IDs
are hardware d

[2015-07-16 19:56] jayfurmanek commented on #610
@acsacpact
Can you open a new issue for this? You've verified that the fix for issue #610 does indeed work. It's likely you are having a multipath/SAN boot issue now. Thanks!

[2015-07-16 20:24] acsacpact commented on #610
@Jay,

After I do the automatic repair of the system while boot from the OS DVD, server booted normally now.. Thanks for the support..

I hope rear recover not writing the boot loader correctly to the disk.

[2015-07-16 20:29] jay commented on #610
@acsacpact  Can you please not @jay , the github notification system requires the full username.

[2015-07-21 09:13] venkarr opened #623 "recover issue"
Hi,
   while try to restore the Suse11 iso image through nfs mount point we are facing the issue.

![image](https://cloud.githubusercontent.com/assets/13430269/8797073/d22a8b8c-2fb6-11e5-9285-c7d6397fdf57.png)

[2015-07-21 09:15] venkarr commented on #623
could you please advise on this

[2015-07-21 22:18] hi-flyer opened #624 "ubuntu 15.04 "No Default or UI configuration found" on reboot"
I have created a symbolic link from
/usr/lib/SYSLINUX/mbr.bin to /usr/lib/ISOLINUX/isolinux.bin
to get rear to create the USB files on the 4 GB usb drive.
the local.conf file has
OUTPUT=USB
USB_DEVICE=/dev/disk/by-label/REAR-000
BACKUP=BAREOS
BAREOS_CLIENT=zeus-fd

I have also tried /usr/lib/SYSLINUX/mbr.bin to /usr/lib/SYSLINUX/isolinux.bin which also works but I must have isolinux.bin - mbr.bin

[2015-07-22 16:41] gdha commented on #623
Did you check the rear log file for a better understanding of the error? There is always more information displayed then you think.

[2015-07-22 17:00] gdha commented on #624
Did you install EXTLINUX? in version rear-1.17.1 we had to fix some ISOLINUX issues due to Ubuntu's re-arraging several packages around syslinux, isolinux and extlinux packages.
The OUTPUT=USB was not yet testen nor modified. I guess some work has to be done in that area.

[2015-07-22 21:34] hi-flyer commented on #624
Yes, according to synaptic, I have extlinux, syslinux-common, syslinux-efi, syslinux. installed version 3:6.03+dfsg-5ubuntu1.  rear says it is formatting in ext3 but the device needs to be unmounted to perform the format. The rear -v mkbackup (or mkrescue) do not care whether I mount or not after the format. Also I had assumed from the fixes suggested on the site, I would not have to link the mbr.

[2015-07-23 08:25] gdha commented on #624
@hi-flyer rear will automatically mount the USB device when required (and amount it afterwards). Perhaps, run `rear -vD mkrescue` to have the debug output. I think we need to adapt the manner to find the proper `mbr.bin` for extlinux also like we did for isolinux. I'm having my vacation so I take some time off and will not debug it myself. For effort is very much appreciated!

[2015-07-23 09:13] gdha commented on #615
@abhishekmittal02 did answer your question? Or, do you have any other concern?

[2015-07-24 08:21] gdha opened #625 "Unify the true/false settings in our code"
We have too many ways of defining a variable to be true of false, e.g.
[code]
Maybe, we better create a simple function to unify this?
Feedback welcome...

[2015-07-24 08:42] gdha commented on #619
On my centos7 system I have the following tmpfs file systems:
[code]
These are temporary file systems and are not tracked in the disklayout.conf file.

The problem with TSM is that variable `MOUNTPOINTS_TO_RESTORE` gets defined in script `verify/TSM/default/40_verify_tsm.sh` and afterwards as the variable is not empty in script `restore/default/90_create_missing_directories.sh` it will skip the cr

[2015-07-24 08:50] gdha commented on #619
I think we need to do this in a more generic way and also restore the moint points with correct ownership and permissions. Therefore, we should make a *new* script in the prep work-flow and save the output for later and use it in the restore work-flow as input.

[2015-07-24 09:33] gdha commented on #607
There are 2 more reports:
- https://bugzilla.redhat.com/show_bug.cgi?id=1238843 (for RHEL 7.2)
- https://bugzilla.redhat.com/show_bug.cgi?id=1245189 (for f22)

[2015-07-24 09:39] gdha commented on #610
@acsacpact can we close this issue?

[2015-07-24 12:20] gdha commented on #607
remark: RH Bugzilla 1245189 has been closed as it is duplicate of 1239009.

[2015-07-24 13:23] tbsky commented on #560
Hi:
     I need to use "SSH_ROOT_PASSWORD" today, and I found the current situation of 1.17.1 is not working under rhel 6.6/7.1. reason below:

   1.  the generated md5 password string is begin with '$1$',  so the script should use single quote to handle it, or the special character '$' will cause problem. but the script use double quote to handle it.

   2. even I modify the script to handle the

[2015-07-24 13:27] acsacpact commented on #610
@gdha
Yes.. thank you

[2015-07-24 13:52] #610 closed

[2015-07-24 14:02] gdha commented on #560
@tbsky could you elaborate a bit more in detail what you did to fix it? And what do you think is missing with `/etc/pam.d/*`?

[2015-07-24 14:20] tbsky commented on #560
hi gdha:
      sure. the original script fix is easy. just fix the line at 50_ssh.sh
[code]

  but I am not sure how to deal the rhel situation? should we fix the configuration so rhel can use md5 password hash?  or just let it use the crypto hash? I am not sure if we can find a way so every distribution can use md5 hash correctly. so I think maybe let user add their own working hash to rear syste

[2015-07-24 16:56] tbsky commented on #560
hi gdha:
     after try & error, I finally found the missing part: "/lib64/libfreeblpriv3.so". both rhel 6.6 and 7.1 md5 password hash will fail if the rear system didn't have that library.

     I use ldd to check every file, and nobody need that library. hope someone can explain how the things are working so I can learn about it.

   so how do you want to fix the problem? use md5 hash and  fix t

[2015-07-24 18:56] gdha commented on #560
@tbsky we can add the lib to the list to copy to the ramdisk

[2015-07-25 04:25] tbsky commented on #560
hi gdha:

  I think it's ok to add that library to the list. just curious  how is it working. could you also fix the script and document together? the document also has single/double quote problem:

the line at 50_ssh.sh
[code]
the line at default.conf:
[code]
  thanks a lot for your kindly help!!

[2015-07-25 08:58] tbsky opened #626 "module scsi_debug auto load at rhel 7.1"
hi:
    the situation comes with rhel 7.1 (or rhel 7.0 with recent updates). rear will load "scsi_debug" module automatically when restore. and that module will create a 8MB /sev/sda. the restore procedure will have trouble if the original system also have harddisk named /dev/sda.

  I now use "EXCLUDE_MODULES" to exclude it. but I think maybe we can exclude it globally. I saw "scsi_debug" module

[2015-07-26 08:45] schlomo commented on #625
+1

Do we have tri-states? Like Yes/No/Auto? Or Yes/No/Unset?

[2015-07-27 08:30] jsmeix commented on #626
I had this issue some time ago on a Suse Linux machine (I guess it was a SLES11 system but I don't remember well).

But it happened only on one particular laptop that I used for a test. It did not happen in general.

In gereral I noticed at that time that in the rear recovery system I had more than 100 kernel modules loaded while in my original system I had something about 40 kernel modules loaded

[2015-07-27 08:47] jsmeix commented on #625
When there is one or more common functions it can be enhanced as needed to test for as many states as needed like yes/no/auto/unset/default/...

I wonder if it is possible to test that common functions are actually used everywhere? In other words: How to find all places in the code that would need to be unified?

[2015-07-27 09:00] gdha commented on #560
@tbsky could you verify the fix? Feedback is welcome (as always:)

[2015-07-27 09:03] tbsky commented on #626
hi jsmeix:

 thanks for your hint!  yes it is something related to systemd-udev. I don't mind if there are many modules loaded when recovery. but this module prevent the recovery process.

 I saw commit which may fix the systemd-udev problem. this issue maybe fixed also. I prefer my recovery media to have many modules in case I need to restore the system in different hardware..

[2015-07-27 09:06] gdha commented on #625
There is no need to change all code at one moment - whenever, we feel the need (or come across one piece of code) we can change it...

[2015-07-27 09:12] tbsky commented on #560
hi gdha:
    I have not really test it but I think it wil work for me. however rhel6 also has 32bit versions.so add the "/lib64/libfreeblpriv3.so" will not work for it. I don't know if there are better ways to handle library in rear system?

[2015-07-27 09:16] #250 closed

[2015-07-27 09:41] jsmeix commented on #626
I feel at least a bit usafe when the recovery system has different kernel modules loaded than the original system.

Perhaps for "normal recovery cases" it could be a safe default to load only those kernel modules that have been loaded in the original system?

With "normal recovery case" I mean that the hardware where recovery happens is fully compatible with the hardware of the original system.

W

[2015-07-27 09:46] jsmeix commented on #625
You are right.

Same reasoning as my own comment ("can be enhanced as needed"). Somehow I failed to apply my own reasoning to my own question ;-)

[2015-07-28 07:55] gdha commented on #619
A good starting point for the script could be:
`$ ls -ld $(mount | grep -vE '(cgroup|fuse|nfs|/sys/)' | awk '{print $3}')` to get the list of mount points where we need to save the permissions and ownership

[2015-07-29 08:20] jsmeix opened #629 "RPM BuildArch noarch contradicts arch specific bootloader RPM requirement"
@k0da (cf. https://github.com/rear/rear/pull/627) found the following issue:

"BuildArch noarch" contradicts arch specific bootloader RPM requirement.

Currently rear.spec contains (excerpt):

<pre>
BuildArch: noarch
...
%ifarch %ix86 x86_64
Requires: syslinux
%endif
%ifarch ppc ppc64
Requires: yaboot
%endif
</pre>

This cannot work because when it is built for "noarch" none of the %ifarch matches

[2015-07-29 11:22] schlomo commented on #629
@jsmeix good point and convincing for me. The RPM that we build for a specific platform should indeed be optimized for that platform. Since a rear RPM should be different when built for PPC or for x86_64 it should not be noarch. IMHO a requirement for noarch would be that the RPM is really the same on all architectures.

Theoretically one could split the ReaR RPM into rear, rear-lib, rear-doc etc.

[2015-07-29 12:43] jsmeix commented on #629
Please no package split (of course unless you like to get into more trouble ;-)

Split packages always cause issues when users install only some parts or mix up parts that do not match together (yes of course theoretically with sufficient RPM dependencies all that can be defined perfectly well - provided someone actualy implements it ;-)

On Fedora it seems there are different opinions when a pack

[2015-07-30 09:08] gdha commented on #629
I like the phrase from https://www.redhat.com/archives/fedora-packaging/2006-July/msg00130.html:
[code]

[2015-07-30 09:28] hpannenb opened #630 "Missing binaries for hpssacli in recovery image"
Hi, everyone.

I am rather new to ReaR and try to set it up under RHEL 6.4 on a HP server. Additionally I installed the hpssacli 2.20-11.0 of HP and discovered its binaries/the installation directory is not included in the rescue image.

Debugging the Relax-and-Recover Version 1.17.1-git201507281845 / 2015-07-28 shows what happens within the https://github.com/rear/rear/blob/master/usr/share/rear/

[2015-07-30 13:10] jsmeix commented on #629
But the same mail https://www.redhat.com/archives/fedora-packaging/2006-July/msg00130.html also states:
<pre>
Instead of combining BuildArch noarch and ExclusiveArch, just drop
BuildArch noarch and create arch-specific packages. Especially if there
is a dependency on other arch-specific packages.
</pre>

Currently I would prefer
<pre>
ExclusiveArch: %ix86 x86_64 ppc ppc64
%ifarch %ix86 x86_64
Requ

[2015-07-30 13:17] k0da commented on #629
What about using recommends?

syslinux is required on x86 because it is not standard bootloader, but the one used for isos.

For grub2, yaboot or whatever. This could be dropped. Since those are default bootlaoders and could be used for ISO boot as well.

[2015-07-30 13:25] schlomo commented on #629
Recommends is a DEB concept (so far). We already had several times the
discussion if our RPMs should require more or less packages. Different
people have different use cases and opinions and nobody bothered to create
for example a rear-usb-backup subpackage that would pull in everything
needed for bootable USB drvives...

On 30 July 2015 at 15:17, Dinar Valeev <notifications@github.com> wrote:

[2015-07-30 13:42] jsmeix commented on #629
I cannot decide here what bootloader packages should be required or recommended because I do not have sufficient knowledge to make such decisions.

My primary concern here is how to get it solved in general that rear "needs" (requires or recommends) architecture dependent packages.

For example if yaboot is by default installed on ppc ppc64 and also used there to make the bootable ISO image it cou

[2015-07-30 13:45] schlomo commented on #629
Would this work? Then it looks good to me.

On 30 July 2015 at 15:42, Johannes Meixner <notifications@github.com> wrote:

[2015-07-30 13:46] jsmeix commented on #629
I need a bit of time to test it...

[2015-07-30 16:48] jsmeix commented on #629
The actual change was easy.

Now it is only
<pre>
ExclusiveArch: %ix86 x86_64 ppc ppc64
%ifarch %ix86 x86_64
Requires: syslinux
%endif
</pre>

Only for testing I also tried
<pre>
ExclusiveArch: %ix86 ppc ppc64
%ifarch %ix86 x86_64
Requires: syslinux
%endif
%ifarch ppc ppc64
Requires: yaboot
%endif
</pre>
and this does no longer build it on x86_64 (as expected) and on ppc there was the requirement

[2015-08-03 11:56] phracek commented on #607
I have a question related to this issue.
I have found that $TMP_DIR is setup by usr/bin/rear binary via mktemp -d -t command line.
I have found that there are other binaries/scripts which have still /tmp definitions.
Like:
share/rear/output/TSM/default/95_dsmc_save_result_files.sh [12]
share/rear/output/NSR/default/95_nsr_save_result_files.sh [12]
share/rear/lib/validate-workflow.sh [118,121]
shar

[2015-08-03 11:56] phracek commented on #607
Shall I send you PR for some of these scripts?

[2015-08-03 14:17] gdha commented on #630
@hpannenb Before you modified the site.conf file (COPY_AS_IS) what did you exactly miss? The executable or the directory? Or both? I've check on a older version (HP Array Configuration Utility CLI 9.30.15.0) and all seemed fine?
Would like to know for sure what was missing...

[2015-08-03 14:51] gdha commented on #604
Might be related with issue #629 - still looking for a Debian package expert

[2015-08-03 15:28] gdha commented on #604
good news- it builds now for Debian 7 and 8

[2015-08-03 15:28] #604 closed

[2015-08-03 18:53] hpannenb commented on #630
Hello, Gratien. With the `hpssacli` tool installed everything under `/opt/hp/hpssacli/bld/` is missing.

[2015-08-04 13:07] gdha commented on #630
@hpannenb just fixed the 27_hpraid_layout.sh script

[2015-08-04 14:41] gdha commented on #607
@phracek An extra PR :+1: fine for me.

[2015-08-06 11:37] gdha commented on #622
@pomusa what you need to do is:
* rear format /dev/sdc
* use /dev/sdd as a mounted linux file system (ext3 for example) - e.g. /mnt/usbdisk
* define in `/etc/rear/local.conf`:
[code]
* rear -v mkbackup
  this should produce a bootable USB disk on device /dev/sdc and the tar archive on /dev/sdd.
* in recover mode you need first mount /dev/sdd on /mnt/usbdisk before starting `rear -v recover`

[2015-08-06 11:39] gdha commented on #621
@firsttris was your question answered? Or, do you need more feedback from us?

[2015-08-06 11:39] gdha commented on #615
no reply - so close it

[2015-08-06 11:39] #615 closed

[2015-08-06 11:40] firsttris commented on #621
yes!

thanks for your reply!

regards
firsttris

[2015-08-06 11:40] #621 closed

[2015-08-06 11:42] gdha commented on #613
@rpasche could you share a few lines of your incident to add to our FAQ web page?

[2015-08-06 12:33] gdha commented on #612
@tyl0re How would you propose the fix for the recover mode with TSM? We do not have a TSM environment to experiment with...

[2015-08-06 12:42] gdha commented on #591
@msoupramanien did it work?

[2015-08-06 12:45] gdha commented on #587
@layer7 could you retry with the latest snapshot as various issues with ubuntu were fixed? You never know.

[2015-08-06 12:46] #582 closed

[2015-08-06 12:48] gdha commented on #580
@chancesy did you retry it (in debug mode) to catch the error?

[2015-08-06 12:51] gdha commented on #574
@abbbi is this issue still valid with the latest rear snapshot?

[2015-08-06 12:54] gdha commented on #572
@multipathmaster @schlomo could you share some info about this issue if it is still hot? If we integrate this in rear it should be with prep scripts and finalize scripts, right?

[2015-08-06 12:56] gdha commented on #567
Need to add to the documentation that EVMS is not supported.

[2015-08-06 13:01] gdha commented on #560
@tbsky thank you - I also added the 32-bit version a minute ago

[2015-08-06 13:04] gdha commented on #550
Added 'sponsorship' label - wait and see...

[2015-08-06 13:04] #546 closed

[2015-08-06 13:24] tyl0re commented on #612
cat /opt/tivoli/tsm/client/ba/bin/dsm.sys|egrep -v "^[\t[:space:]]*resour"|sed "s/^[\t[:space:]]*Servername\(.*\)/Servername\\1\n resour 1/I" > dsm.sys.new
Denke das sollte gehen und dan die neue dsm.sys.new nehmen

[2015-08-06 13:35] gdha commented on #544
@roseswe @jsmeix how do you want to proceed with this case?

[2015-08-06 13:36] #516 closed

[2015-08-06 13:38] gdha commented on #529
See issue #572 - we can close this one

[2015-08-06 13:38] #529 closed

[2015-08-06 14:13] kushns opened #632 "Support for DL380G8 shipped with P830i array controllers"
Hi All,

We have few DL380G8 server shipped with P830i array controllers cards, looks P830i array controllers are not yet supported by REAR.

Just want to confirm if fix/patch/update for the 800 series controller is imminent.

Regards

Kush

[2015-08-06 14:15] gdha commented on #632
@kushns did you run into troubles with rear? If yes, could you share what went wrong?

[2015-08-06 14:27] kushns commented on #632
830i card  isn't recognized by the the ReaR software.

[2015-08-06 14:39] kushns commented on #632
Using rear for P2P migration from ProLiant DL580 G7 to DL380G8. So took rear image from DL580 G7 server and trying to restore it to DL380G8.

Rear is not recognizing 830i card on DL380G8.

[2015-08-06 15:36] schlomo commented on #632
Which OS is installed on your DL580G7? Did you install any HP drivers?

If you install exactly the same on the DL380G8, does it recognize your 830i card? If yes, then we talk about a ReaR bug. If not, then your source OS is the "problem". The fix would be to install the required drivers there and then do the P2P migration.

[2015-08-06 15:41] kushns commented on #632
Red Hat Enterprise Linux Server release 5.5 is OS for DL580G7.  HP PSP tool is already installed on server.

looks its not recognising 830i card on DL380G8.

[2015-08-06 15:45] schlomo commented on #632
If HP does not support 830i for RHEL 5.5 then ReaR cannot do anything about it. If yes, then ReaR should pick up the drivers. If ReaR does not pick up the drivers then please provide more details here (e.g. debug mode log file).

[2015-08-06 16:19] kushns commented on #632
Thanks for update....

I will check if RHEL5.5 support 830i card and get back to you...

[2015-08-06 18:18] kushns commented on #632
Looks I need to check if kmod-cciss package is install on server or not.

https://rhn.redhat.com/errata/RHEA-2013-1130.html

I have raised case with redhat as well......so I will do some testing tomorrow and share the findings...

Thanks.....

Kush

[2015-08-06 20:11] rpasche commented on #613
I'm not sure, what else I should tell, that wasn't mentioned in the bug report on Debian? When / is located on an LVM, then within initrd, this filesystem will be mounted with the "real" kernel device name and this gets written to /proc/mounts.

To fix this, you can use the patch that I have added to the bug report, update the initrd afterwards and pin the "initramfs-tools" package until this gets

[2015-08-07 09:00] #449 closed

[2015-08-07 09:07] gdha commented on #444
@kamensa Sorry for the delay...
The `MODULES_LOAD=( ${MODULES_LOAD[@]} ext3 )` is the correct definition.
Did you try the latest rear-1.17.1?

[2015-08-07 09:09] gdha commented on #434
@ypid btrfs code has been enhanced in the meantime, so if you find the time try out rear-1.17.1.

[2015-08-07 09:14] ypid commented on #434
I am afraid that currently I don’t find the time. To be honest, I am not using rear currently.

[2015-08-07 09:16] gdha commented on #413
@bbeaver Stumbled over this issue - what shall we do with it?

[2015-08-07 09:17] gdha commented on #434
@ypid no problem then I just close the issue.

[2015-08-07 09:17] #434 closed

[2015-08-07 09:24] #363 closed

[2015-08-07 09:25] gdha commented on #328
As after one year no-one showed interest in this missing feature we classified it as 'wont fix'

[2015-08-07 09:25] #328 closed

[2015-08-07 09:26] #313 closed

[2015-08-07 09:27] gdha commented on #307
Nobody showed interest - so we close it as it is

[2015-08-07 09:27] #307 closed

[2015-08-07 09:28] #205 closed

[2015-08-07 09:30] #280 closed

[2015-08-07 09:30] gdha commented on #188
nobody showed interest = close it

[2015-08-07 09:30] #188 closed

[2015-08-07 23:58] chancesy commented on #580
I just change the mount point / share without spaces :) easier that way

[2015-08-08 08:50] #580 closed

[2015-08-10 12:25] gdha commented on #55
@dagwieers @jhoekx Do you still see the need of this request, or can we close it?

[2015-08-10 14:54] gdha commented on #626
According http://sg.danny.cz/sg/sdebug26.html it seems safe to exclude the scsi_debug module in recovery mode.

[2015-08-11 11:56] gdha commented on #613
Added it to the release notes.

[2015-08-11 11:56] #613 closed

[2015-08-11 13:41] kushns commented on #632
Hi,

I apologies for delay update.....

There is a cciss driver available which can be used to resolve the issue but minimum requirement for cciss driver is RHEL 5.7 so unfortunately will not work on RHEL5.5.

It worked for RHEL 5.9 after installing cciss drivers.

We are working with Vender to get the P830i card replaced with P420i cards.

According to RHEL DL580 G8 is certified for RHEL5.9 onwar

[2015-08-11 13:43] schlomo commented on #632
Thanks for the info. If you need futher assistance please re-open this issue.

[2015-08-11 13:43] #632 closed

[2015-08-12 13:06] eholtz opened #634 "Still output in /var/lib/rear when using BACKUP=TSM"
Hi,

I updated to rear-1.17.1 and read about the *OUTPUT_URL=null* option. I thought that would work out great for me and activated it, but I still see two disk images in my environment.

I have default config files for local.conf and os.conf and:
[code]

[2015-08-12 13:16] multipathmaster commented on #572
Sorry to re-open this gents, I finally have some time dedicated back to this project and will update this issue accordingly.  We have streamlined the module method that Schlomo has shown us, and have slowly been getting this to install properly with puppet (i.e. ensure a version, and then install our custom module that will utilize the mrecover module method).  I will update this shortly with addi

[2015-08-12 16:25] ravis1 opened #635 "Unable to boot VM after a P2V"
Hi
I have a P2V to be done of RHEL5.6 32 bit to Vmware .We have used REAR to do P2V and restore works but after restore when we try to boot of disk it just shows a blank screen on the VM console .

Alternately if we try to boot back of the rear recovery iso and select first boot device as hd0 it can boot of to the restored image on the VM .

Can you if possible guide us what we are missing or how

[2015-08-12 17:13] hpannenb commented on #630
@gdha I retested it and it works. I/You can close the issue. Many thanks.

[2015-08-12 17:13] #630 closed

[2015-08-12 17:51] gdha commented on #634
could you run `rear -vD mkrescue` to see where it goes wrong? Is linked to issue #501

[2015-08-12 17:53] gdha commented on #635
Hum, this means that grub setup went fine. Can you repeat the error without first booting from the ISO image?

[2015-08-12 18:00] ravis1 commented on #635
I tried booting of the hard drive and it wont even reach the grub stage i get a blank screen and thats baffling me why .

[2015-08-12 19:39] schlomo commented on #635
​Can you post the configuration of the VM? E.g. the VMX file (you can stip
all private data).​

On 12 August 2015 at 20:00, ravis1 <notifications@github.com> wrote:

[2015-08-13 05:54] eholtz commented on #634
Shure, no problem. Unfortunately I'm not seeing any option to upload the logfile, therefore I put it here:
http://eholtz.de/rear-machine.log.xz

[code]

[2015-08-13 08:13] gdha commented on #619
read some interesting comments from Schlomo in http://pikachu.3ti.be/pipermail/rear-users/2015-August/003138.html

[2015-08-13 08:42] gdha commented on #634
@eholtz thank you for the log. Apparently the `OUTPUT_URL=null` was designed to work well with `BACKUP=NTEFS` scheme and was not implemented for other backup methods. This is not a bug, but a missing feature of the patch kindly donated by an user.
We need to enhance the code to make this happen in a generic way.

[2015-08-13 08:47] gdha commented on #634
@eholtz if you define `TSM_RM_ISOFILE=1` in `/etc/rear/site.conf` file then /opt/tivoli/tsm/rear/rear-machine.iso will be removed.
PS: I rather use the generic code for `OUTPUT_URL=null` everywhere

[2015-08-13 08:52] gdha commented on #634
@eholtz One last remark: by defining `TSM_RESULT_SAVE=n` you will not make a backup of the iso file towards TSM. Is this what you want? As you want all ISOs to be removed on the local system? I don't think so...

[2015-08-13 09:37] eholtz commented on #634
@gdha Thank you for your replies. The TSM-Backup is scheduled elsewhere, so as long as I have one copy left the iso will be saved once a day to the server. I don't want to upload it directly to TSM after the cronjob, because I would produce a heavy load on the server when multiple VMs are starting there jobs at the same time.
I will try if the TSM_RM_ISOFILE=1 works out for me and let you know.

[2015-08-13 10:45] gdha opened #636 "Fedora23 ISOLINUX does not boot"
The CD image on Fedora23 (alpha) contains:
[code]
but the syslinux version is 6.03 which means we need also `ldlinux.c32` and on fedora23 it is present under directory `/usr/share/syslinux` (not yet modular as under Ubuntu 15 and Debian 8). rear thinks it is legacy syslinux and do not copy the `ldlinux.c32` to the isolinux CD boot image.

[2015-08-13 12:48] ravis1 commented on #635
I am waiting from my vmware team to come online before i can get that data .But for now when i boot of iso and look at partition table

Of Physical server

Disk /dev/cciss/c0d0: 146.7 GB, 146778685440 bytes
255 heads, 32 sectors/track, 35132 cylinders
Units = cylinders of 8160 * 512 = 4177920 bytes

           Device Boot      Start         End      Blocks   Id  System
/dev/cciss/c0d0p1   *

[2015-08-13 12:55] schlomo commented on #635
Partition 4 is an extended partition (
https://en.wikipedia.org/wiki/Extended_boot_record), looks normal to me.

On 13 August 2015 at 14:48, ravis1 <notifications@github.com> wrote:

[2015-08-13 18:13] ravis1 commented on #635
I was able to fix it by booting of iso and then boot of first disk and doing a grub install .Post that when i reboot of harddisk OS loads .

Thanks

ravi

[2015-08-14 05:29] eholtz commented on #634
@gdha I tried using
[code]
But I'm still left with two iso files:
[code]
Apparently the iso gets only removed when it has been uploaded to TSM (which I believe is kind of useful for standard environments)

[2015-08-14 11:44] gdha opened #637 "NSR servername not defined causing rear to hang"
With `BACKUP=NSR` we have seen the following:
[code]
It just hangs here. Why?
Not sure why it hangs at:
[code]
grep servers /nsr/res/nsrladb/*/* | tail -1 | awk '{print $2}' | sed -e 's/[;,]//'
[code]

[2015-08-18 13:33] jmp242 opened #638 "Errors with Duply and Scientific Linux 7.1"
Trying to do
[code]
When I then try and do a restore from the created ISO onto a smaller SSD, though it is big enough for the partitions and data I have in the backup, I get to:
could not find directory /boot/grub
Backups seem to succeed, but can't get anywhere with restores, nor can I stop the issue on mkrescue.

[2015-08-18 14:10] gdha commented on #638
@jmp242 what did you define in the `local.conf` file?

[2015-08-18 14:15] jmp242 commented on #638
Here is the current content for my latest test.
# Default is to create Relax-and-Recover rescue media as ISO image
# set OUTPUT to change that
# set BACKUP to activate an automated (backup and) restore of your data
# Possible configuration values can be found in
/usr/share/rear/conf/default.conf
#
# This file (local.conf) is intended for manual configuration. For
configuration
# through packages a

[2015-08-18 22:56] osoloco opened #639 "Can I partition external usb drive into bootable usb + backup"
My question is similar to issue #622, except rather than wanting to have two separate devices, I'd like one big external usb harddrive but with two partitions: a small bootable partition to hold the ISO files, and a second partition to hold the backup.

I have a laptop with an SSD and I'd like to use external usb harddisk for booting and backups since harddisk are cheap and I have lots of spares a

[2015-08-19 08:18] gdha commented on #638
@jmp242 When using `BACKUP=DUPLICITY` then the `BACKUP_URL` has no meaning anymore as duplicity is an external backup mechanism which uses its own transport mechanism (you can define it in `/etc/rear/local.conf` - see the `/usr/share/rear/conf/default.conf` file section *Extention for DUPLICITY* for the possibilities.
You cannot mix two backup methods in one go! You could have for example 2 local.

[2015-08-19 12:03] gdha commented on #636
Just inspected the live F23 CD:
[code]

[2015-08-19 12:04] jmp242 commented on #638
So how does ReaR know where to put the ISO file without the BACKUP_URL?

James Pulver
CLASSE Computer Group
Cornell University

On 08/19/2015 04:18 AM, gdha wrote:

[2015-08-19 12:05] keilma commented on #637
Hi,

maybe that helps: with NetWorker you can use nsradmin to query the database (nsrladb). The only requirement is that the NetWorker Client Daemon runs (nsrexecd).

I'm not a coder and don't know how to format my output correctly, but this code shows you the correct server found in the nsrladb:
[code]

**servers: mknw01.xx, mknw01;** is the correct server.
Please let me know if I should do some

[2015-08-19 13:33] gdha commented on #638
@jmp242 OUTPUT_URL is your friend for ISO destination

[2015-08-19 18:25] gdha commented on #636
We have fixed the path in the meantime, but still no luck with booting the rescue image created on F23 - content seems good:
[code]
and ISO seems bootable too:
[code]

[2015-08-19 18:30] gdha commented on #637
@keilma Thanks Marcel for your valuable input, but I find it too complicate to put in a script - could you just try the command:
`grep servers /nsr/res/nsrladb/*/* | tail -1 | awk '{print $2}' | sed -e 's/[;,]//'`

[2015-08-19 18:33] gdha commented on #638
@jmp242 also noticed the following:
`COPY_AS_IS=( $COPY_AS_IS[@] /usr/sbin/mount.cifs /usr/sbin/mount.ntfs
/usr/sbin/mount.ntfs-3g /usr/sbin/mount.ntfs-fuse )`
be aware that `$COPY_AS_IS[@]` should be corrected into `${COPY_AS_IS[@]}` which is the correct syntax for an array output.

[2015-08-19 18:39] gdha commented on #639
@osoloco not a bad idea, but unfortunately it requires a serious rewrite of the USB handling code. A few months ago we started with EFI USB booting, but due lack of time we have put it on hold. What I'm trying to say it is possible, but who will write it?

[2015-08-19 18:41] gdha commented on #635
@ravis1 do you still no support for this?

[2015-08-19 18:46] gdha commented on #634
@eholtz Is your question answered? The OUTPUT_URL is only honored with BACKUP=NETFS scheme. If you would like it different then I would prefer another issue - to keep 2 discussions apart.

[2015-08-19 18:52] jmp242 commented on #638
I did get this on the mailing list. I swear I copied that from the net,
but it apparently is wrong. I have now fixed that. I've also done some
more tests with duplicity / duply and I think the failure to find grub
is a bit misleading, it seems like just prior to that the restore fails
with 'code 30' which I haven't been able to find out what exactly it
means, but I wonder if it's an error mounting

[2015-08-20 05:14] eholtz commented on #634
@gdha Thanks for your reply. I do understand that OUTPUT_URL is only honored with BACKUP=NETFS scheme. The documentation should be updated to reflect that, maybe I'm not the only one who misunderstood that.
Nevertheless I think there should be an option to do a BACKUP=TSM in combination with TSM_RESULT_SAVE=n where I'm not left with two ISO images. I would like to contribute this myself, but I nee

[2015-08-20 05:57] keilma commented on #637
@gdha works fine :)

[root@mkrear ~]# grep servers /nsr/res/nsrladb/*/* | tail -1 | awk '{print $2}' | sed -e 's/[;,]//'
mknw01.marcelk.brs.local

Regards
Marcel

[2015-08-20 06:14] schlomo commented on #638
BTW, I was just wondering why you had to add so much config for the CIFS use case. IIRC that should happen automatically once you set `BACKUP_URL=cifs://...`

See https://github.com/rear/rear/blob/master/doc/user-guide/03-configuration.adoc for an example.

[2015-08-20 06:15] keilma opened #640 "NSR POOLNAME variable"
Hi,

we've already discussed this on the mailing list. There should a possibility to define a NSRPOOLNAME variable for overriding the pool name. When mminfo does not return any results the default pool is used. When using the default pool und there is no device in it the backup fails with this message:

[code]

And if I have some backups of one client in more than one pool, with the mminfo query o

[2015-08-20 06:52] gdha commented on #634
@eholtz @schlomo Well the OUTPUT_URL was never a concern (in most cases with external backup), but I agree you can use it to have second copy.
Wonder what Schlomo idea is about the scope of OUTPUT_URL=null: shall we stick to NETFS mechanism or go broader?

[2015-08-20 08:35] schlomo commented on #634
@gdha grepping through our code makes me think that the actual challange is that there is no single tool to handle all types of OUTPUT_URL which means that we need lots of code to handle the different types of URLs.

Another questions: Why do we need OUTPUT_URL=null if the default of OUTPUT_URL is empty? So far most ReaR variables can be set to empty or unset to disable a feature.

[2015-08-20 08:59] hpannenb opened #641 "43_prepare_timesync.sh: Wrong script in rescue image when using TIMESYNC=NTP."
Hi.
during some of my recovery tests on a RHEL6 server I investigated the current

https://github.com/rear/rear/blob/master/usr/share/rear/rescue/default/43_prepare_timesync.sh

does not prepare the correct `90-timesync.sh` script in `/etc/scripts/system-setup.d/` of the rescue image when using `TIMESYNC=NTP` in the ReaR config file. This leads to a failure during startup but does not seem to have

[2015-08-20 10:56] gdha commented on #636
See http://www.syslinux.org/wiki/index.php/Library_modules
Added liblua.c32 but also with that liblua.c32 (insolinux in debug mode):
[code]
nothing happens anymore

[2015-08-20 11:46] hpannenb commented on #641
I checked the situation. In principle the script ``90-timesync.sh`` is working. Its output is as follows:
[code]
The error is initiated with the command ``ntpd -q -g``. Maybe it is worth extending the COPY_AS_IS section in the ``43_prepare_timesync.sh`` to also copy ``/etc/ntp/*`` ?

[2015-08-20 13:21] gdha commented on #636
See https://bugzilla.redhat.com/show_bug.cgi?id=1255398

[2015-08-20 13:37] schlomo commented on #640
Please try the fix from the issue_640 branch:

[code]

(or deb as you need).

[2015-08-20 14:38] ravis1 commented on #635
Hi
No issue resolved thanks for your help

Thanks

[2015-08-20 14:38] #635 closed

[2015-08-20 14:38] ravis1 commented on #635
Issuer resolved

[2015-08-20 14:46] keilma commented on #640
Hi Schlomo,

thank you, worked!

I discovered one strange thing with this branch:

- At the end of the script no pool is printed and this worked with my old version:

 pool           retent  name
============================

Shall I create a new issue for that?

Kind regards
Marcel

[2015-08-20 15:22] lrirwin opened #642 "rsync restore: --anchored invalid rsync option"
I encountered an issue when trying to restore due to the entry of BACKUP_PROG_OPTIONS="--anchored" in conf/default.conf.
rsync does not have an option "--anchored", so the restore fails, grub-install fails, etc.
The backup works... so it must not be picked up during "rear mkbackup" - only during the restore operation.
Setting BACKUP_PROG_OPTIONS="" in /usr/share/rear/conf/default.conf
fixes the pr

[2015-08-20 15:57] schlomo commented on #640
@keilma let's keep everything related to my changes here. Can you please be more specific? Is this an error or a cosmetic thing? Can you please try to look into the scripts I changed and see if you can find the cause? Thanks a lot!

[2015-08-20 18:07] keilma commented on #640
@schlomo I think it's a NetWorker problem and not a problem with the current branch. Lets take a look at a normal mminfo query:

[root@mkrear ~]# mminfo -s mknw01 -a -q client=mkrear -r pool,name
 pool          name
dd160_ALL      **/var/lib/rear/**
...

In the script you use this grep command:

++ grep -E '/var/lib/rear/recovery/cfg2html/mkrear.marcelk.brs.local.html|/var/lib/rear/output/rear-mkr

[2015-08-20 19:00] keilma commented on #640
@schlomo the problem is giving "save" more than one file to save:

[root@mkrear ~]# save -s mknw01 -e day -b dd160_ALL **/var/lib/rear/recovery/cfg2html/mkrear.marcelk.brs.local.html**
[root@mkrear testfolder]# mminfo -s mknw01 -q client=mkrear -r savetime,name
mknw01.DD.003  mkrear.marcelk.brs.local 08/20/2015 852 KB manual **/var/lib/rear/recovery/cfg2html/mkrear.marcelk.brs.local.html**

[root@

[2015-08-20 19:03] keilma commented on #640
Forgot in my previous post: I'm using "USE_CFG2HTML=y"

[2015-08-20 19:08] schlomo commented on #640
@keilma so you are telling me that BACKUP=NSR and USE_CFG2HTML=y are not compatible? If so then please open a new issue for that.

I am basically waiting for your final feedback if I should merge this branch upstream or if you want more changes/fixes.

[2015-08-21 00:55] X4 commented on #413
I think the most usable solution for @gdha and you would be in adding Pre/Post and Event based conditions to ReaR. ReaR could then run custom programs and run/pause/skip based on the return code provided.

[2015-08-21 06:06] keilma commented on #640
@schlomo no, they are compatible, but your grep command does not work because the save set ("name") is getting a other name when save is used with two files. I will open a new issue for that.

You can merge this branch, it worked and is a nice enhancement.

Regards
Marcel

[2015-08-21 06:29] keilma opened #643 "NSR "# show the saved result file" does not work when using USE_CFG2HTML=y"
Hi,

the "show the saved result file" part in 95_nsr_save_result_files.sh does not work when USE_CFG2HTML=y is used. The problem is how NetWorker names it's save sets. When USE_CFG2HTML=n, only one file is saved (the commands are manual save's, but rear is using the same syntax in the script):

save -s mknw01 -e day -b dd160_ALL /var/lib/rear/output/rear-mkrear.iso
Name for this backup in the medi

[2015-08-21 08:39] schlomo commented on #640
CFG2HTML topic moved to #643

[2015-08-21 08:39] #640 closed

[2015-08-21 08:47] schlomo commented on #413
ReaR already allows dropping Bash scripts into `/usr/share/rear/*`to extend the different stages as needed. I would hope that this is enough, or do you need something different?

You could easily create a `rear-mylvmbackup` package that adds some files to the ReaR script collection so that those added scripts will be called as part of the regular ReaR execution. Thereby providing the glue between

[2015-08-21 11:54] gdha opened #644 "OBS: debian 7/8 - package creation error"
We get a failed at OBS for Debian 7 and Debian 8 package build:
[code]

[2015-08-21 12:03] jmp242 commented on #638
I think it was related to duply not working for me with rsync, so I
tried file based as suggested in their docs where I handle the mount in
the pre command. Not specifically a ReaR issue there, that's Dulpy, it's
just that it seems to cause an issue on restore from the ReaR boot disk.
I'm thinking about testing with ssh to see if it could be related, but
the build and restore would be the same no

[2015-08-21 12:25] gdha commented on #638
I wonder if this is related to #642 ?

[2015-08-21 12:34] jmp242 commented on #638
Not sure... I wasn't using rsync directly, only using inside of duply,
and currently (in generating the errors) using a file:/// backed by a
mounted CIFS directory. Although, if you mean that duply in general is
crashing because of getting an unexpected restore flag, then that could
be what's going on.

James Pulver
CLASSE Computer Group
Cornell University

On 08/21/2015 08:25 AM, gdha wrote:

[2015-08-21 14:29] gdha commented on #642
By default we see (with dump)
[code]
The `BACKUP_PROG_OPTIONS` option should not be used with rsync - it is meant for tar. We will remove this option in the restore script.
Be aware that `BACKUP_RSYNC_OPTIONS` is an array to remove e.g. the verbose define in the `site.conf`:
[code]
Well, we will change this in the `default.conf`  so that the `-v` option with rear itself is honored with rsync and i

[2015-08-21 14:48] gdha commented on #642
commit 02af81d57dd5f5650afcb7c0ec314592ef17e10d and 0168c2adcff7b1f0490f901c88b9d53f1d3af46a to fix the rsync backup/restore issue
please test it out when convenient.

[2015-08-22 08:17] gdha opened #645 "USB disk mount point added to backup causing rear to rsync infinitely"
the ` site.conf` contains:
[code]
and the `/dev/sdb1` usb disk was mounted during the `rear mkbackup` activities and was added to the `disklayout.conf` file as:
[code]
but should have been excluded automatically

[2015-08-22 20:30] X4 commented on #413
Thank you @shlomo :+1: I'm already perfectly fine with what ReaR provides.

[2015-08-24 08:13] gdha commented on #645
script `/usr/share/rear/layout/save/default/32_autoexclude.sh` says:
[code]
Apparently, only true for the USB_DEVICE (defined in `OUTPUT_URL`) and not for the same USB device already hard-mounted on e.g.  `/mnt`  instead of `/media`

[2015-08-24 14:11] multipathmaster opened #646 "rear backup that makes one ISO?"
Hello, MultipathMaster here,

We have a certain set of systems within our environment that have a horrible network connection (a t-1), which is only 1.5 megabit a second, and so we were wondering if there was a way to actually have rear (when mkbackup or mkrescue is issued) make one ISO for an entire system?

I understand that this would mean that the ISO would be 10 gigs or largers.

I really wan

[2015-08-24 15:11] #413 closed

[2015-08-24 18:28] kostgr commented on #214
I've tried to make UEFI ISO on openSuse 13.2 with the rear from the Archiving repository (http://download.opensuse.org/repositories/Archiving/openSUSE_13.2/ - reported version of rear is 1.17.1???) with the patch as stated by @pavoldomin on output/ISO/Linux-i386/82_create_iso_image.sh file.

I could create an ISO, but it can't be booted from (grub rescue console appears and I couldn't do anything

[2015-08-25 07:37] tigerfoot commented on #551
Having bconsole as requirement, just to pick the bareos dir ip address is kinda overkill.
(Add binaries to systems, + specific configuration on dir and fd)

Why not just a REAR config line replacing
 is the director server present? Fetch from /etc/bareos/bconsole.conf file
BAREOS_DIRECTOR=$(grep -i address /etc/bareos/bconsole.conf | awk '{ print $3 }')

[2015-08-25 08:34] gdha commented on #551
@tigerfoot why not preparing a pull request for it? It seems to make sense to me (however, I cannot test it out)

[2015-08-25 08:37] gdha commented on #214
@kostgr If you have a support contract with SLES - why don't you request a solution? It takes much too long and they do not listen to me...

[2015-08-25 08:39] gdha commented on #646
@multipathmaster see the man page on how to create an ISO with archive included. Feedback is of course more then welcome. It should make multiple ISO images.

[2015-08-25 09:06] kostgr commented on #214
@gdha Unfortunately I have no support contact with SLES - only login for openSuse. And the issue seems to be related to the grub installation on the disk image. I'm not so experienced with grub to check, whether it is the grub installatoin or iso image issue.

[2015-08-25 12:53] multipathmaster commented on #646
GDHA,

Again you have been more than helpful...

BACKUP=NETFS
OUTPUT_URL=file:///opt/hd/sa/mondo
BACKUP_URL=iso://backup
OUTPUT=ISO
ISO_DIR=/opt/hd/sa/mondo
ISO_PREFIX="rear-$HOSTNAME.dc9098-$(date "+%y%m%d.%H%M%S")"

Here is what I have to begin building the ISO files and the tar.gz archive, however quick question, how can I tell rear to use a different tmp directory than /tmp.   Running out of s

[2015-08-25 13:05] gdha commented on #646
@multipathmaster the `conf/default.conf` says:
[code]

Rule of dumb, always check the default.conf file first ;-)

[2015-08-26 18:05] schlomo commented on #551
Yes, this sounds like a good point. Do you need help to create a pull request?

[2015-08-26 19:01] gdha commented on #551
@tigerfoot I re-open the issue for better visibility

[2015-08-27 05:59] tigerfoot commented on #551
Well it need a deep analysis, but from what I've quickly inspect, was that a global variable would be better than anything else.
Now about removing bconsole as dep, concern a number of script and process. (Most of them out of my actual knowledge. I've not been using rear yet :-)), the restore.
I'm afraid to not have enough free time to dig into this right now.

[2015-08-27 10:24] kostgr opened #647 "Error during recovering (layout recreation) - dosfslabel /dev/sdb1 NO NAME"
I've got error during layout recreation with the following message:
![unabletorecover_becauseoffslabel_no_name](https://cloud.githubusercontent.com/assets/6648353/9518170/f4413412-4cb4-11e5-9892-57bfb9797160.png)

It looks like missing quoting of the partition name.
openSuse 13.2 UEFI backup image, rear 1.7.1,

Recovering started by loading in the BIOS mode (booting in UEFI mode failed - see also

[2015-08-27 13:51] multipathmaster commented on #646
GDHA, you are the man!  We are working now!  We will test, but you can close this support case out, this gets us across the finish line for sure for this particular project.  Thanks again for your time.

[2015-08-27 14:29] #646 closed

[2015-08-28 08:27] gdha commented on #647
@kostgr I have patched script `layout/prepare/GNU/Linux/13_include_filesystem_code.sh`
If you give it a try?

[2015-08-28 09:27] bastiw88 commented on #411
@gdha
Sorry for the delay.
I tryed to test it with the following Settings:

lgtoclnt                               8.1.2.3
rear                                   1.17.1

Ubuntu 12.04.5 LTS
3.2.0-37-generic

site.conf:
BACKUP=NSR
OUTPUT=ISO
OUTPUT_URL=nfs://XXX.FQDNl/data/col1/backup/rear/output
NSRSERVER=BAK.FQDN
RETENTION_TIME="5Weeks"
USE_CFG2HTML=y

Same error :-(

Any idea?

Thanks
BR

[2015-08-28 09:29] gdha commented on #642
@lrirwin If you want you can test it out as I think it should be fixed in the meantime

[2015-08-28 09:30] bastiw88 commented on #411
additional information:

Relax-and-Recover 1.17.1 / Git
Using log file: /var/log/rear/rear-XXX.log.lockless
Dumping out configuration and system information
This is a 'Linux-x86_64' system, compatible with 'Linux-i386'.
System definition:
                                    ARCH = Linux-i386
                                      OS = GNU/Linux
                        OS_MASTER_VENDOR = Debian

[2015-08-28 11:21] kostgr commented on #647
The issue is fixed now. Thanks for a quick response.

[2015-08-28 11:21] #647 closed

[2015-08-28 12:36] sebastianlederer commented on #551
The bconsole program is included for several reasons:

- automatically check the connection to the bareos director
- check if the restore is complete when using fully automatic restore
- make it possible to do the restore manually from the console of the machine to be restored

Arguably, all those are not strictly necessary, but I think they will make things a lot easier and less error-prone for m

[2015-08-28 12:43] tigerfoot commented on #551
Absolutely true @sebastianlederer this is what I've seen in the restore script.
I will have to check how I can in my workflow bypass those. And then perhaps being able to make everything optionnal. But this will not happen before 1 or 2 months.

I'm still convinced that the way the bareos-director address is checked need improvement
like at least checking you've got something not empty and if it's

[2015-08-28 12:51] gdha commented on #641
@hpannenb Thank you for reporting it - it has been fixed in the master tree

[2015-08-28 12:53] gdha commented on #638
@jmp242 I have done several tests with DUPLICITY and I don't see any segmentation faults. Allbeit I've enhanced the code a bit. To be released in 1.17.2

[2015-08-28 13:01] gdha commented on #643
@keilma before making any conclusions - are the two files saved via NSR, or not?
And if yes, it would mean that checking `/var/lib/rear` would be enough with the `mminfo` command?

[2015-08-28 13:05] gdha commented on #411
@bastiw88 if you check the installation manual of NSR does it mention anything special? Like a package that must be present to make NSR work properly? I think we need to verify this first before doing something on the rear side...

[2015-08-28 13:07] gdha commented on #607
@phracek I believe we have fixed all `/tmp/` related stuff in rear 1.17.2 - I will make a release beginning of next week

[2015-08-28 13:16] jmp242 commented on #638
I'm not sure what's special about my set-up. I have had NETFS work
perfectly including a restore. I then just used duply to do a second
restore from the incremental backups and that worked pretty well for me.
So I have a workaround.

James Pulver
CLASSE Computer Group
Cornell University

On 08/28/2015 08:53 AM, gdha wrote:

[2015-08-28 13:27] jsmeix commented on #544
@gdha

(FYI: late reply because I was on vacation.)

Currently there is no need for rear upstream to do something here.

If at all there might be a note added to the rear documentation that currently it does not work for partitions of type 'gpt_sync_mbr' aka. 'hybrid (synced) MBR' .

[2015-08-28 13:52] bastiw88 commented on #411
@gdha Please find all depentencies in this deb package below:

 new debian package, version 2.0.
 size 110152288 bytes: control archive= 3707 bytes.
     870 bytes,    17 lines      control
    5746 bytes,   235 lines   *  postinst             #!/bin/sh
    1879 bytes,    74 lines   *  postrm               #!/bin/sh
    1602 bytes,    65 lines   *  preinst              #!/bin/sh
     809 bytes,

[2015-08-28 14:28] keilma commented on #643
@gdha it depends. When cfg2html is installed and used there are two files saved and the saveset is named **/var/lib/rear**:
[code]
When cfg2html is not installed or set to "no" the save set is named **/var/lib/rear/output/rear-mkrear.iso** because that's the only file saved:
[code]

When cfg2html is used you can grep for ```/var/lib/rear```, if not you have to use ```/var/lib/rear/output/rear-mkre

[2015-08-31 06:46] gdha commented on #643
@keilma what would be the output if you saved a 3th file, e.g. `/var/log/rear/rear-$(hostname).log` ? I guess the output would be different then as well? Perhaps there is a better way to intercept the desired output?

[2015-08-31 15:29] hpannenb commented on #641
Works as supposed to. Thanks. :-)

[2015-08-31 15:29] #641 closed

[2015-08-31 16:58] keilma commented on #643
@gdha yes, it's different:

[code]

One solution could be to use the "-N" switch of save to give the save set another name:

[code]

An easier way could be to use the output from save for your grep command:

[code]

In this example the save set is named "/var/lib/rear".
Hope that helps.

Regards
Marcel

[2015-08-31 17:51] multipathmaster opened #648 "NETFS backup --> ISO_MAX_SIZE"
So, fiddling around a bit more with the NETFS backup as we have a deliverable for backing up everything to an ISO.  I was wondering, I was using the ISO_MAX_SIZE of 3500  to keep the backup.tar.gz file under the 4gig limit.  I was under the impression that it would only split the backup.tar.gz and then would dd those (however it uses the /usr/share/rear/NETFS/default/50*), but what I found out is

[2015-08-31 19:50] schlomo commented on #648
What happens if you set ISO_MAX_SIZE to something large?

[2015-09-01 12:24] multipathmaster commented on #648
It doesn't matter what I set ISO_MAX_SIZE to.  if the backup.tar.gz exceeds 4GiB, it will not be able to write this file to the ISO image.  What I have done so far is in /usr/share/rear/backup/NETFS/default/50*
is to make a new variable called SPLIT_COMMAND2   as well as defining a new variable in /etc/rear/site.conf called BKUP_MAX_SIZE=3500MB    which I call upon in the SPLIT_COMMAND2, which rep

[2015-09-01 13:21] gdha commented on #648
@multipathmaster @schlomo  See also issue #581

[2015-09-01 13:48] multipathmaster commented on #581
So yes, having -allow-limited-size to $ISO_MKISOFS_BIN will enable the ISO image to become larger than 4.7 GIGs.  However the real issue is that in RHEL6/CENTOS6 mkisofs is actually a soft link back to /etc/alternatives that points to genisoimage.  The issue is that genisomage is not infact mkisofs, with the REAL version of mkisofs being a subset of a tools package called CDRTOOLS.  Which is open

[2015-09-01 14:10] multipathmaster commented on #648
Thanks for the info GDHA, I went ahead and added my 2 cents to that post as well.  Really comes down if we can add the BKUP_MAX_SIZE option within the conf file and utilize that other way of doing the split.  Again I really need to test the restore ability, and I am currently awaiting an end user to give me the okay to reboot a machine and at least do a dry run of this concept, i believe it will w

[2015-09-01 16:15] schlomo commented on #648
@multipathmaster from an architectural point of view I think that forcing ISOs bigger than 4GB is an uphill battle. Splitting and merging could be a viable option if you get it to work in a stable matter. I will comment on your code after it works and when you will send us a pull request :-)

Better would be IMHO to try to avoid using ISO altogether (as it is the "wrong" tool for your job and you

[2015-09-01 16:31] multipathmaster commented on #648
Schlomo, we are not going down this pathway without a solid reason.  Reason being, these are systems that are isolated on the network with only a 1.5 meg WAN connection back to the main network.  Because of this, we cannot do our normal TSM restore.  However, that being said, we ARE taking advantage of the TSM backups/restores, especially within our DC environment, as well as utlizing multipath an

[2015-09-01 17:15] schlomo commented on #648
@multipathmaster I understand your situation. What I meant is that if you never plan to burn the ISO onto a physical media then IMHO you don't need an ISO.

For example, if you use VMware and you have some automation to transfer the ISO from within a VM to the VMware ESX datastore then you could probably also manage to attach a VMDK hard disk to the VM and use that with the USB support in ReaR.

O

[2015-09-03 06:24] bastiw88 commented on #411
This configuration works in /etc/rear/site.conf:

COPY_AS_IS=( ${COPY_AS_IS[@]} /usr/lib/x86_64-linux-gnu )

BR

[2015-09-03 08:16] schlomo commented on #411
That will enlarge the rescue image by all the libraries in that directory. Better would be to be more specific and take only what we need. Also, the library path will be different depending on the distro etc. That is why we have the LIBS variable for libraries. The content will be resolved and searched for, not simply copied as is.

[2015-09-03 08:39] gdha commented on #411
@bastiw88 could you test out with `ldd` command which libs it actual needs?

[2015-09-03 08:41] schlomo commented on #411
And if `ldd` does not show it, please try to use `strace` to find out which libraries are loaded dynamically.

[2015-09-03 14:37] jsmeix commented on #629
Right now I noticed that in openSUSE Build Service there exists also the architectures ppc64p7 and ppc64le.

I assume when rear is supported on ppc and ppc64 then it is perhaps also supported on architectures like ppc64p7 and ppc64le?

@k0da
could you confirm whether or not rear is also supported on architectures like ppc64p7 and ppc64le?

If rear is also supported on ppc64p7 and ppc64le the spec

[2015-09-03 14:45] k0da commented on #629
well, ppc64p7 is something Fedora invented.  OBS supports this but we have none SUSE distro built for it.

ppc64le definetely.  Both openSUSE Tumbleweed and SLES12 have support for ppc64 little endian

[2015-09-09 14:34] mattihautameki opened #649 "wrong uuid in initrd for bootfs"
Hi!

I am having problems with the uuid of /dev/sda1 in the initrd created within the recovery process.
my setup:
 * SLES12 with latest patches applied
 * Relax-and-Recover 1.17.1 / Git
 * /boot on /dev/sda1
 * the rest on lvm with /dev/sda2 as PV

I do a restore of the same machine where the backup comes from. Before the restore my disks are discoverd like this:
<pre>
RESCUE BLIXESX3:/dev/disk/by

[2015-09-10 06:57] tomglx commented on #643
Is there a good reason not to solve this issue by using the -N option?
I've created a patch that creates a saveset name and uses this for saving and verifying. If a networker save fails, the entire saveset won't be queryable. So a partial save won't be
concealed by using this option.
[code]

[code]
What do you think about this?

Regards, Thomas

[2015-09-10 07:27] gdha commented on #643
@tomglx I like the idea - why not create a pull request?
@keilma Would you be able to test this out and return your findings?
Sorry people I cannot test this out myself...

[2015-09-10 07:29] keilma commented on #643
Hi,

@tomglx: yes, I also mentioned the -N switch in my post above and I think that's the best way to solve this.
@gdha: sure, can you create a new branch with this fix or should I edit my scripts manually?

Regards
Marcel

[2015-09-10 07:36] gdha commented on #649
@mattihautameki I am trying to understand where the `c9227301-e341-47df-970f-46f786beead8 -> ../../sda1` is coming from. Did you check the rear.log after the recovery?
If I understand it well in the savelayout file and before the recovery the UUID was the correct one (`ef2113b0-9341-415d-a45d-6835beae7148`)? Therefore, we need to find out why the UUID was changed after recovery? Was it forced some

[2015-09-10 07:39] tomglx commented on #640
This change only fixes part of the problem. Sometimes the used mminfo just doesn't give use the right
pool. I'm administering a slightly bigger networker scenario and that just doesn't cut it. There can be
multiple pools used by a client. Like a pool for database backups, one for clones of backups and so on. So one at least must have the option to oversteer the result of the mminfo command, not a

[2015-09-10 11:26] mattihautameki commented on #649
There is a problem in the rear.log which belongs to the integrity check. But this is because of my ISO_MAX_SIZE setting.
Yes, before the recovery and in the savedlayout the uuid is correct. Accodring to the log, the Filesystem aswell is created with the correct uuid.

I found some errors in the journal
<pre>
Sep 10 10:44:49 BLIXESX3 systemd-udevd[2240]: failed to execute '/usr/sbin/multipath' '/us

[2015-09-10 13:40] rg-fine opened #650 "SELinux: missing /.autorelabel in RHEL 7.1"
##### Information:
Rear-Version: 1.17.2
OS: RHEL 7.1 latest
SELinux: targeted/enforcing
Backup-System: TSM

##### Problem:
Login after restore is not possible. Error: /bin/bash => Permission denied.
It seems, that no /.autorelabel will be created after restore-process. If I afterwards create the file by myself (rd.break), everything is working fine. Same problem exists also when I use BCKUP_SELINU

[2015-09-10 13:49] jsmeix commented on #556
FYI some very first information:

I did some reverse-engineering how our installer does the default btrfs setup for SLE12-SP1.

Up to now I found out (by inspecting SLE12-SP1 beta3 installation on a KVM virtual machine) that snapper is now needed (specifically /usr/lib/snapper/installation-helper) in the installation system (inst-sys for our installer and the rear recovery system for rear).

Curre

[2015-09-10 15:19] bhaubeck commented on #650
hey ralf,

nice to read you here.

maybe you hit the same issue as me some days ago?

see the mail below (or search for the thread "not booting further than initrd after successful restore")

solution:
it was just /run missing.

ben

-------- Forwarded Message --------
Return-Path: <bhaubeck@gmail.com>
Received: from [172.29.2.245] (p5B30D216.dip0.t-ipconnect.de. [91.48.210.22]) by smtp.gmail.com

[2015-09-10 18:22] rg-fine commented on #650
Hi Ben,

thx for your answer.  Unfortunately this is not the solution. The issue with /run was solved with version 1.17.2. The boot process does complete, but login is not possible unless you relabel the whole system with help of /.autorelabel. Of course only when selinux is enforcing. ;-)

Cheers, Ralf

[2015-09-11 08:03] rg-fine opened #651 "Additional files to initramfs"
Hi together,

not sure, if it's an issue or if it works as designed..

For me the ISO_FILES() array is a little bit useless, because this additional files will not be added to the initramfs and because of this they are not automatically available on restore time. Especially if you need a file like inclexcl for TSM (which otherwise will generate an error while trying to restore) you can not use the

[2015-09-11 08:40] schlomo commented on #651
Why not simply use the `COPY_AS_IS` array for this purpose?

[2015-09-11 11:06] rg-fine commented on #651
The answer is easy: because I did not realize that this array can be used for this purpose (the tar in the comment section was confusing me).
Sorry for this and many thanks for the hint. Works perfectly with COPY_AS_IS

[2015-09-11 11:37] schlomo commented on #651
Pull requests for documentation are always welcome :-)

[2015-09-11 11:37] #651 closed

[2015-09-11 15:26] gdha commented on #650
@rg-fine It could be that with the `BACKUP=TSM` that there is no script present that forces a SELinux relabel after the restore. Well, most likely as you reported the issue, and when I check with
`grep -r autorelabel /usr/share/rear` I cannot find a method which foresees this for TSM (or any other external backup program with exceptions of RSYNC, RBME and DUPLICITY).

What you could do to test it

[2015-09-11 15:30] #645 closed

[2015-09-11 15:30] #642 closed

[2015-09-11 15:31] gdha commented on #629
@jsmeix moved the milestone for the latest changes that are not yet implemeneted

[2015-09-11 15:32] #624 closed

[2015-09-11 15:32] #608 closed

[2015-09-11 15:32] #607 closed

[2015-09-11 15:32] #605 closed

[2015-09-11 15:32] #584 closed

[2015-09-11 15:33] #560 closed

[2015-09-13 18:33] hi-flyer opened #652 "Bareos and Rear not recovering"
I used version 17.2 of Rear (from git) to create a usb backup using bareos. the configuration parameters in local.conf were

OUTPUT=USB
USB_DEVICE=/dev/sdb1
BACKUP=BAREOS
BAREOS_CLIENT=zeus-fd

this created a USB with bootable Rear recovery.
I booted a second dell computer with this usb, after reassigning eth0 (which was not connected in any case) and wlan0 (which is my access to the bareos server

[2015-09-14 09:37] tomglx opened #653 "NSR checklayout and backup expiration"
rear checklayout detects if the prepared iso image is obsolete. But it doesn't check if all of the available
NSR backups have expired. So how does one prevent this from happening?

I would prefer that checklayout detects this and so a new mkrescue and backup would be done.
By the standard cron job. What could be the correct way to integrate this in the checklayout workflow?

[2015-09-14 11:01] jsmeix commented on #629
I need feedback from Fedora users whether or not rear is also supported on ppc64p7.

[2015-09-14 11:31] gdha commented on #652
@sebastianlederer Hi Sebastian - are you able to have a look at this issue and respond to it?

[2015-09-14 11:32] gdha commented on #653
@tomglx Indeed that makes sense. How would you include this test? You are always welcome to prepare a pull request...thx

[2015-09-15 06:05] tomglx commented on #653
Well, I'm proposing two possible solutions.
#1. Implement a media (backup) dependent script template for checking the availability and consistency of the made ISO backups. This may also be handy to check if the iso image is still available on remote targets like http servers or remote rsync directories.
#2. Introduce a new optional parameter for a refresh interval. If the age of the last created I

[2015-09-15 07:22] rg-fine commented on #650
@gdha Thank you very much for the answer. I could test your recommendation. For me it worked like a charm to move the autorelabel script :-)

[2015-09-15 14:21] multipathmaster commented on #648
So restoring from this methodology is a no go.  When you boot from the rescue media, after creation, the rear program itself doesn't know where the backup.tar.gz is.  It keeps looking in somewhere in /tmp, when my site.conf file specifically has the BACKUP_URL already specified.

Specific error is the following:  ERROR:  Backup archive '/tmp/rear/<random_name>/outputfs/isolinux/backup.tar.gz' not

[2015-09-17 09:00] yunsr opened #654 "Wrote ISO image: Saving result files with NSR"
HI, i have updated Relax-and-Recover to 1.17.2 vers. OS SlES 11sp3.
When i make rear -v mkrescue and  rear saving ".iso" file to NSR, backup job freezes on networker side and wait for writeable tape in NSR pool which i didn't specify in /etc/rear/local.conf.
local.conf:
OUTPUT=ISO
ONLY_INCLUDE_VG=( "system" )
BACKUP=NSR
NSR_DEFAULT_POOL_NAME=TSTSYSBOOT00

So it must be saved to TSTSYSBOOT00 but re

[2015-09-17 09:12] rg-fine opened #655 "Recovery with teaming-interface not possible"
Hi together,

on a RHEL 7.1 system with TSM-Backup and a team-interface as default interface I tried to do a recovery with no success. The team-interfaces will not be online while recovery process starts. As I can see, the kernel modules for teaming are available and as I know you support bonding. Do you also support teaming or is there a special option I have to activate for teaming support? It's

[2015-09-17 13:18] wiggett opened #656 "Cannot see correct MAC addresses on HP CN1100E CNA card"
Hi Everyone,

Does anyone know if the hardware HP StorageWorks CN1100E Dual Port Converged Network Adapter
is supported in Rear. After booting rear ISO I get the error

SIOCGIFFLAGS: No such device
SIOCGIFMTU: No such device
SIOCGIFFLAGS: No such device
SIOCGIFMTU: No such device

Then when I ifconfig -a to start building the network to rear -v recover I see incorrect MAC addresses (from the sourc

[2015-09-17 14:40] schlomo commented on #656
The ReaR rescue image should support all the hardware that the original system supports.

So, does your original system support your network card? Or are you trying to move to new hardware? In that case you will have to install the neccessary driver on the original system and recreate the ReaR rescue image.

[2015-09-18 06:40] tomglx commented on #654
Please see issue: NSR POOLNAME variable #640
I've made a patch that supports exactly that. Last Posting

[2015-09-18 07:10] yunsr commented on #654
thnx tomgix! your patch solved this problem. Option 'NSR_POOL_NAME' works now!

[2015-09-18 14:57] wiggett commented on #656
Hi schlomo - Thanks for your reply - I managed to get the system up using the rear iso and completed a rear -v recover. The issue I'm having now , after I reboot , is that it see's all the old MAC addesses on the ethernet cards from the source server . When I change to the new MAC addresses , the OS complains and the interfaces go down , it seems it's still getting network configurations from the

[2015-09-18 15:15] schlomo commented on #656
You will need to provide much more detail for me to say anything. In general, ReaR patches the udev rules for the network cards and the network configuration files with the new MAC address. If there is more than one NIC in your system then ReaR should also ask you which new MAC to use for which old one. Did this happen?

[2015-09-18 17:49] wiggett commented on #656
No - but I think the issue is what you mentioned in the first reply - we are moving to new hardware so the source/original server probably doesn't have the  drivers for the newer emulex cards

[2015-09-19 09:29] gdha commented on #640
@tomglx Code in script `output/NSR/default/95_nsr_save_result_files.sh` has been adjusted (8ea497d). Could you verify it is ok? thx Gratien

[2015-09-19 09:31] gdha commented on #654
I've applied the patch @tomglx suggested. I assume we can close this issue, tight?

[2015-09-19 09:53] gdha commented on #653
I guess a script could be created to do this job, e.g. under `layout/save/NSR/default/65_check_iso_retention_time.sh`
see (via `rear -s checklayout`):
[code]
However, the content of the script is for me a bit difficult as I have no mean to test whatsoever.

[2015-09-19 13:19] tomglx commented on #640
@gdha : Looks ok to me. Thank you very much.

[2015-09-19 13:23] tomglx commented on #654
OK with me, but yunsr has last say.

[2015-09-19 15:14] tomglx commented on #653
Here is a draft for such a script. I'm not sure why the content of the EXIT_CODE variable is ignored.
Leaving by just executing exit 1 does work, but would that be the correct way?
[code]

[2015-09-21 06:43] yunsr commented on #654
ok with me too, this issue can be closed

[2015-09-21 06:50] #654 closed

[2015-09-21 11:03] sebastianlederer commented on #652
To help debugging, you can try manual recovery mode. Include the following in your rear configuration:

BAREOS_RECOVERY_MODE=manual

Then when booting the rear image and starting the recovery command, you will get a bconsole prompt. From there you can start a bareos restore job. Maybe then you can see more easily what is wrong.

You said that the original machine is still running, maybe the direct

[2015-09-21 11:39] gdha commented on #653
@tomglx is the output of `nsrinfo | awk ...` 1 when ISO is missing when you run it interactively? If the answer is yes, perhaps you could replace it with:
[code]

[2015-09-21 16:44] schlomo commented on #656
@wiggett I close this issue now since we cannot help you to install the driver in your source server :-)

If you need more help with this case, just reopen it agains.

[2015-09-21 16:44] #656 closed

[2015-09-21 16:59] schlomo commented on #655
@rg-fine can you please take a look at #530 if this helps you? It removes the dependency on the naming scheme of network devices. Maybe you can extend this code to also cover your use case?

[2015-09-21 18:26] tomglx commented on #653
@gdha I've included set -xv in the script. Here's the output. Although EXIT_CODE=1, rear -v checklayout finds no difference.
[code]

[2015-09-21 18:41] gdha commented on #655
@rg-fine Be aware the pull request is not yet in rear - testing is more then desired...

[2015-09-21 18:44] gdha commented on #653
@tomglx please move your script from layout/save/NSR/default to layout/compare/NSR/default
May mistake!

[2015-09-21 19:39] tomglx commented on #653
@gdha it wasn't the location. My fault. I didn't expected that the message "Disk layout is identical" wouldn't be printed if my test fails.
Now I've tested further and adapted my script to make it more verbose. It works.
[code]

[2015-09-22 10:18] hpannenb commented on #326
Hello. I am facing the same described behaviour from above when trying to recover a virtual machine (KVM) on Ubuntu 14.04.3. I am using the current Relax-and-Recover 1.17.2-git201509191126 / 2015-09-19. Maybe I can help in debugging the situation a bit further.

[2015-09-22 18:35] gdha commented on #326
@hpannenb That would be appreciated as this issue is open much too long already!

[2015-09-22 19:00] gdha commented on #644
FYI OBS works again and I did not change a bit :-/

[2015-09-23 07:40] jsmeix commented on #644
Some background information:

When you did not change your package it happens nevertheless relatively often that out of a sudden your package does no longer build in OBS for this or that repository.

The usual reason is that something else in the repository has changed which lets the build of your package now fail.

Often the root cause is that a change in one package in the repository is somewhat

[2015-09-23 07:40] #644 closed

[2015-09-23 08:17] gdha commented on #643
@keilma You need to click on *Fork* on the rear project on Github (login with your account first) to make a branch of rear yourself, which you can clone and do what you like with it. From this branch you can create a pull request towards the master branch of rear. Not that difficult once you get the hang of it ;-)

[2015-09-23 11:32] #139 closed

[2015-09-23 11:34] gdha commented on #143
no time to work on this - sorry

[2015-09-23 11:34] #143 closed

[2015-09-23 11:36] gdha commented on #137
fills up the queue and nothings has been done - so better close it for now

[2015-09-23 11:36] #137 closed

[2015-09-23 11:37] gdha commented on #116
we are doing our best, but is not an issue as such - close it

[2015-09-23 11:37] #116 closed

[2015-09-23 11:57] gdha commented on #227
The orphans VGs are filtered out since rear-1.16
[code]

[2015-09-23 11:57] #227 closed

[2015-09-23 12:09] gdha commented on #444
death case I'm afraid

[2015-09-23 12:09] #444 closed

[2015-09-23 13:14] jsmeix opened #658 "rear-1.17.2.tar.gz are different on sourceforge versus OBS"
When downloading rear-1.17.2.tar.gz from "the Sourceforge Downloads page" at http://relax-and-recover.org/download/ I get
<pre>
310548 bytes rear-1.17.2.tar.gz
</pre>

In contrast in OBS Archiving:Backup:Rear rear-1.17.2 there is
<pre>
310392 bytes rear-1.17.2.tar.gz
</pre>

Which one is the right one?

A diff between both shows that those files differ:
<pre>
doc/rear.8
packaging/rpm/rear.spec
</p

[2015-09-23 13:55] rg-fine commented on #655
@schlomo and @gdha: Many thanks for the hint with this pull-request. Unfortunatelly this will not solve the teaming issue as there is no setup function for teaming (like `bond_setup()`). Teaming interfaces are also declared as virtual devices and because of this you need a function which handle this fact.
[code]
Maybe I can spend some time in writing a function which is compatible to this pull req

[2015-09-24 14:00] schlomo commented on #648
@multipathmaster I guess that we cannot really help you debugging the scripts from afar.

With regard to having a _single point of failure_: As far as I understand your environment with the single VMware server (really "VMware server" and not "ESX server"???) I think that you will have a SPOF in any kind of design.

With regard to continuity planning I think that I would need to see the risks you

[2015-09-25 08:21] rg-fine commented on #655
@schlomo and @gdha: I've written a workaround which worked for me. Because teaming runs in user space it is not possible to take this interfaces online without the daemons and tools. So my solution adds the teaming ip-addresses to the first attached teaming-member to simplify it.

I used `/usr/share/rear/rescue/GNU/Linux/31_network_devices.sh` from https://github.com/rear/rear/pull/530 1:1 without

[2015-09-25 11:46] gdha commented on #655
@rg-fine Would it help if we accept the pull request of the BONDING/VLAN re-design so you could apply your addition into your trunk?

[2015-09-25 13:09] rg-fine commented on #655
@gdha: From my point of view it would help for sure, but I can only share my testings with RHEL 7 at the moment. So I don't know if the new Bonding and VLAN script will work correctly on other derivates...

Would you like me to do a pull request afterwards for the teaming enhancement or are you planning without teaming support at the moment? I think teaming will become more popular and important i

[2015-09-25 13:41] gdha commented on #655
@rg-fine yes - we have to move on and fix what needs to be fixed. And, yes afterwards you can create your pull request on top of it. Thanks Ralf for the hard work

[2015-09-25 14:56] rg-fine commented on #655
@gdha: Nothing to thank for. I have to thank YOU for all the appreciated work and for this great tool...

[2015-09-25 17:46] gdha opened #660 "expire the old noarch rear versions on Fedora Build service"
we see now a rear.noarch and a rear.x86_64 version on Fedora Build Service. We should expire the noarch version within a few days..

[2015-09-25 17:49] gdha opened #661 "remove mingetty from dependency list"
`mingetty` is no longer a dependency for rear as it uses `agetty` if it finds it.

[2015-09-25 18:20] gdha commented on #636
In Fedora 23 beta release it works again - great! The bugzilla nr above has been closed as-well.

[2015-09-25 18:20] #636 closed

[2015-09-25 18:22] gdha commented on #643
By the way in `defaul.conf` the default value for `USE_CFG2HTML=` now instead of 'y'

[2015-09-26 19:22] schlomo commented on #660
Just to be sure, was that the story where the conflicting RPM dependencies for different archs are the motivator for going away from noarch?

[2015-09-26 21:08] hi-flyer commented on #652
It turns out there are 3 issues. 1&2) the network dhclients are not establishing the IP connections. Because I am on a different machine, it detects that the mac addresses are different and asks me to select for a new idenity for ETH0 and WLAN0 which I did. It attempts to establish dhclient connections but fails for both. When I run ifconfig only local and wlan0 show up but no network IP connectio

[2015-09-28 14:11] gdha commented on #660
@schlomo indeed that was the main reason of the change (proposed by J Meixner)

[2015-09-28 15:10] gdha commented on #652
@hi-flyer Different machine - could it be that the wlan drivers were not loaded and therefore no IP address could be attached? Rear does not always load automatically drivers if the HW changed. Certainly when doing cloning on different HW this might happen. Using `dmesg` might help to identify what was and what was not loaded...
We are open for improvements (as always)...

[2015-09-29 08:22] jsmeix commented on #660
Actually it was @k0da who found the issue and reported it to me via personal mail.

Here what Dinar Valeev wrote in his mail to me:
<pre>
There is last remaining bit, packaging.

We package rear as noarch but do require arch specific
bootloader as rpm requirement. See Require: syslinux

As this is noarch package I propose to change it
to Suggests: syslinux, because we can't make arch
dependent Req

[2015-09-30 06:50] phracek opened #663 "How to create ISO image on s390x?"
Rear works currently only in x86_64 architectures. The ISO file is not created in s390x. ISO file is created in ppc64 and ppc64le, but it is not bootable.

rear-1.17.2-1.el7.noarch

There is output of rear for s390x.
[code]

There is output of rear for ppc64 and ppc64le.
[code]

[2015-09-30 07:04] gdha commented on #663
@mmitsugi @k0da Could you do me a favor and have a look if ISO booting on ppc and ppc64le still works? According RedHat it is broken and I have no HW to test with.
Architecture s390x is still unsupported.

[2015-09-30 09:23] schlomo commented on #663
Architecture s390x sounds really cool. Please provide pull requests with code for that. For obvious reasons we don't have one of those standing under our desk :-)

[2015-10-01 11:45] schlomo commented on #652
Are you sure that all the WIFI tools are included in the Rescue image? I don't remember seeing WIFI support in ReaR... Consequently I would be surprised if WIFI would work just like this.

[2015-10-02 00:40] hi-flyer commented on #652
I have tried to drop txt messages for dmesg, dhclient, ifconfig on the site to give info as to what am seeing but the system is saying it cannot process any of those files.

[2015-10-02 00:43] hi-flyer commented on #652
as I am not available for next 3 weeks, I will close this issue as I have a work around. thanks

[2015-10-02 00:43] #652 closed

[2015-10-02 08:38] schlomo commented on #652
@hi-flyer maybe it would help if you could open separate issues for your 3 problems?

[2015-10-02 10:13] gdha commented on #658
The OBS one was the latest stable uploaded and therefore the correct one. I've uploaded the OBS tar ball to Sourceforge.

[2015-10-02 10:13] #658 closed

[2015-10-02 15:04] gdha commented on #638
@jmp242 do you require support from us for something that is still unclear?

[2015-10-02 15:08] gdha commented on #634
@schlomo Soory for the delay - if OUTPUT_URL is empty it will get the same value as BACKUP_URL (which is mandatory) and it makes sense as you want your iso image saved (most likely on the same location as the tar archive)

[2015-10-06 05:30] mmitsugi commented on #663
@gdha sorry for my late reply.
Regarding the RHEL distro on Power, there are several versions with 2 architectures(ppc64 and ppc64le).

a RHEL6 / ppc64 (yaboot) : it should work. need to check
b RHEL7 / ppc64 (grub) : not tested yet. still work in progress
c RHEL7 / ppc64le (grub) : tested / worked when I did pull request. need to check

@jayfurmanek could you please check that RHEL6 / ppc64 (you

[2015-10-06 09:34] mmitsugi commented on #663
Regarding the RHEL7 / ppc64le, it works fine just by adding ppc64le arch to rpm spec file.
I've created the patch #665.
Tested platform : PowerVM: RHEL7.1 LE

[2015-10-06 09:40] mmitsugi commented on #663
@gdha After this patch is merged, it would be helpful if your team upload ppc64le rpm into official site.
Please let me know if additional verification or support is needed.

[2015-10-06 13:41] multipathmaster commented on #648
Yes, you are correct schlomo, this would extend much further away from community help on this.  At this point, we are going to stop development on our single nodes that we have to have backing up, and we are most likely going to stick with Mondo at this point.  For our DC systems, we have multipath/boot from SAN working great with RHEL7 (which is super awesome).  I am currently now focusing on ret

[2015-10-06 14:50] gdha commented on #663
@mmitsugi On OpenSuse Build Service only *ppc* is available for RHEL7. I cannot build automatically for *ppc64le*
If you have it uploaded somewhere we can foresee a link to your rpm?

[2015-10-06 15:25] jsmeix commented on #663
FYI:
currently OBS shows "RHEL_7 ppc64le excluded" because rear.spec is not yet up to date in OBS (i.e. currently rear.spec still has "ExclusiveArch: %ix86 x86_64 ppc ppc64").

[2015-10-06 17:18] jayfurmanek commented on #663
I just did a fresh checkout on RHEL6.6 ppc64

# usr/sbin/rear -V
Relax-and-Recover 1.17.2 / Git

# uname -a
Linux free146219.austin.ibm.com 2.6.32-504.el6.ppc64 #1 SMP Tue Sep 16 01:52:45 EDT 2014 ppc64 ppc64 ppc64 GNU/Linux

[root@free146219 rear]# cat /etc/redhat-release
Red Hat Enterprise Linux Server release 6.6 (Santiago)

And it created a bootable ISO just fine. The backup and restore to NFS

[2015-10-06 18:20] #648 closed

[2015-10-06 18:36] jayfurmanek commented on #663
@phracek

I notice you running RHEL as a VM under KVM. The console may be a bit different there than under PowerVM. I'll have to give that a shot.

There is one known console bug with RHEL6 when running under KVM on Power (while using a virtual video card and VNC as the transport). The console text displays very dark by default. Workarounds are discussed on this page (Search for 'guest considerati

[2015-10-08 08:33] jsmeix opened #666 "What RPM package version extension for adapted rear packages?"
@gdha, @schlomo

When a Linux distribution adapts a rear version to match special needs of that specific distribution, what does rear upstream recommend as RPM package version extension that the Linux distribution should use for its adapted rear packages?

Assume the Linux distribution's package is based on rear 1.17.2 (i.e. it is rear 1.17.2 with some patches from the Linux distribution).

Then t

[2015-10-08 08:44] jsmeix commented on #666
Interestingly the issue number of this numbering issue is "the number of the beast" - hopefully this is not a bad omen...

[2015-10-08 09:41] jsmeix commented on #666
For now I use
<pre>
rear-1.17.2.a  rear-1.17.2.b  rear-1.17.2.c  ...
</pre>
because a letter extension makes the difference more obvious than just one more number.

Furthermore I assume that rear upstream will not use letters but instead e.g. rear-1.17.2.1 for a sub-sub-release of rear 1.17.

In such a case I could use rear-1.17.2.1.a for a SUSE-specific patched package that is based on rear-1.17.

[2015-10-08 13:42] gdha commented on #666
@jsmeix We have no intention to go further then *major.minor.subnr* schedule. So, indeed a *letter* would make a distinction between upstream and vendor sub-release.

[2015-10-08 13:43] #638 closed

[2015-10-08 14:19] jsmeix commented on #666
@gdha many thanks for your prompt reply!

I had meant that a letter makes a distinction between upstream and vendor sub-release even if rear upstream decided at some time to go further then major.minor.subnr.

Right now I made my current SLE12-SP1 specific implementation public available in the openSUSE Build Service development project "Archiving" package "rear".

If you like to have a look what

[2015-10-08 14:19] #666 closed

[2015-10-08 14:23] jsmeix commented on #556
FYI:

For me the first basic step works (on a KVM/qemu virtual machine) that is:

Recovery of a SLES12-SP1 system with default btrfs structure (but currently without chattr support).

I made my current SLE12-SP1 specific implementation public available in the openSUSE Build Service development project "Archiving" package "rear" at

https://build.opensuse.org/package/show/Archiving/rear

[2015-10-09 06:02] gloserg opened #667 "recovery stalls when using TSM"
Hi,

I have encountered an issue where the above-mentioned happens. I have traced the problem to "dsmc q fi" not exiting automatically when the number of lines in the output is greater than 20. To workaround/fix it, i added the "-scrollprompt=no" parameter in the verify script "40_verify_tsm.sh":

LC_ALL=${LANG_RECOVER} dsmc query filespace -date=2 -time=1 | grep -A 10000 'File' >$TMP_DIR/tsm_file

[2015-10-12 12:02] gdha commented on #556
@jsmeix any plans to integrate the patch *SLE12-SP1-btrfs.patch* (https://build.opensuse.org/package/view_file/Archiving/rear/SLE12-SP1-btrfs.patch?expand=1) into the upstream track?

[2015-10-13 06:57] phracek commented on #663
I have a question, why rear use Arches (like Exclusive Arch).

I didn't see in code any language or arch specific issues.
In RHEL 7 we are building rear like noarch. Maybe this is a trouble.

[2015-10-13 07:19] phracek commented on #663
After calling rear -v mkbackup on PPC64LE I see.

[code]

ISO File:
[code]

After mounting to /mnt it contains:
[code]

I have tried to mount it via libvirt and result is:
[code]

[2015-10-13 07:21] phracek commented on #663
rear configuration which was used on PPC64LE:
[code]

[2015-10-13 07:24] jsmeix commented on #556
@gdha
yes, but see "Reasoning and background information" in
https://github.com/rear/rear/issues/666#issue-110397975

[2015-10-13 07:33] jsmeix commented on #663
@phracek
regarding your question why rear use Arches (like Exclusive Arch) see the comments in the rear upstream spec file packaging/rpm/rear.spec and https://github.com/rear/rear/issues/629

[2015-10-13 07:45] jsmeix commented on #629
For the record:

ppc64le also works on RHEL7 according to https://github.com/rear/rear/issues/663#issuecomment-145797975

ppc64le is added to rear.spec via https://github.com/rear/rear/pull/665

[2015-10-13 18:57] jayfurmanek commented on #663
@phracek
It looks like you are testing RHEL7 (grub) ppc64le.
I've reconfirmed that REAR does generate a bootable ISO for RHEL6 (yaboot). It also boot fine as a KVM guest - although there may be a console fix that's needed for KVM.

@mmitsugi
Have you tested the latest REAR version on RHEL7 (grub) ppc64le on KVM?

[2015-10-14 08:12] mmitsugi commented on #663
@phracek
I checked latest RHEL7 ppc64le (RHEL7.1 LE : RHEL-LE-7.1-20150219.1-Server-ppc64le) on KVM, and it works fine in my environment.
Here is my create_isofs part
[code]
file size seems to be slightly different, but almost same as yours.
rear configuration is same as well.

libvirt xml description is like following:
[code]
I have several questions:
* Could you provide the contents of ppc/booti

[2015-10-14 12:22] phracek commented on #663
My ppc/bootinfo.txt is the same:
[code]

Tested platform: 8 CPUs (virt Power8), 12 GB RAM, KVM guest
System is RHEL-7.2, though
# cat /etc/redhat-release
Red Hat Enterprise Linux Server release 7.2 Beta (Maipo)
#

# uname -a
Linux ibm-p8-generic-01-le02.lab.eng.brq.redhat.com 3.10.0-229.ael7b.ppc64le #1 SMP Fri Jan 30 12:03:50 EST 2015 ppc64le ppc64le ppc64le GNU/Linux
#

[2015-10-14 15:26] mmitsugi commented on #663
@phracek
Thanks for your quick answer. OK, I will check with RHEL7.2 LE Beta.

[2015-10-15 07:59] mmitsugi commented on #663
@phracek
I tested RHEL-7.2-20150820.0-Server-ppc64le and it seems to work fine.
[code]
[code]
So it might be possible that your RHEL beta is too early and has a problem...
Please let me know if you have chance to try with other GA version like 7.1 LE and still have a problem.

[2015-10-15 19:02] gdha commented on #649
@jsmeix Is this something you have seen before with SLES12?

[2015-10-16 07:35] jsmeix commented on #649
I do not regularly test rear with LVM.

My recent tests are with SLES12-SP1 and rear 1.17.2 on a virtual KVM/QEMU machine with a single 20GB virtual harddisk and there only the SLES12-SP1 default btrfs structure (i.e. no LVM) and for me the recovered system boots.

I am totally unable to regularly test various different kind of setups that are listed as supported by rear - I simply will never ever

[2015-10-16 07:50] phracek commented on #663
Well I will try it soon definitely.

And of course I will keep you inform.

[2015-10-16 11:42] jsmeix commented on #556
I enhanced my SLE12-SP1-btrfs.patch so that now
on my test system it works for me to recreate
the SLE12-SP1 default btrfs structure
plus
for mounted btrfs subvolumes that have the 'no copy on write'
attribute set those btrfs subvolumes are recreated with that
attribute set (by using 'chattr' on the btrfs subvolume directory).

From my current point of view the issue is hereby fixed
specifically fo

[2015-10-16 11:49] jsmeix commented on #649
@mattihautameki
if you like you may try out the newest SUSE-specific rear version
that is rear 1.17.2 with SLE12-SP1-btrfs.patch that makes it work
specifically for the default btrfs structure in SLE12-SP1, see
https://github.com/rear/rear/issues/556

You can get it from the openSUSE Build Service project "Archiving"
therein the package "rear" e.g. for direct RPM download
for SLE12 x86_64 from
htt

[2015-10-16 12:59] gdha commented on #556
@jsmeix looks ok to me - just prepare a pull request.
Furthermore, concerning the example config files - perhaps we can add these under `conf/examples/` ? What do you think?

[2015-10-16 13:00] mattihautameki commented on #649
I now upgraded the Server to the latest SLE12 Patchlevel and installed rear-1.17.2-1.x86_64. So far no difference. Initrd still has wrong Disk in **initrd.target.wants**.

Interestingly, I noticed that the problem only exists when I do the restore on the same machine the backup was created from. When the "destination /dev/sda1" has a different uuid than the the one from disklayout.conf or it has n

[2015-10-16 13:42] jsmeix commented on #649
You wrote
"problem only exists when I do the restore on the same machine"
and this together with that strange "multipath" stuff might
indicate that the root cause is "magic strings" on the disk
that get autodetected by such tools, see "man wipefs"
(excerpt)
<pre>
wipefs can erase filesystem, raid or partition-table signatures
(magic strings) from the specified device to make the
signatures invisib

[2015-10-16 13:47] jsmeix commented on #649
@mattihautameki
the rpm from
http://download.opensuse.org/repositories/Archiving/SLE_12/
has no change compared to upstream rear 1.17.2
that could solve this issue (as far as I can imagine).

[2015-10-16 13:51] jsmeix commented on #556
O.k. - for next week - I like to do a few more tests.

Have a nice weekend!

[2015-10-16 14:06] jsmeix commented on #649
@mattihautameki

an untested proposal how to add wipefs support:

In
usr/share/rear/layout/prepare/GNU/Linux/13_include_filesystem_code.sh
directly before each "mkfs ... $device" command
insert a "wipefs -a $device" for example as follows (untested !):
<pre>
wipefs -a $device
mkfs -t ${fstype}${blocksize}${fragmentsize}${bytes_per_inode} $device &gt;&amp;2
.
.
.
wipefs -a $device
mkfs.xfs -f $devi

[2015-10-16 14:31] jsmeix commented on #649
I implemented my above proposal how to add wipefs support
and did a quick test with my SLE12-SP1 test system
with btrfs and recovery still works for me (but I never had
such an issue where wipefs would actually be needed).

@mattihautameki
please also implement my above proposal how to add wipefs support
and test on your system if wipefs helps in your case.

[2015-10-17 11:43] kpieth commented on #102
This is an important feature, because after a rear recovery you always have unaligned Partitions and slow systems.
Currently I always have to manually enter Starting Offsets before recovery. The starting Position of the first partition is on my Systems(HP Proliant, VMware, SSD Laptop) always Sector 2048 to get proper alignment. A good explanation in german can be found here:
https://www.thomas-kre

[2015-10-17 17:58] schlomo commented on #102
@kpieth yes you are very right. Unfortunately nobody figured out an automated way of doing this so far. Any ideas?

[2015-10-17 18:00] schlomo commented on #661
See http://pikachu.3ti.be/pipermail/rear-users/2015-October/003223.html for a user report who had to manually install mingetty on Ubuntu.

Maybe we should keep mingetty as a dependency? Or add it to REQUIRED_PROGS on those systems that need mingetty? Or somehow make sure that at least one of the supported *getty progs is available?

[2015-10-19 07:06] gdha commented on #661
@schlomo I opt for the last option - will review the code in the coming days

[2015-10-19 08:16] jsmeix commented on #102
Only at a very quick first glance:

In the rear 1.17.2 sources I do not find any usage of "parted ... --align=optimal"

It seems regardless that in usr/share/rear/layout/prepare/GNU/Linux/10_include_partition_code.sh a FEATURE_PARTED_ALIGNMENT exists, parted alignment is nowhere used.

I am not at all a sufficient parted expert to understand if "parted ... --align=optimal" is actually the right so

[2015-10-19 08:27] jsmeix commented on #102
A general question:

Because at least low-end flash devices (a.k.a. USB sticks) require alignment at 4MiB or even 8 MiB for not-too-bad performance (cf. my last comment at https://hackweek.suse.com/12/projects/23 ) I wonder if rear should by default align at 4MiB or even 8 MiB - at least when the partition size is much bigger than 4MiB or 8 MiB (e.g. for partitions bigger that 100 MB).

This way a

[2015-10-19 08:41] gdha commented on #661
The following files/scripts contain references to `mingetty`:
[code]
Perhaps we should produce an (more) intelligent `prep` script which indenties if the Linux system still uses `mingetty` as primary tty program and if that is the case add it to `REQUIRED_PROGS`?
Otherwise, `agetty` would do.

[2015-10-19 09:15] schlomo commented on #661
+1 for the intelligent prep script.

[2015-10-19 09:17] schlomo commented on #102
Wild guess: I am not sure if `--align=optimal` will have any effect as long as we give `parted`exact Byte ranges as input. After all it would have to change our precise input to make the alignment. Maybe part of the problem is also to convert the math to work in MB so that `parted`will have some leeway how to interpret the MB numbers.

[2015-10-19 10:21] jsmeix commented on #102
Yes, that exact byte ranges as input for parted is what I question if that is really reasonable (at least reasonable by default) to be done by rear in my above comment regarding using 4MiB or even 8 MiB alignment by default (for for sufficiently big partitions).

In other words: I wonder if rear should by default round exact byte values to 4MiB or even 8 MiB chunks?

An obvious direct drawback is

[2015-10-19 10:50] jsmeix commented on #102
@kpieth regarding
https://www.thomas-krenn.com/de/wiki/Partition_Alignment
that reads (excerpt)
<pre>
4 KiB / 8 KiB Pages der SSDs
</pre>
I do not agree from my current point of understanding.

For flash strorage the physical block size for read/write operations is usually something like 4MB or 8MB (mega bytes not kilo bytes!) cf. my last comment in https://hackweek.suse.com/12/projects/23

I thin

[2015-10-19 15:45] Kamoul opened #670 "rear mkbackup with multiple bacula dir"
Hello
when we have a multiple bacula dir defined in the bconsole.conf the rear mkbackp is not working.
trace:

[code]

bconsole.conf:

[code]

How to fix this issue:
edit 50_check_BACULA_bconsole_results.sh
`vi /usr/share/rear/prep/BACULA/default/50_check_BACULA_bconsole_results.sh`
and replace the lline 15
by this part:

[code]

and also replace the line 36 by the following part:

[code]

and add

[2015-10-20 04:55] Nemiroff84 opened #671 "ReaR doesn't automatically add itself to the Grub bootloader"
Sorry if my English is bad. My native is Russian.
I have clean installation of Ubuntu 14.04.03 at VMWare Workstation 12.0. ReaR doesn't automatically add itself to the Grub bootloader.
I tried diffrent variants of /etc/rear/local.conf:
1. No additional configuration
2. GRUB_RESCUE=
3. GRUB_RESCUE=y
4. GRUB_RESCUE=yes

After each changing of file I tried to reboot several time. No result.
Is this a

[2015-10-20 06:16] mmitsugi commented on #663
Regarding the b RHEL7 / ppc64 (grub), I've created the pull request #672 to support.

[2015-10-20 06:59] mmitsugi commented on #661
Hi @gdha
This change breaks RHEL ppc64 platform...
Here is the grep "getty " result in ppc64. It also hit agetty.
[code]
So could you please change the search word of getty, maybe "/getty" ??

[2015-10-20 07:18] gdha commented on #661
@mmitsugi great catch - thanks - corrected it (hopefully correct this time)

[2015-10-20 07:18] gdha commented on #671
@Nemiroff84 `GRUB_RESCUE=y` should do the trick. Did you check the rear log file for errors? You do not need to reboot to see if it worked. Just check `/boot/grub/grub.cfg` and look for a rear entry

[2015-10-20 11:21] Nemiroff84 commented on #671
I'm new to Linux and beacause of this I think that it may be my mistake. And I'll show what i do step by step.
Installation:
wget http://download.opensuse.org/repositories/Archiving:/Backup:/Rear/xUbuntu_14.04/all/rear_1.17.2_all.deb
sudo dpkg -i rear*.deb
sudo apt-get -f install

Added string GRUB_RESCUE=y to /etc/rear/local.conf . Saved and closed filed. After I checked it whith cat command that

[2015-10-20 11:58] jsmeix commented on #102
Wait!
Going back to square one:

I verified that with "rear recover" (using rear 1.17.2)
one gets a byte-by-byte identical copy of the partitioning
of the original disk:

My original system disk:
<pre>
# parted -s /dev/sda unit B print

Model: ATA QEMU HARDDISK (scsi)
Disk /dev/sda: 26843545600B
Sector size (logical/physical): 512B/512B
Partition Table: msdos
Disk Flags:

Number  Start         End

[2015-10-20 12:29] jhoekx commented on #102
When I was working on the partitioning code, the goal was to reuse the exact same offsets if no resizing had to be done. As soon as we enter migration mode, the code tried to align on boundaries.

It would be interesting to know if we are in migration mode or not?

Maybe the choice of boundaries is not optimal?

[2015-10-20 13:06] gdha commented on #671
Did you run `/usr/sbin/rear -v mkrescue`?

[2015-10-20 14:24] Nemiroff84 commented on #671
Only after your recomendation and recieved error:
ERROR: ERROR: no binary found for grub-mkpasswd-pbkdf2 or grub2-mkpasswd-pbkdf2
Aborting due to an error, check /var/log/rear/rear-dc1.log for details

and error at log:

2015-10-20 17:09:12 Wrote ISO image: /var/lib/rear/output/rear-dc1.iso (98M)
2015-10-20 17:09:13 Including output/ISO/Linux-i386/85_check_for_errors.sh
2015-10-20 17:09:13 Includi

[2015-10-20 14:51] gdha commented on #671
@Nemiroff84 Verify is the following package is available:
[code]

[2015-10-20 15:02] Nemiroff84 commented on #671
I received the same output as you show.

[2015-10-20 16:20] gdha commented on #671
@Nemiroff84 Well, seems you hit a bug on Ubuntu - I corrected the code and now it behaves better. See commit above for the changes if you want it do correct the script 94_grub2_rescue.sh manually.

[2015-10-21 06:01] gdha commented on #655
@rg-fine Any progress with a pull request from your side?

[2015-10-21 06:12] rg-fine commented on #655
Pull request was done with https://github.com/rear/rear/issues/662. Do you need any further information or are there some problems with the request? You commited it about one month ago and I tested it successfull on our environment.

[2015-10-21 06:42] gdha commented on #655
@rg-fine Sorry - I should write better comments as I was confused by my own words... Thanks for the clarification.

[2015-10-21 07:15] Nemiroff84 commented on #671
https://github.com/rear/rear/issues/671#issuecomment-149620996

[2015-10-21 11:56] Supersempfft opened #674 "Unable to determine raw USB device"
Hello,

I tried to create a backup with rear on a usb device and got:

[code]
device mapper ...

Should I blacklist the USB Stick? Or is the a better solution?

What can it be?
Andy

[2015-10-21 12:04] schlomo commented on #674
Please give us your configuration (what you changed), the full log and the output of `rear dump`. You can also use gist.github.com to upload files.

[2015-10-21 12:10] schlomo commented on #674
Please give us

* your configuration
* the log
* the output of `rear dump`

Maybe create a https://gist.github.com for those files, easier that pasting all that into the ticket.

[2015-10-21 13:47] Supersempfft commented on #674
... config is just like this:
OUTPUT=USB
BACKUP=NETFS
BACKUP_URL=usb:///dev/disk/by-label/REAR-000

and nothing more in the log. Solution is: multipath blacklist for the USB Stiick.

[2015-10-21 14:18] schlomo commented on #674
Do you mean blacklisting usb-storage in your MPIO configuration? Yes, that seems like a good idea.

Please reopen if you have more to add to this. Thanks a lot for providing the solution.

[2015-10-21 14:18] #674 closed

[2015-10-23 11:11] mattihautameki commented on #649
I put a simple Debug log in every ".sh" File in /usr/share/rear just to see when the the link is not correct anymore.

1st and 2nd Line:
[code]
Here is the output http://pastebin.ca/3213322
I also noticed that a udevadm trigger does correct the by-uuid-link instantly after the restore.

@jsmeix
I will report the outcome of your wipefs approach shortly.

[2015-10-23 11:31] jsmeix commented on #544
I will implement support for the SUSE-specific 'gpt_sync_mbr' hack in rear because it is requested by a SUSE customer.

As usual I will try to implement it in a way so that it does not cause regressions eleswhere and finally - after confirmation by SUSE-internal testing (and ideally also by the SUSE customer) that it works - I will do a GitHub submitrequest.

[2015-10-23 22:05] kpieth commented on #102
Yes we are talking about migration mode. A well aligned partition gets bad aligned after rear recovery. If no resizing is done, everything is at it was. We use rear for installing new machines(VM and Hardware). My machines usually run virtualized and so have several layers of storage under it. Alignment really has a performance impact.

[2015-10-24 19:28] tharrisone opened #676 "Fedora 22: Mkrescue USB drives don't boot"
I've tried with regular usb drives and ssd external drives and after I do mkrescue and mkbackup and even checklayout it doesn't boot. There is a flash where I see the syslinux info but it never boots. I have legacy boot enabled.

[2015-10-26 07:54] gdha commented on #676
I've just tried fedora 23 and USB mkbackup - the recovery system boots fine from the USB device.
Did you format the USB device before using it? `rear format /dev/<usb-dev>`
My `/etc/rear/site.conf` looks like:
[code]
If the above doesn't help, please explain in detail what you did and show me the config.

[2015-10-26 08:29] tharrisone commented on #676
It seems that instead of using fdisk or parted using rear format
everything worked out and it booted up just fine. I must of missed that
in the man pages.

Thanks!

On 10/26/2015 02:54 AM, gdha wrote:

[2015-10-26 13:31] jsmeix commented on #544
Some intermediate feedback what goes on:

I have now a KVM/QEMU machine with gpt_sync_mbr
and I can reproduce the error exit of the initial comment:
<pre>
Disk configuration is identical, proceeding with restore.
ERROR: Partition number '' of partition  is not a valid number.
ERROR: Partition  is numbered ''. More than 128 partitions is not supported.
</pre>

To get a KVM/QEMU machine with gpt_syn

[2015-10-26 13:40] jsmeix commented on #544
For comparison how parted and disklayout.conf look
on a "msdos" labeled partitioning:
<pre>
# parted /dev/sda unit MiB print

Model: ATA QEMU HARDDISK (scsi)
Disk /dev/sda: 25600MiB
Sector size (logical/physical): 512B/512B
Partition Table: msdos
Disk Flags:

Number  Start     End       Size      Type     File system     Flags
 1      1.00MiB   1498MiB   1497MiB   primary  linux-swap(v1)  type=82

[2015-10-27 12:23] jsmeix commented on #544
@jhoekx

I have some general questions regarding the partitioning code in rear.

I like to understand the reasoning behind why the partitioning code
is as it is because from my current point of view I think I may
need to change it substantially to make it less "fragile".

Jeroen, I think you are the right one to ask because "git blame usr/share/rear/layout/save/GNU/Linux/20_partition_layout.sh" an

[2015-10-27 17:14] #676 closed

[2015-10-28 09:17] mattihautameki commented on #649
@jsmeix
Sadly, its the same outcome with wipefs applied. http://pastebin.ca/3222953

[2015-10-28 14:04] mmitsugi opened #677 "Deb package build issue for supporting arch specific requirements"
Hi,
Similar to #629, deb package build arch "all" (noarch package) contradicts arch specific requirements.
Package  "syslinux" is only required for intel platform, not ppc platform.
("syslinux" is not available in ppc)

So, we can not create ppc deb package with current deb package build configuration.

To fix this issue, I think there are several options:

option 1:
change deb control file to bui

[2015-10-28 15:31] schlomo commented on #677
Thanks @mmitsugi for bringing this up. I think that Option 1 (arch specific debs) makes more sense:
* Follow same strategy as with rpm -> consistent mindset for rpm and deb
* I don't like Recommends. ReaR should have a hard dependency on the things it actually needs.

[2015-10-29 07:36] gdha commented on #623
Close the issue due to lack of feedback

[2015-10-29 07:36] #623 closed

[2015-10-29 08:44] jsmeix commented on #677
@schlomo
I wonder what exactly you mean with "things it [rear] actually needs".
In particular I wonder about the "actually" therein.

I think it can depend very much on the specific system
where rear is running what is actually needed by it.
Here I mean what other programs rear actually calls.

I do not know how to extract from bash scripts
what executables can be called by them
(in a sufficiently

[2015-10-29 11:00] gdha commented on #602
@tfgm-bud sorry, we cannot simulate your environment:
[code]
Therefore, looking for sponsorship or ask for consultancy (onsite/remote)

[2015-10-29 11:02] gdha commented on #603
As `ebiso` is now available (http://www.it3.be/2015/10/27/uefi-iso-boot-with-ebiso/) there is no real need for this issue. We implement this feature as a paid service only

[2015-10-29 11:07] gdha commented on #639
We will not implement this at current time and shall close this issue - you can re-open this again if there is a real need for it and are willing to buy program time for the implementation (on-site/remote)

[2015-10-29 11:07] #639 closed

[2015-10-29 11:08] gdha commented on #45
seems a dead issue

[2015-10-29 11:08] #45 closed

[2015-10-29 11:10] gdha commented on #42
seems a dead issue; re-open when there is a need for it and time to work on it!

[2015-10-29 11:10] #42 closed

[2015-10-29 11:11] gdha commented on #57
We know and are trying to deal with it - gonna close this issue

[2015-10-29 11:11] #57 closed

[2015-10-29 11:13] gdha commented on #411
@bastiw88 any comments or update to share? Otherwise we would like to close this issue

[2015-10-29 17:41] schlomo opened #678 "Move DISKLAYOUT_FILE to default.conf?"
When looking at #668 I realized that `DISKLAYOUT_FILE` is defined in many places:

[code]

But it is not defined in `default.conf` and the setting in `savelayout-workflow.sh` actually repeats the builtin default in `10_create_layout_file.sh`.

I suspect that it would be better (more ReaR-like and less error prone) to have the default setting in `default.conf`.

[2015-10-29 19:10] gdha commented on #574
no further input received, therefore, we close this issue. If needed it can be re-opened

[2015-10-29 19:10] #574 closed

[2015-10-29 19:11] #550 closed

[2015-10-29 19:12] #524 closed

[2015-10-29 19:14] gdha commented on #521
No plans so far; no further requests received; can only be done when serious spondored (paid)

[2015-10-29 19:14] #521 closed

[2015-10-29 20:25] thepulze opened #679 "cryptsetup pw dict files missing"
Using Relax-and-Recover 1.17.2, restore of a CentOS 7.1.1503 system with crypto sw raid partition.

Restore process crashed because of missing pw dictionary files, used for pw quality check. Manually copying pw files to /usr/share/cracklib fixes the problem - resuming script execution worked afterwards.

Log:

+++ echo -e 'Please enter the password for vm-01(/dev/mapper/vg0-vm):'
+++ cryptsetup lu

[2015-10-29 20:30] thepulze commented on #579
Could confirm problem reported by fdelelis.
I am using Relax-and-Recover 1.17.2 to backup a CentOS 7.1.1503 machine.

Using OUTPUT_URL instead of USB_DEVICE works.

Here my site.conf:

OUTPUT=USB
OUTPUT_URL=usb:///dev/disk/by-label/REAR-000
#USB_DEVICE=/dev/disk/by-label/REAR-000
BACKUP=NETFS
BACKUP_URL=file:///mnt/backup
BACKUP_PROG=rsync

[2015-10-30 09:30] gdha commented on #579
@thepulze @fdelelis I just tested it out myself and it works fine for me:
[code]

[2015-10-30 09:35] gdha commented on #411
If you have additional information please feel free to re-open this issue

[2015-10-30 09:35] #411 closed

[2015-10-30 12:49] thepulze commented on #579
Yes, this config works for me too. But it does not work if you use USB_DEVICE  ___instead___ of OUTPUT_URL, meaning that the following config produces the error:

OUTPUT=USB
#OUTPUT_URL=usb:///dev/disk/by-label/REAR-000
USB_DEVICE=/dev/disk/by-label/REAR-000
BACKUP=NETFS
BACKUP_URL=file:///mnt/backup
BACKUP_PROG=rsync

[2015-10-30 13:47] gdha commented on #579
Thank you for mentioning this - need to check it myself.

On Fri, Oct 30, 2015 at 1:49 PM, thepulze <notifications@github.com> wrote:

[2015-10-30 18:04] gdha commented on #579
@fdelelis @thepulze You were right - it was a bug - has been fixed - thanks it took a while to understand the issue...

[2015-10-30 20:42] gdha commented on #661
Checked if new script `45_symlink_mingetty.sh` did work:
`lrwxrwxrwx. 1 root root       6 Oct 30 21:30 mingetty -> agetty` (yes it does). We are good now to remobe mingetty from the rear.spec file

[2015-10-31 09:07] gdha commented on #637
@keilma could you test the updated script (just checked it in)?

[2015-11-01 09:39] gdha commented on #585
@pomusa Have a look at http://www.it3.be/2015/10/27/uefi-iso-boot-with-ebiso/ to make a bootable ISO image on UEFI systems. It does work as I already used it for SLES11 SP3/SAP HANA systems.

[2015-11-01 09:42] gdha commented on #214
@kostgr  @pavoldomin @omeier @dagwieers @schlomo A possible solution is given at http://www.it3.be/2015/10/27/uefi-iso-boot-with-ebiso/

[2015-11-01 09:52] gdha commented on #369
@jsmeix I think mandatory programs should be added to the REQUIRED_PROGS array. This way, when not available rear will stop with an error. I have done this lately for EFI with `dosfstools` as an example. We should use the *prep* work-flow in a better way - trying to correct this step-by-step (when I come across a current situation).

@jsmeix @schlomo @jhoekx @dagwieers
In packaging we still found

[2015-11-01 09:53] gdha commented on #588
@rbeldin see the page at http://www.it3.be/2015/10/27/uefi-iso-boot-with-ebiso/ for a solution

[2015-11-01 10:18] schlomo commented on #369
I am fine with removing the `lsb-release` requirement. Just keep in mind the consequences:

* We need to add much more stuff to REQUIRED_PROGS
* We need to be able to detect OS_VENDOR and OS_VERSION without `lsb_release`

I would actually remove the dependency only after we don't need the `lsb_release` tool any more.

[2015-11-01 16:00] maxbur1960 opened #680 "NFS mount error"
Hello, I'm trying REAR considering to meke my default BACKUP SOFTWARE. I'm non a professional but usually I can get by using computer.
THAt's my issue: I installed REAR and configured confif file this way

OUTPUT=ISO
BACKUP=NETFS
BACKUP_URL="nfs://192.168.0.20/ServerNFS"

I have a NFS server running under openmediavault at 192.168.0.20 ad a shared folder named ServerNSF

Anytime I try to run rear

[2015-11-01 20:40] gozora commented on #680
Really hard to say from the info you have provided. First and foremost, try to check/provide `/var/log/rear/rear-uefi.log` for more information.
My best guess would be that there is something wrong with your NFS server setup. If log file does not provide any reasonable information, try to trigger mount command separately:
`mkdir -p /tmp/rear_test && mount -v -t nfs -o rw,noatime 192.168.0.20:/Serv

[2015-11-02 06:52] gdha commented on #680
Check your NFS exports file:
[code]
Users usually forget about the default setting `root_squash`, which disallow root (of the client system) to write on the exported file system.

[2015-11-02 08:10] gdha commented on #679
@thepulze I am trying to understand what the easiest way is to identify if crypted devices are in use:
1. presence of `/etc/crypttab` file ?
2. non-empty output of `sudo dmsetup ls --target crypt` ?
3. the presence of `lsmod | grep dm-crypt` ?
4. use `cryptsetup -v isLuks <device>` exit code ?
5. output of `blkid -p <device>` ?

We are thinking of making some kind of `prep` phase script which coul

[2015-11-02 10:42] jsmeix commented on #369
I fully agree with @gdha to move the requirements
from the RPM spec file into the actual rear code.

Regarding OS_VENDOR and OS_VERSION:
Only an untested idea how to detect OS_VENDOR and OS_VERSION
nowadays (i.e. it does not work for older distributions):

Using /etc/os-release

Cf.
http://www.freedesktop.org/software/systemd/man/os-release.html

Examples:
<pre>
root@sles12# cat /etc/os-release
NA

[2015-11-02 14:45] jsmeix commented on #556
The issue should be fixed with my above commit https://github.com/rear/rear/commit/307b98c1281c58619d59cb9e6f41863b9278122b

@gdha
is my above commit o.k. for you?

[2015-11-02 14:48] jsmeix commented on #544
The issue should be fixed with my above pull request https://github.com/rear/rear/pull/681

This minimal changes make it work for me.

Nevertheless the whole partitioning code looks fragile from my point of view but I think it is better to not do major changes here but to keep the fix for this particular issue minimal.

[2015-11-02 16:09] maxbur1960 commented on #680
Thank you very much for the fast answer. I appreciate that.
I agree that my NFS server configuration must be wrong...
Being non familiar with NFS, I moved to SAMBA, than I know certainly better.

on my NASLEGAL with static IP adress 192.168.0.20 I creater a shared
folder named         sambauser
and an user with the same name                 sambauser

I tred with this /etc/rear/local.conf

OUTPUT=

[2015-11-02 16:17] maxbur1960 commented on #680
Hello, I forgot: seeing in the log file that the mount command in dosing
with a "guest" name, I gave to the SAMBA folder the GUESTS permissions.
Same result....
Thanks
Massimo

Il 02/11/2015 07:52, gdha ha scritto:

[2015-11-02 16:20] gozora commented on #680
@maxbur1960 no reason to be desperate ;-).
Despite I'm not running ReaR on CIFS anywhere, I've took a quick look into ReaR [docu](https://github.com/rear/rear/blob/master/doc/user-guide/03-configuration.adoc#using-netfs-as-backup-strategy-internal-archive-method):

Do you have ``BACKUP_OPTIONS`` variable set correctly? (e.g.)
[code]

[2015-11-02 17:06] maxbur1960 commented on #680
Hello, sorry for bothering you.
After the changes you suggested me, now Ubuntu Server stacks on this message

Relax-and-Recover 1.17.2 / Git
Using log file: /var/log/rear/rear-LaMiaNuvola.log
Creating disk layout

and doesn't go further.

In I CTRL-C the backup I get nolog

But If I try to access via command line to the SAMBA SHARED FOLDER with

smbclient //server/share -U user%password

I have ac

[2015-11-02 17:22] gozora commented on #680
sometimes it it takes a while (couple of minutes) until layout/boot ISO is created.
Are you sure you just wasn't too hasty with ^C ?

[2015-11-02 19:05] gdha commented on #680
@maxbur1960 Use rear with verbose option to see what is happening:
[code]

[2015-11-02 19:12] #417 closed

[2015-11-02 20:21] schlomo commented on #369
Yes, `/etc/os-release`has the same info. What about pre-systemd distros? Do we drop support for those?

[2015-11-03 05:50] mmitsugi commented on #677
Hi I've created option 1 change in #682
Please merge it if there are any objections.

[2015-11-03 07:03] gdha commented on #643
@keilma @tomglx Could you verify the fix?

[2015-11-03 07:38] mmitsugi commented on #661
@gdha @schlomo

I tested the latest code with Ubuntu 14.04.2 ppc64le and Ubuntu 15.04 ppc64le.
And as a result,
* 15.04 is using systemd and there is no mingetty dependency in rear iso. It works well without mingetty.
* 14.04.2 is using upstart and there is mingetty dependency in rear iso.
   As @schlomo mentioned: http://pikachu.3ti.be/pipermail/rear-users/2015-October/003223.html
  upstart is us

[2015-11-03 15:15] maxbur1960 commented on #680
Hello, now with SAMBA/CIFS it works!
Is it a good protocol standard or have I to study NFS until I can get
by? Since now with NFS it semms to fail 'cause is unable to mkdir to the
"rsync destination".
Mistery... Sound Japanese to me!
Anyway, I'll give a try to REAR and hope I can use as my Backup. In case
I'll make for sure a donation, that is not enought to pay your help, but
is a simple way to t

[2015-11-03 15:26] jsmeix commented on #544
Merged pull request #681 which should fix it.

At least it works for me with this partitioning
<pre>
# parted /dev/sda unit MiB print
Model: ATA QEMU HARDDISK (scsi)
Disk /dev/sda: 2560000MiB
Sector size (logical/physical): 512B/512B
Partition Table: gpt_sync_mbr
Disk Flags:

Number  Start     End         Size        File system     Name     Flags
 1      1.00MiB   2.00MiB     1.00MiB

[2015-11-03 15:26] #544 closed

[2015-11-03 15:51] gozora commented on #680
Hello Massimo,

Samba vs NFS is a matter of view. I personally prefer NFS as it is easier to configure, have better performance and permission/user mappings are not pain in the a** (however it have lot of cons as well). You can certainly find lot of pages on the Internet, comparing all pros and cons of both protocols, so the decision is yours ;-)

I'm happy that it works for you finally.

Good luc

[2015-11-03 18:44] gdha commented on #661
@mmitsugi there should be a symlink toward mingetty from (a)getty. Was it missing?

[2015-11-04 06:31] mmitsugi commented on #661
@gdha thanks for quick reply. In tty.conf, mingetty is called with mingetty unique parameter... So, we should consider which options in the above is taken.

[2015-11-04 08:47] gdha commented on #661
@mmitsugi Could you try if you change the  line in `./skel/default/etc/init/tty.conf` file from:
[code]
into
[code]
What the effect is?

[2015-11-04 09:29] gdha commented on #626
@tbsky Could you see what the effect is of the new script?

[2015-11-04 09:53] tbsky commented on #626
hi:
    the scripts seems try to unload scsi_debug if it is loaded? I have not test it, but it seems too late to unload  unless the script can unload the module before loading real harddisk.

  since the major problem of this module is it will occupy /dev/sda, so the real harddisk will become /dev/sdb. even the module is unloaded, I think the real harddisk will still remain /dev/sdb.

  I now just

[2015-11-04 20:37] gdha commented on #619
@bibssun feel free to test out the new script committed.

[2015-11-04 20:38] #591 closed

[2015-11-04 20:38] #573 closed

[2015-11-04 20:41] gdha commented on #561
@jsmeix do you still want to change the variable names? If not, then just close this request.
Thank you.

[2015-11-05 07:51] pavoldomin commented on #229
@gdha how have you addressed a missing dosfslabel, when doing UEFI-booting DR of SAP HANA SLES (cf. http://www.it3.be/2015/10/27/uefi-iso-boot-with-ebiso/)? Have you installed dosfstools from the repo referenced by @jsmeix above, or does the recovery work also without? I am concerned because of the line in my ```rear -v savelayout``` log:

    /usr/share/rear/layout/save/GNU/Linux/23_filesystem_la

[2015-11-05 09:16] pavoldomin commented on #229
If I actually tried also *mkrescue*, I would not ask stupid questions, as it fails immediately with the clear message:

    # rear mkrescue
    ERROR: Cannot find required programs: dosfslabel
    Aborting due to an error, check /var/log/rear/rear-hostname.log for details
    Terminated

So you must have had dosfstools extra upgraded on your SLES11 server for HANA recovery @gdha , right?

[2015-11-05 09:22] keilma commented on #643
@gdha I will check it in two weeks, I'm on vacation

[2015-11-05 09:35] pavoldomin commented on #229
I am willing to obsolete the requirement of dosfstools by blkid and mkfs.vfat, as outlined above by @schlomo , unless you guys have reasons not to. I would post a pull request.

[2015-11-05 10:17] gdha commented on #229
@pavoldomin Here is an example of a `/etc/rear/local.conf`file:
[code]

If you would like to get rid of `dosfslabel`  be my guest by creating a patch using `blkid` and `mkfs.vfat -n label` scheme. I really don't mind. It would save you lots of work (not to update dosfstools on all SLES 11 systems). However, if you wish to do so - could you re-open this issue so it is easier to track (for us). Or,

[2015-11-05 12:24] pavoldomin commented on #229
Thanks @gdha. I will indeed open separate new issues (dosfslabel is just one of them) and submit patches for problems I am having with my current DR tests, related with the complex uefi-booting landscape. You can expect several pull requests coming from me next week ;)

[2015-11-05 13:25] jsmeix commented on #561
@gdha
acually I had set the "waiting on feedback" label
to get feedback from rear upstream authors "If you agree"
and if yes "I make a pull request"
;-)

[2015-11-05 13:36] jsmeix commented on #229
@gdha
I think your above example of a /etc/rear/local.conf
for SAP HANA on UEFI capable systems
would make perfect sense to be added into
the new usr/share/rear/conf/examples directory
(cf. https://github.com/rear/rear/pull/681).

[2015-11-05 13:49] jsmeix commented on #229
@gdha
right now I copied dosfstools and ebiso to the openSUSE Build Service
project Archiving:Backup:Rear to make them avaialbe at the same
place where rear is:
<pre>
$ osc copypac -e home:gdha ebiso Archiving:Backup:Rear ebiso

$ osc copypac -e Base:System dosfstools Archiving:Backup:Rear dosfstools
</pre>

I will check how they build there.

If they build sufficiently there, I will adapt the URL

[2015-11-05 13:51] jsmeix commented on #229
I know I hijacked this issue but I hope for this
small documentation add-on it is o.k.
...

[2015-11-05 14:59] jsmeix commented on #229
Building dosfstools and ebiso in OBS Archiving:Backup:Rear
looks fine:
<pre>
$ osc results -v Archiving:Backup:Rear dosfstools | grep succeeded
SLE_11_SP3           i586       succeeded(unpublished)
SLE_11_SP3           x86_64     succeeded(unpublished)
SLE_11_SP2           i586       succeeded(unpublished)
SLE_11_SP1           x86_64     succeeded(unpublished)
SLE_11_SP1           i586       succ

[2015-11-05 16:49] jsmeix commented on #229
RPMs for dosfstools and ebiso from OBS Archiving:Backup:Rear
are now available from
http://download.opensuse.org/repositories/Archiving:/Backup:/Rear/

dosfstools is available for i586 and x86_64 for
SLE_11 SLE_11_SP1 SLE_11_SP2 SLE_11_SP3

ebiso is available for x86_64 for
SLE_11 SLE_11_SP1 SLE_11_SP2 SLE_11_SP3
SLE_11_SP4 SLE_12

If needed I can enable build for more distributions and architectu

[2015-11-06 03:04] akumacxd opened #684 "NFS mount error"
OS: SUSE 11 SP3
rear: relax-and-recover 1.16 /git
nfs :
 cat /etc/exports
/exports *(rw,no_root_squash)

I'm try to recover my system with command "rear recover" ,  then give me this message
EEERO:Mount commadn 'mount -v -t nfs -o rw,noatime 172.200.50.6:/backup /tmp/rear.J8DycUB/outputfs' failed.
 I can manually mount with this command
" mount -t nfs -o rw,noattime,nolock 172.200.50.6:/backup /mn

[2015-11-06 03:07] akumacxd commented on #684
![1](https://cloud.githubusercontent.com/assets/15681932/10988348/816a8e9e-8476-11e5-857e-73e42a2f9b89.png)

[2015-11-06 03:16] akumacxd commented on #684
my rear configuation
vim /etc/rear/local.conf
  ISO_DIR=/backup/iso
  BACKUP=NETFS
  BACKUP_PROG=tar
  BACKUP_TYPE=full
  BACKUP_URL="nfs://172.200.50.6/backup"

[2015-11-06 03:18] akumacxd commented on #684
nfs configuration
![2](https://cloud.githubusercontent.com/assets/15681932/10988521/fe13209a-8477-11e5-824d-4316341ceb9d.png)

[2015-11-06 03:32] mmitsugi commented on #661
@gdha as far as I tried,
* getty and agetty needs parameter
* getty and agetty are parameter compatible
* mingetty parameter is not compatible with that of getty/aggetty

So, I added the fix like following and it works fine so far.
[code]

[2015-11-06 03:50] akumacxd commented on #684
I have another question about "mount LVM"
In recover environment I can not mount LVM, always mention is not a valid block device
![3](https://cloud.githubusercontent.com/assets/15681932/10988968/80c74792-847c-11e5-80e7-34ef09b5463c.png)

[2015-11-06 03:57] akumacxd commented on #684
rear log

![4](https://cloud.githubusercontent.com/assets/15681932/10989030/2f212b6e-847d-11e5-927e-d4010a4f5c45.png)

[2015-11-06 07:13] #677 closed

[2015-11-06 07:34] gdha commented on #684
@akumacxd Add the following `BACKUP_OPTIONS="nfsvers=3,nolock"` to you `/etc/rear/local.conf` file.
Before mounting a volume group (vg00) you should activate it: `vgchange -a y vg00`

[2015-11-06 12:24] jsmeix commented on #229
With https://github.com/rear/rear/pull/683 merged
and RPMs for dosfstools and ebiso
available from OBS Archiving:Backup:Rear
I consider the issue to be fixed as good as
currently possible in rear.

[2015-11-06 12:24] #229 closed

[2015-11-06 12:50] jsmeix commented on #540
Regarding "wipefs" see also https://github.com/rear/rear/issues/649

In particular therein see
https://github.com/rear/rear/issues/649#issuecomment-148725865
how wipefs could be used by deault in rear - regardless that wipefs
did not help in that particular case it could be nevertheless used
by default in rear to avoid possible issues.

[2015-11-06 12:52] jsmeix commented on #649
Regarding my above question
"wasn't there already another issue related to 'wipefs'?"

I found that other issue:
It is
https://github.com/rear/rear/issues/540
"Implement a generic 'cleanupdisk' function."

[2015-11-06 21:38] #588 closed

[2015-11-07 03:11] akumacxd commented on #684
Thank you very much for the answer. I appreciate that.

[2015-11-07 16:33] hpannenb commented on #326
I tested ReaR 1.17.2 with different Ubuntu versions (all with latest updates) and backup to ISO as follows:

- 12.04 => Recovery works fine.
- 14.04 => Fails as mentioned (no /dev/disk/by-label/RELAXRECOVER found)
- 15.04 => Recovery works fine.

That is my state. What can I do to debug the situation under 14.04 a bit better?

[2015-11-09 19:21] tomglx commented on #643
@gdha : Looks good to me.

[2015-11-11 12:11] jsmeix opened #688 "In DEBUGSCRIPTS mode print shell input lines as they are read?"
Currently when in DEBUGSCRIPTS mode only "set -x" is done.

Personally I prefer "set -vx" when debugging bash scripts because
'-v' prints the script source code lines (in chunks as read by bash) and afterwards '-x' prints the commands and their arguments as they are executed.

For me this makes debugging issuse very much faster because I see first the original source code lines and then what comma

[2015-11-11 12:59] schlomo commented on #688
:-) I know the `-v` feature and it always confused me to see almost the same content twice... In my Bash debugging needs so far `-v` played a seldom and minor role. I sometimes add `: $VAR` in the code to see the content of a variable in `-x` mode.

Question: Is it a matter of taste? Should we allow configuration for this?

[2015-11-11 13:11] jsmeix commented on #688
@schlomo
just propose what rear command line parameter you like
for "set -v" and I will implement it.

Perhaps a command line parameter '-C' for "Code"
or something like that?

[2015-11-11 13:14] jsmeix commented on #688
Or perhaps even better add support for a value for the '-D'
parameter where the value is by default 'x' like:

rear -D

results "set -x" and

rear -D vx

results "set -vx"

and

rear -D v

results "set -v".

[2015-11-11 13:58] schlomo commented on #688
I think I prefer -D and -DD, interpreting -v as an additional verbosity
layer on top of -x.

What do you think?

On 11 November 2015 at 14:14, Johannes Meixner <notifications@github.com>
wrote:

[2015-11-11 14:34] gdha commented on #688
We already have verbose (-v). Why don't use this as a trigger for set -x$v ? Keep it simple no?
Gratien

Verstuurd vanaf mijn iPhone

[2015-11-11 16:46] schlomo commented on #688
@gdha brilliant idea - thanks a lot for seeing the simple things!

On 11 November 2015 at 15:34, gdha <notifications@github.com> wrote:

[2015-11-12 12:19] pavoldomin opened #690 "Missing mountpoints after recovery"
A successfully recovered system misses some original mountpoints. A reason is, that ```rear recovery``` mkdirs them in ```/``` and not in ```/mnt/local```.
See also #619.

I post a pull request to fix this problem.

[2015-11-12 12:21] #690 closed

[2015-11-12 15:35] jsmeix commented on #688
Only a note FYI:

For now I cannot work on it because a customer printing issue
appeared.

Using '-v' plus '-D' to get "set -vx" is o.k. for me
but it is not really KISS as I understand what KISS means.

Using '-v' plus '-D' to get "set -vx" is RFC 1925 (5)
from my point of view.

And the result is a backward incompatible change
because before '-v' and '-D' were separated things.

Personally I pre

[2015-11-12 19:46] pavoldomin commented on #688
Indeed, it's not the best thing if the cmdline options behavior change: e.g. we could expect much bigger logfile on systems where 'rear -v -D' is scheduled (potentially affecting a filesystem utilization).

[2015-11-13 09:27] gdha commented on #663
@phracek Any updates from your side?

[2015-11-13 10:18] gdha commented on #587
@aussendorf Is this what you also saw/noticed?

[2015-11-13 11:37] aussendorf opened #696 "Dependency to isolinux missing in Debian 8 package"
With Debian 8 the isolinux.bin is not part of the syslinux package anymore.
Instead you need to explicitly install the isolinux package, before 'rear mkrescue' can succeed.
Solution would be to add a dependency on isolinux package for Debian >= 8.

[2015-11-13 14:48] jsmeix commented on #688
I made a first tentative and currentyl untested implementation
by using a separeated long option --debugscripts that
requires an argument where the argument contains
the flags to be 'set' so thet e.g. '--debugscripts=xv'
results 'set -xv'.

I need to play around with it how it works.

If you like to have a look see
https://github.com/jsmeix/rear/tree/add_optional_value_to_specify_D_command_line_op

[2015-11-13 18:10] TobiasKarnat opened #697 "Missing backup in recovery iso for IBM PowerVM LPAR"
Environment: LPAR on IBM Power7 with PowerVM
OS: SUSE Linux Enterprise Server 11 SP3
Rear 1.17.2

local.conf
[code]

'rear -v mkbackup' runs successfully and creates the bootable iso and the backup.tar.gz file.

But the backup.tar.gz file is not included in the final iso image.
I had to modify the following script to include it, but haven't tried a restore yet.

[code]

[2015-11-17 06:27] TobiasKarnat commented on #697
The 81_prepare_multiple_iso.sh script is missing for Linux-ppc64 so ISO_MAX_SIZE should not be used?

[2015-11-17 13:48] gdha commented on #697
@TobiasKarnat If you add `$TMP_DIR/isofs` to the array ISO_FILES then you will always the backups to the ISO image even when you do not want to do this. Please have a look at the Linux-i386 sub-directory. You have to do similar steps (except for the efi stuff).

[2015-11-17 13:49] gdha commented on #696
If I'm not mistaken rear will complain when you try to run mkrescue, no? That happens during the prep phase.

[2015-11-17 13:53] #453 closed

[2015-11-17 13:56] gdha commented on #540
@jsmeix wipefs function could be useful indeed. However, we should foresee a fall-back when wipefs is not available, e.g. use dd instead.

[2015-11-17 14:11] aussendorf commented on #696
Right:
---
++ /usr/sbin/rear mkrescue
ERROR: Could not find 'isolinux.bin'. Maybe you have to set ISO_ISOLINUX_BIN [] or install the syslinux package ?
Aborting due to an error, check /var/log/rear/rear-ci-Debian-8-0-64-5e6e44a85af2ab3b.log for details
--

I've solved this with manually installing isolinux
apt-get install -y --force-yes bareos-client rear isolinux
---

If you define a dependency o

[2015-11-17 15:00] schlomo commented on #696
@aussendorf, what is - in your opinion - the **default** feature set of ReaR that should be covered by package dependencies?

ReaR has a lot of very different options how to use it. Each leads to completely different package dependencies. We had already a lot of discussions (e.g. #369, #468, #661, #348, #250, #247, #187, #133, #122, #78 and probably more that I did not find now).

Bottom line is t

[2015-11-17 15:01] schlomo opened #698 "Define default use case for ReaR"
In relation to #696 we should decide which out-of-the-box use case to support via package dependencies.

[2015-11-18 11:01] aussendorf commented on #696
@schlomo
I always thought, that creating ISO images for BMR was the key-feature of REAR.

I've started to integrate Rear into our fully automated CI tests for Bareos. That way I realized that for Debian8 I have to manually add the isolinux package, while on the other tested distributions isolinux.bin came onto the systems through rear's dependencies.

That made me think, the absence of isolinux.bi

[2015-11-18 12:44] gdha commented on #696
@aussendorf for the rpm spec file we made some architectural if-clauses of packages which are necessary. If you can do the same for debian packaging then I'm fine with it. I'm not a debian packaging expert. Another point is the automated creation of a `/etc/rear/os.conf` for debian related systems. That is not yet implemented either.

[2015-11-18 13:17] gdha commented on #670
@Kamoul makes sense. Why not create a pull request?

[2015-11-18 13:18] gdha commented on #373
Some interesting URLs for future reference:
https://fritshoogland.wordpress.com/2008/02/13/playing-with-asm-disks-on-linux-part-1/
http://www.oracle.com/technetwork/server-storage/linux/install-082632.html
http://docs.oracle.com/cd/E11882_01/server.112/e18951/toc.htm

[2015-11-18 15:33] jsmeix commented on #688
It happened while working on this issue that I did much more than I actually intended which results the big pull request https://github.com/rear/rear/pull/699

[2015-11-18 16:05] jsmeix commented on #696
Only a sinde note regarding "why not split up rear into several packages":

@aussendorf
just do it for Debian as a first step so that then as a subsequent step also other Linux distributions could do it based on your work - of course only if you really like to deal with that kind of issues ;-)

Seriously:
In general I think rear should have minimal package requirements (which basically means only

[2015-11-18 16:15] jsmeix opened #700 "make rear working with ''set -ue -o pipefail""
In the future rear should work with ''set -ue -o pipefail".

See
https://github.com/rear/rear/wiki/Coding-Style
that reads (excerpt):

<pre>
TODO Use set -eu to die from unset variables and unhandled errors
</pre>

See also
https://github.com/rear/rear/pull/699
and
https://github.com/rear/rear/issues/688

[2015-11-18 16:16] jsmeix commented on #688
Regarding make rear working with ''set -ue -o pipefail"
I created https://github.com/rear/rear/issues/700

[2015-11-18 16:54] pavoldomin opened #702 "ReaR UEFI image fails booting if shim.efi bootloader is used"
The rear image for the system that defines ```shim.efi``` (secure boot) as an UEFI bootloader application fails to boot. The reason is, ```shim.efi``` needs also the follow-up loader.

A name of the followup loader seems to be hardcoded to be ```grub.efi```; it seems to be a compile-time option for ```shim.efi```. I.e. it can depend on vendor. If I get it right, a follow-up loader can be also ```e

[2015-11-18 19:44] firsttris opened #703 "Boot From GRUB asked for Username and Password"
Hello,

my first rear restore...  i boot relax-and-recover from GRUB and it asks for a Username and Password...

wonderful.... i never set one... never read about this in the docs

Which credentials are they asking for?

i have tried rearadmin/REAR;REAR/REAR; root/REAR; admin/REAR; root/recovery; root/

no option is correct...

regards

[2015-11-18 20:25] gozora commented on #703
hi, if it is grub that asks you for password, default one is "SECRET"  http://relax-and-recover.org/usage/

[2015-11-18 20:33] firsttris commented on #703
default user/password seems to be rearadmin/REAR but its not working...

i already tried to change them in local.conf..

...without success can not pass the passwort protection of GRUB...

[2015-11-18 22:05] gozora commented on #703
ok, it took me a while to figure it out.
Problem is that **GRUB_RESCUE_PASSWORD** needs to be set hashed. (as password_pbkdf2 option is in use)
Means that you should use should create hash from password:

\# grub-mkpasswd-pbkdf2
Enter password:
Reenter password:
Your PBKDF2 is grub.pbkdf2.sha512.10000.F876269F3E0A87C3F8820643C210C4A090CA1E57E013A089EF69101B211940B3EBDA67B3850BA74C95A05FD44C3C5D19F

[2015-11-18 22:08] gozora commented on #703
Just realized that hashes in my comment differ (dam you salt!), but the principle stays the same ...

[2015-11-19 05:39] firsttris commented on #703
thx very much gozora :+1: i will try after work

[2015-11-19 12:15] gdha commented on #702
@pavoldomin Thank you for the pull request - it seems correct to me.
@gozora Vlado - if you could test the latest updates as well that would make me confident nothing is broken.

[2015-11-19 12:28] gdha commented on #698
From my point of view: ISO is the default OUTPUT and therefore, the only default mechanism. All others are optional and are defined by the users, where `prep` scripts should trigger a warning if something crucial for that path is missing.

[2015-11-19 13:35] gdha commented on #700
@jsmeix just merged the pull request. OK - it is testing time...

[2015-11-19 13:39] jsmeix commented on #540
As a first step I implemented in https://github.com/rear/rear/pull/704
using wipefs when available

Currently "when available" means that on has to manually add it
to the rear recovery system in in /etc/rear/local.conf via
<pre>
REQUIRED_PROGS=( "${REQUIRED_PROGS[@]}" wipefs )
</pre>
cf. https://github.com/rear/rear/issues/649#issuecomment-148725865

Making wipefs automatically available to the re

[2015-11-19 15:06] gozora commented on #702
@gdha Certainly, will do ...

[2015-11-19 15:20] aussendorf commented on #696
@gdha Ok, we will have a look at the debian8 packaging, version dependent packages dependencies can be accomplished with OBS. We are now busy with our Bareos 15.2 release but after that I'll spend some time.

[2015-11-19 15:21] fireclown opened #705 "Some NSR Remarks"
While using the ReaR NSR-Mode, i found some things that did not
work like expected. Well, I do not like it that ReaR is doing
it's NetWorker stuff at a few hundred Systems ;-)

I did some changes to some of the rear scripts, to make it easier to
handle for me and i hope some of that will be also useful for you.
##### First you will find some remarks to that changes:

**/usr/share/rear/output/NSR/d

[2015-11-19 15:37] gdha commented on #705
@fireclown Which version of rear were you using? In github sources there were some serious modification made around NSR. It would be nice that you verify this as it could resolve already some of your issues mentioned above?

[2015-11-19 15:51] fireclown commented on #705
i am using rear-1.17.2-1.el5 from the epel-repository.

I will look tomorrow for changes in you soruces.

[2015-11-19 16:38] gozora commented on #702
I've made several tests on SLES, Centos and Ubuntu.
All looks good.

[2015-11-19 16:43] gdha commented on #702
@pavoldomin I'll add the label 'fixed'

[2015-11-19 16:51] pavoldomin commented on #702
Thanks Vlado @gozora, thanks @gdha. I am close the issue. We'll do another series of tests on our uefi san booting server next week (hopefully), this time with recent ReaR rpm from OBS, including these patches. If any problem occurs, i'd reopen the issue.

[2015-11-19 16:52] #702 closed

[2015-11-20 08:08] fireclown commented on #705
Alright, now, i have checked ReaR with the actual git-sources and
I'm sorry it does not really help :(

(PATCH1) "rear mkrescue" will do already a NetWorker save-command.
         Solution:      Only "rear  mkbackup" should do that.
         Suggestion: If ther will be no other way Enable/Disable by Variable in local.conf

(PATCH2) maybe a good idea, but it only work for jukebox devices. I am

[2015-11-20 08:56] gdha commented on #705
@fireclown Thank you for taking your time to check out the latest code.
Just want to emphasize when external backup programs are involved there is no need to run *rear mkbackup* as only a rescue image is required, therefore, *rear mkrescue* is sufficient.

Concerning **Patch 1** I would prefer a generic variable to save the ISO image (with external backup programs) and the default should be *1* (y

[2015-11-20 08:58] jsmeix commented on #688
This issue is fixed by https://github.com/rear/rear/pull/699 via a new debugscripts option which is fully backward compatible because the behaviour of the other options does not change.

Now one can use e.g.
<pre>
rear --debugscripts 'xv' mkbackup
</pre>
or even things like
<pre>
rear --debugscripts 'xvue +h -o pipefail' help
</pre>

[2015-11-20 08:58] gdha commented on #649
@mattihautameki Now that `wipefs` mechanism has been added by @jsmeix could you retry your experiments to verify your problem has gone by this patch?

[2015-11-20 09:14] jsmeix commented on #700
To avoid exaggerated expectations:
Currently only the 'help' workflow should work with 'set -ue'
all other workflows do not yet work with 'set -ue'
(cf. https://github.com/rear/rear/pull/699).

[2015-11-20 09:42] gdha commented on #700
@jsmeix do not forget to update the man page as well with the updated arguments. Thank you for the hard work. Gratien

[2015-11-20 10:10] jsmeix opened #706 "Copy "rear recover" log file and related data into recovered system"
At the end of "rear recover"
the log file /var/log/rear/
and other recovery related data
like /var/lib/rear/layout/disklayout.conf
and its matching /var/lib/rear/layout/diskrestore.sh
exist only in the rear recovery system.

When the rear recovery system is shut down
the "rear recover" related data is lost.

I like to implement that "rear recover" by default copies
the recovery related log and dat

[2015-11-20 10:20] gdha commented on #706
@jsmeix I have no objection against it.
Perhaps we could in the meantime also tackle issue #21 ?

[2015-11-20 10:33] jsmeix commented on #21
I will implement it.

I think /mnt/local/root/ is o.k. but probably not really
the  best directory for that.

See also https://github.com/rear/rear/issues/706

I think only the plain log file is not fully sufficient.
I prefer to also keep other recovery-related data.

In the end what I like to keep is all what is needed
so that the admin or rear upstream can do later
a full detailled analysis of a

[2015-11-20 10:34] jsmeix commented on #706
I will implement this one together with https://github.com/rear/rear/issues/21

[2015-11-20 13:42] fireclown commented on #705
**Patch1:**
yes, that looks like that what i need. I think it will be helpful if
you can make it generic and available for all  Backup-Programs.

My motivation is, that i am also a NetWorker-Admin and i want to have
more control about the external accesses to it. The *Result_SAVE can
prevent a few hundred requests (maybe at the same time).

**Patch2:**
the automatic pool research is a little bit t

[2015-11-20 13:48] jsmeix commented on #649
@mattihautameki
note that currently for using wipefs you must have
<pre>
REQUIRED_PROGS=( "${REQUIRED_PROGS[@]}" wipefs )
</pre>
in your /etc/rear/local.conf.

Making wipefs automatically available to the rear recovery system
when it is available in the original system is a next step, cf.
https://github.com/rear/rear/pull/704

[2015-11-20 13:51] jsmeix commented on #688
I need to update the man page as well, cf. https://github.com/rear/rear/issues/700#issuecomment-158338328

[2015-11-20 13:53] jsmeix commented on #700
Updating the man page (and other documentation as needed) regarding '--debugscripts' belongs to https://github.com/rear/rear/issues/688 that I reopened because of that missing documentation.

[2015-11-20 20:32] gdha commented on #38
The BAREOS team has implemented automated testing for rear with bareos. It is at least better then nothing so far.

[2015-11-21 17:01] schlomo commented on #706
Why not copy it to `/root` in the recovered system - similar to how Red Hat's Kickstart leaves there the kickstart file and log?

[2015-11-21 17:02] schlomo commented on #706
In any case, I would make sure that only root can read those files.

[2015-11-23 10:04] jsmeix commented on #706
I already implemented that only root can access files
in /var/log/rear/recover

But I wonder why everybody can read the other files
in /var/log/rear and /var/lib/rear ?

In other words:
I wonder why it seems what "rear mkbackup" results is o.k. to be read by any user while what "rear recover" results is not?

[2015-11-23 10:09] jsmeix opened #708 "Have '/mnt/local' in a global variable."
Currently '/mnt/local' is hardcoded at many places in the code.

I think it would be better to have a global variable like
<pre>
RECOVERY_SYSTEM_ROOT="/mnt/local"
</pre>
in usr/share/rear/conf/default.conf

Cf. https://github.com/rear/rear/issues/678

[2015-11-23 10:45] gdha commented on #708
@jsmeix +1

[2015-11-23 10:50] gdha commented on #706
@jsmeix @schlomo Personally, I don't think a log file is a security threat if it is readable. We only have to make sure there are no passwords or any other sensitive data visible. And, I believe we already have done that in the past (#560)

[2015-11-23 11:01] jsmeix commented on #706
I implemented this particular issue with https://github.com/rear/rear/pull/709 but this does not yet implement https://github.com/rear/rear/issues/21

[2015-11-23 11:09] jsmeix commented on #708
I will implement it carefully step by step.

I cannot simply replace all '/mnt/local' by '$RECOVERY_SYSTEM_ROOT' in an automated way (e.g. via "sed") because I need to carefully check that each $RECOVERY_SYSTEM_ROOT is correctly replaced by its value.

E.g.
<pre>
echo 'command with /mnt/local in it' >> "$LAYOUT_CODE"
</pre>
currently works as intended while
<pre>
echo 'command with $RECOVERY_SYSTE

[2015-11-23 11:17] jsmeix commented on #708
FYI:
It appears only with leading '/' but with and without trailing '/':
<pre>
github/rear $ find * | xargs grep 'mnt/local' | wc -l
245

$ find * | xargs grep '/mnt/local' | wc -l
245

$ find * | xargs grep '/mnt/local/' | wc -l
128
</pre>

245 places isn't too hard to change manually...

[2015-11-23 11:29] jsmeix commented on #21
As a first step I implemented https://github.com/rear/rear/issues/706

But for this issue here I need a bit more time to think about how to do it.

Because currently it is copied as an exit task I wonder if this is not yet sufficiently fail-safe - at least for normal error exits.

I assume the exit tasks are called for any exit (i.e. also when there is
a normal error exit) as far as I understand _

[2015-11-23 11:38] jsmeix commented on #678
@gdha
You added the DISKLAYOUT_FILE to usr/share/rear/conf/default.conf
in the following section:
<pre>
# DRLM (Disaster Recovery Linux Manager) Variables
</pre>

I assume the DISKLAYOUT_FILE variable
does not belog only to DRLM but is a
generic global variable for any disk-layout code.

If I am right I woul like to place the DISKLAYOUT_FILE variable
in a section for generic global variables in de

[2015-11-23 11:59] gdha commented on #678
@jsmeix no problem - you may move it

[2015-11-23 12:06] jsmeix commented on #678
I relation to https://github.com/rear/rear/issues/708 I think that
neither the DISKLAYOUT_FILE variable
nor a RECOVERY_FS_ROOT variable
belongs into usr/share/rear/conf/default.conf
because those variables are not meant to be
configured by the user, see default.conf
<pre>
# PLEASE NOTE:
#
# * Here we define and describe ALL configuration variables and set them to a sane
#   default. Please do NOT

[2015-11-23 12:12] jsmeix commented on #708
I think the variable name RECOVERY_FS_ROOT is better
than RECOVERY_SYSTEM_ROOT because it means
the root of the filesystem tree of the to-be-recovered-system
and not the root filesystem of the recovery system.

[2015-11-23 14:04] gdha commented on #678
@jhoekx what is your opinion on this topic?

[2015-11-23 14:12] schlomo commented on #678
What is actually the purpose of making DISKLAYOUT_FILE and RECOVERY_FS_ROOT
a variable?

Whom do you expect in which situation to change it?

Answering those questions will also tell you where to put them.

On 23 November 2015 at 15:04, gdha <notifications@github.com> wrote:

[2015-11-24 08:40] jsmeix commented on #678
My (I cannot speak for the others) actual purpose of using
things like DISKLAYOUT_FILE and RECOVERY_FS_ROOT
is not as a real variable (i.e. where the value is meant to change)
but as a constant that has a meaningful name to avoid
hardcoded meaningless literal values in the scripts.

For me things like DISKLAYOUT_FILE and RECOVERY_FS_ROOT
represent values that rear needs internally to work.

I thin

[2015-11-24 10:01] schlomo commented on #678
+1 for readonly constants. I would put them in the main rear script, unless
you plan to read them also from outside the rear framework, e.g. from the
system-setup scripts in the rescue system.

On 24 November 2015 at 09:40, Johannes Meixner <notifications@github.com>
wrote:

[2015-11-24 12:03] jsmeix commented on #678
I will have readonly constants in the main rear script because this is
simplest and only if really needed have them in a separated file.

Depending on how variables are meant to be used they can be
easily moved from usr/sbin/rear to default.conf or vice versa
and they can be easily declared as readonly or not.

[2015-11-24 16:39] jsmeix commented on #678
Of course https://github.com/rear/rear/pull/710 is not yet
the final solution - but it should be a first working step
(at least "rear mkbackup" and "rear recover" still works for me).

[2015-11-24 16:40] jsmeix commented on #708
Of course https://github.com/rear/rear/pull/710 is not yet
the final solution - but it should be a first working step
(at least "rear mkbackup" and "rear recover" still works for me).

[2015-11-25 09:09] jsmeix opened #712 "Have rear-$(hostname)-$WORKFLOW-<date>.log in any case"
Currently subsequent runs of "rear &lt;workflow&gt;"
keep exactly one old log file in a hardcoded way
in usr/sbin/rear
<pre>
# Keep old log file:
if test -r "$LOGFILE" ; then
    mv -f "$LOGFILE" "$LOGFILE".old 2>&8
fi
</pre>

Because of https://github.com/rear/rear/pull/709#issuecomment-159346698 I like to discuss here
whether or not this should be changed to use rear-$(hostname)-$WORKFLOW-<date>

[2015-11-25 09:51] pavoldomin commented on #712
I support @jsmeix point, we should not modify the existing defaults: admins may have implemented  some post-processing with the rear log file (parse it/copy it somewhere/...) and changing the default name would break that.

[2015-11-25 12:04] gdha commented on #712
Currently we have `./usr/share/rear/conf/default.conf:LOGFILE="$LOG_DIR/rear-$HOSTNAME.log"
` as a default. If there is a consensus to keep it as it is now then that is fine for me.
Others may have a different opinion, but then I would like to read it here...

[2015-11-25 12:22] gdha commented on #680
@maxbur1960 May this be closed?

[2015-11-25 12:39] jsmeix commented on #706
This particular issue is fixed with https://github.com/rear/rear/pull/709

[2015-11-25 12:39] #706 closed

[2015-11-25 12:45] jsmeix commented on #712
Because there is general agreement not to change
the default log file name, I close this issue.

[2015-11-25 12:45] #712 closed

[2015-11-25 12:48] #21 closed

[2015-11-25 14:05] vhaeuss opened #713 "recovery with TSM Replication breaks"
Hallo,

as TSM now does replication the output of `dsmc q f` hast changed from
[code]
to something like
[code]
This of course makes things go wrong in `/usr/share/rear/verify/TSM/default/40_verify_tsm.sh`

I suggest following change in 40_verify_tsm.sh, as only the first and last item in output is needed:
[code]
Test recovery has worked fine.

Regards
Volker

[2015-11-25 14:14] gdha commented on #713
@vhaeuss Thanks for letting us know - why not prepare a small pull request?

[2015-11-26 08:43] HazCod opened #716 "ISO file target instead of USB device"
Hi,

I'm trying to find a solution that will generate disaster recovery ISOs every day for every server.
The backup software would be bacula.

is it possible to define an ISO file instead of a USB device as destination?

EDIT: local.conf mentions an ISO is used if output is not set. But what if I want to specify an ISO location?

[2015-11-26 08:53] HazCod commented on #716
Edit:

[2015-11-26 08:53] #716 closed

[2015-11-26 09:26] HazCod opened #717 "[FR] Specify Bacula jobid in confi"
Currently, the config allows us to specify the volume on beforehand but not the jobid.
(this is possible too in bootstrap.txt of bextract)

It would be good if we could specify the JobId too in the configuration file, so an almost-automatic disaster recovery CD can be built.

[2015-11-26 13:20] jsmeix opened #718 "DISKLAYOUT_FILE versus LAYOUT_FILE inconsistency"
I am confused about DISKLAYOUT_FILE versus LAYOUT_FILE.

Both are used but it seems both mean usually
the same "$VAR_DIR/layout/disklayout.conf".

But sometimes it seems to mean something else
like "$TMP_DIR/backuplayout.conf" and others.

It is so confusing that I regard it even as a bug
(not a bug in runtime function but a bug in programming style).

I suggest to use DISKLAYOUT_FILE everywhere
w

[2015-11-26 15:05] gdha commented on #718
This code was original written by Jeroen - I'll assign the issue to him

[2015-11-26 15:10] gdha commented on #717
@HazCod Dag and Jeroen wrote the Bacula integration, but they are not active currently within the rear project. So, no clue who could assist you with the feature request?

[2015-11-26 17:14] megabert opened #719 "[ Misunderstood ] backup from rescue stick not possible by design / prevent incompatible workflows in rescue mode"
# Short
When I run through the quickstart, I create the rescue disk and boot a server i want to backup. In rescue mode, when I try to backup a system, I get the error:

Could not find "isolinux.bin". Maybe you have to set ISO_ISOLINUX_BIN....

# Long
1. I installed rear at debian 8 (At first 1.17.2 from git, then the deb package with same version, after that rear 1.16.1 as deb package, all the sam

[2015-11-26 17:33] gdha commented on #719
@megabert did you install extlinux - that is what you need to boot from an USB device?

[2015-11-26 17:45] schlomo commented on #719
You should run `rear mkbackup` instead of `rear mkrescue`. From within the rescue system you can only run `rear recover`.

And yes, It can be that ATM you need to install the package that provides isolinux.bin. We will fix this in the next release, IIRC.

[2015-11-26 17:48] megabert commented on #719
Yes.

Ok. Seems I haven't got the full picture.

Thanks.

[2015-11-26 17:49] schlomo commented on #719
If that is the case, maybe rename the issue to rear "prevent incompatible workflows in rescue mode"

[2015-11-27 08:37] jsmeix commented on #718
@jhoekx
I could fix it provided I do really understand the exceptional cases
where DISKLAYOUT_FILE / LAYOUT_FILE is not
set to "$VAR_DIR/layout/disklayout.conf".

I would first change the exceptional cases
to use a different separated variable name like
<pre>
readonly BACKUPLAYOUT_FILE="$TMP_DIR/backuplayout.conf"
</pre>
when this is menat to be used globally or
<pre>
local backuplayout_file="$TMP

[2015-11-27 14:46] jsmeix commented on #700
I have an idea how I could make rear working with ''set -ue -o pipefail"
step by step:

I can do it script by script.

For each script I can add at the beginning a line
<pre>
set -ue -o pipefail
</pre>
and at the end a line
<pre>
set +ue +o pipefail
</pre>
to make that one working with 'set -ue -o pipefail'.

The advantage of having 'set -ue -o pipefail' hardcoded in the
scripts is that it ensures

[2015-11-27 15:38] maxbur1960 commented on #680
Yes gentleman, it can be close. Thank you very much indeed.

[2015-11-27 15:38] #680 closed

[2015-11-28 17:18] schlomo commented on #700
@jsmeix great idea! That way it is also visible in that script that those settings are active. Maybe less of a surprise for the next developer to work on a script.

[2015-11-28 17:21] schlomo commented on #700
One other thought. By disabling those settings at the end of a script you will also disable them if they are enabled globally. Maybe you write a function to remember the settings and to return them to the remembered state?

In general it might be useful to have functions for those settings so that we can change them centrally or extend them with tracking code and other stuff.

[2015-11-30 07:56] jk04au opened #720 "Package dependency error when backing up Debian 8.2 system to USB device"
My environment
<pre>
Testing date: 2015-11-30
Operating system: Debian 8.2 (jessie)
Package: rear_1.17.2_all.deb
</pre>

I had successfully installed rear with all its dependencies but another dependency showed up when backing up the system to a USB device.
<pre>
root@debian-8b:/etc/rear# rear -v mkrescue
Relax-and-Recover 1.17.2 / Git
Using log file: /var/log/rear/rear-debian-8b.log
ERROR: Execut

[2015-11-30 09:38] jsmeix commented on #700
I agree.

I found
http://unix.stackexchange.com/questions/210158/how-can-i-list-bashs-options-for-the-current-shell

Accordingly it seems the right way to save and restore bash flags and options is
<pre>
# Save current flags and option settings as bash comands:
bash_flags_and_option_settings=$( set +o | tr '\n' ';' ; shopt -p | tr '\n' ';' )
# Change flags and options as one likes:
...
# Restore b

[2015-11-30 09:57] jsmeix commented on #700
It seems Rear does not yet have a stack implemented.

Via
http://brizzled.clapper.org/blog/2011/10/28/a-bash-stack/
I found
https://github.com/bmc/lib-sh
where
https://github.com/bmc/lib-sh/blob/master/LICENSE.md
reads that it is "under a BSD license".

@schlomo
could you check if their license is o.k. so that it could be used in rear?

[2015-11-30 10:09] jsmeix commented on #700
Or avoid the stack and use local variables in place like
<pre>
# Save current flags and option settings:
flags_and_options=$( get_bash_flags_and options )
# Change flags and options as one likes:
...
# Restore bash flags and option settings:
set_bash_flags_and options( $flags_and_options )
</pre>
that call complementary global stateless functions
<pre>
function get_bash_flags_and_options () { ...

[2015-11-30 10:52] jsmeix commented on #700
Or don't use a generic stack but a simple array that is sufficient
only for this particular use case?

[2015-11-30 13:40] gdha commented on #720
Rear adds/checks dependencies on package level for the minimum requirements. `isolinux` belongs to the minimum required packages. However, `extlinux` is an optional package only required with USB. Therefore, we do additional checks in the **prep** phase. That is what you saw during your test run. We assume that the users first try it manually before automating rear.

[2015-11-30 19:00] towster opened #721 "excessive delay with mkbackup on oracle ASM server"
I ran into an issue with doing a backup of a server with oracle ASM. The backups were taking an excessively long time (like 8+ hours). I tracked it down watching the logs to see what was taking so long. Basically there were nearly 100,000 files in "/dev/oracleasm/iid" directory and this list was getting appended to a list within rear to be copied.

I was able to work around the issue by doing the

[2015-11-30 21:48] schlomo commented on #721
I don't think that the ReaR **rescue** system needs the `/dev/oracleasm` devices whatsoever.

Can you try if your use case also works if you exclude `/dev/oracleasm` and **not** manually restore that?

[2015-12-01 04:59] Rendanic commented on #721
This is a known bug in oracleasm. Please exclude the directory from the backup as it includes runtime information for ASM. The files are removed after a restart of the oracleasm service or a reboot of the host.

[2015-12-01 08:07] #721 closed

[2015-12-01 08:08] schlomo commented on #721
Can you please test and confirm that it works? Thanks a lot!

[2015-12-01 13:27] jk04au opened #722 "Incorrect rear bash history entry"
My environment:
<pre>
Testing date: 2015-12-01
Operating system: Debian 8.2 (jessie)
Package: rear_1.17.2_all.deb
</pre>

During a USB recovery phase, rear was unable to mount USB device. Decided to drop to shell when offered a menu for my next action. Found root .bash_history file already populated with a few entries presumably as a troubleshooting aide for administrators.
<pre>: : : : : WHAT ELS

[2015-12-01 13:44] itsbo opened #723 "Downgrade dependency in .DEB"
Could you downgrade the dependency on portmap also to a recommend? If nfs-client is already a Recommend then having a hard dependency on portmap is unnecessary and only leads to a rpc daemon running unnecessarily. Having to disable the portmapper manually is cumbersome.

[2015-12-01 15:08] HazCod commented on #719
A bit of hijack perhaps, but can `rear recover` be executed automatically?

[2015-12-01 15:45] schlomo commented on #719
Yes, hijack. See #686 for details:

[code]

And a pull request to the man page / web site is most welcome :-)

[2015-12-02 08:57] gdha commented on #722
@jk04au these are simply some examples so that the history is not empty to start with. When you haven't started a recovery operation then the `distrestore.sh` script does not yet exists.
It is as it is...

[2015-12-02 09:02] jsmeix commented on #688
With the added documentation for the new debugscripts option in https://github.com/rear/rear/issues/715 this issue is fixed.

[2015-12-02 09:02] #688 closed

[2015-12-02 09:08] jsmeix commented on #556
I used it many times on my SLES12-SP1 test system
and for me it "just works" so that from my point of view
I can close this issue.

[2015-12-02 09:08] #556 closed

[2015-12-02 10:26] jsmeix commented on #700
I experimented with using implicitly a stack (i.e. an array) of saved_flags_options_cmds via save_flags_and_options and restore_flags_and_options functions but its usage was not sufficient for my needs.

In particular I like to be able to restore an explicity named state.

In the end in https://github.com/rear/rear/pull/726  I implemented simple functions get_bash_flags_and_options_commands and ap

[2015-12-02 10:30] gdha commented on #723
@itsbo It makes sense. I'll make the necessary changes.

[2015-12-02 10:30] #723 closed

[2015-12-02 10:33] gdha commented on #720
@jk04au are you satisfied with the answer? If you are fine then close this issue. Thanks.

[2015-12-02 11:30] jsmeix commented on #561
As usual I have tested https://github.com/rear/rear/pull/727 on my SLES12-SP1 test system with btrfs (where this code is actually used) and it still works for me.

[2015-12-02 11:30] gdha commented on #486
@Reiner030 Do you want to keep this issue open? Or can it be closed?

[2015-12-02 11:32] #713 closed

[2015-12-02 11:54] itsbo commented on #723
Thank you.

[2015-12-02 15:54] jsmeix commented on #540
With https://github.com/rear/rear/pull/728 I think this issue is sufficiently fixed.

Using another program (e.g. dd) as fallback if wipefs is not available
is something for the future - perhaps best via a separated follow-up issue - provided such a fallback is really needed on nowadays systems: wipefs is available on SLE11 and SLE12 (wipefs was added on Apr 13 2011 in the SUSE's util-linux RPM (t

[2015-12-02 16:11] jsmeix opened #729 "Confused about the meaning of the has_binary and get_path functions"
In https://github.com/rear/rear/pull/728 I did
<pre>
has_binary wipefs && REQUIRED_PROGS=( "${REQUIRED_PROGS[@]}" wipefs )
</pre>
based on what I found in 26_crypt_layout.sh
<pre>
if ! has_binary cryptsetup; then
    return
fi
...
REQUIRED_PROGS=( "${REQUIRED_PROGS[@]}" cryptsetup )
</pre>

In _input-output-functions.sh there is
<pre>
# Check if any of the binaries/aliases exist
has_binary() {

[2015-12-02 16:12] jsmeix commented on #729
@gdha @schlomo
could you tell more about the intended usage of the has_binary and get_path functions?

[2015-12-02 16:45] schlomo commented on #729
has_binary helps you to know if there is a program that you can call. You don't care if it is a shell alias or a file on disk or a shell function, you just want to know if you can call it.

get_path returns you the file path of a program on disk if it is in $PATH

[2015-12-02 23:36] jk04au commented on #720
Reading your response, I get the impression that _extlinux_ will remain an optional package and will not be installed automatically when ReaR is installed. However, some time in future, if the user is backing up to the USB device, ReaR will detect _extlinux_ is missing and installs it automatically.  Is that right?

[2015-12-03 09:30] schlomo commented on #720
Yes and no. ReaR will notice that the required program extlinux is missing and it will abort asking you - the admin - to install it yourself.

ReaR should not install software *for you*.

We already discussed several times to idea to provide `rear-usb`, `rear-tape`, `rear-everything`... packages that would simply install `rear` and also include the dependencies for the given use case (or all depen

[2015-12-03 09:30] #720 closed

[2015-12-03 09:47] jsmeix commented on #540
With #728 this issue is sufficiently fixed.

[2015-12-03 09:48] jsmeix commented on #561
Fixed via https://github.com/rear/rear/pull/727

[2015-12-03 09:48] #561 closed

[2015-12-03 10:02] jsmeix commented on #700
With https://github.com/rear/rear/pull/726 the precondition for
https://github.com/rear/rear/issues/700#issuecomment-160153205
is implemented so that now one can make a particular piece of code (e.g a script) working with ''set -ue -o pipefail" as follows:
<pre>
local saved_bash_flags_and_options_commands="$( get_bash_flags_and_options_commands )"
set -ue -o pipefail
... [code that works with "set

[2015-12-03 13:43] #467 closed

[2015-12-03 13:52] jsmeix commented on #729
Simply put:
<pre>
REQUIRED_PROGS=( "${REQUIRED_PROGS[@]}" kill )
</pre>
does not work (no "bin/kill" in recovery system)
while
<pre>
REQUIRED_PROGS=( "${REQUIRED_PROGS[@]}" /usr/bin/kill )
</pre>
works.

Details:

My point is that get_path (i.e. "type -p") returns the file path of its argument on disk if it is in $PATH but only when its argument is of type "file".

In contrast to "type -P" that re

[2015-12-03 14:05] schlomo commented on #729
IMHO `kill` is not really a valid example. As ReaR actually requires Bash >= 3 to work we always "ship" the Bash internal commands.

If a user would have a personal shell function `mykill` and include that in `REQUIRED_PROGS` then indeed it would not work.

Maybe we can fix that problem when it comes up? Or do you have a specific problem that needs fixing.

Using `type -P` might indeed be a good i

[2015-12-03 14:40] jsmeix commented on #729
I have no specific problem that needs fixing
so that there is not any kind of pressure here.
Accordingly I did not set the label "bug" for this issue
but only "enhancement" (and "documentation" if needed).

I think "kill" is a valid example at least on my SLE12 system because:
<pre>
# help kill

kill: kill [-s sigspec | -n signum | -sigspec] pid | jobspec ... or kill -l [sigspec]
...
    Options:

[2015-12-03 14:48] jsmeix commented on #729
In the bash-2.05b sources (we have that in SLE9) I found builtins/type.def that contains:
<pre>
... type [-afptP] name [name ...]
...
If the -p flag is used, `type' either returns the name of the disk
file that would be executed, or nothing if `type -t NAME' would not
return `file'.
...
The -P flag forces a PATH search for each NAME, even if it is an alias,
builtin, or function, and returns the na

[2015-12-03 14:53] schlomo commented on #729
@jsmeix did we already define the oldest OS version we support? That would give you where to check.

BTW, I just realized another probable reason for having `get_path` and `has_binary`:
* `get_path` should be used to copy programs to the rescue system. Here we need the actual path of the file in order to copy it.
* `has_binary` should be used to decide if a a feature is available, e.g. `wipefs`. F

[2015-12-03 15:10] jsmeix commented on #729
I made my pull request simultaneosly with your comment.

If you like, accept the pull request.

I think using "type -P" instead of "type -p" for get_path()
is a real improvement towards more fail-safe operation.

Even if it is only needed in exceptional cases - but usually
the special use cases are the ones that cause trouble.

[2015-12-03 15:12] jsmeix commented on #729
I think I remember official support for some old distributions was dropped. I think @gdha has mentioned it in the documentation...

[2015-12-03 15:16] jsmeix commented on #729
I found in doc/rear-release-notes.txt
<pre>
Supported Operating Systems

Rear-1.17 is supported on the following Linux based operating systems:

  Fedora 20, 21 and 22
  RHEL 5, 6 and 7
  CentOS 5, 6 and 7
  ScientificLinux 6 and 7
  SLES 11 and 12
  OpenSuSe 11, 12 and 13
  Debian 6, 7 and 8
  Ubuntu 12, 13, 14 and 15

Rear-1.17 dropped officially support for the following Linux based operating
s

[2015-12-03 16:50] jsmeix commented on #729
With https://github.com/rear/rear/pull/730 the isue should be fixed.

[2015-12-03 16:50] #729 closed

[2015-12-04 09:50] schlomo opened #731 "Use os-release instead of lsb_release"
I think that [os-release](http://www.freedesktop.org/software/systemd/man/os-release.html) is a good thing. All systemd based distros will ship that file and the content is well defined. We can pull all or at least most of our info from there as well.

I would therefore propose a completely different approach:
- Write code to parse [os-release](http://www.freedesktop.org/software/systemd/man/os-re

[2015-12-04 15:16] jsmeix opened #732 "SUSE Hack Week 13: Use rear as generic installer in the plain SUSE installation system"
During SUSE Hack Week 13 I will imlement to use rear
as generic installer in the plain SUSE installation system.

See
https://hackweek.suse.com/13/projects/1190

I think I can add functionality to rear so that it can be used as generic installer without any incompatible changes.

My current plan:

I add a separated new workflow "install" where install-workflow.sh
is derived from recover-workflow.s

[2015-12-04 15:25] jsmeix commented on #732
For my very first tentative experiments see
https://github.com/jsmeix/rear/tree/add_install_workflow

(Currently the 50_install_software_packages.sh and 50_basic_configuration.sh scripts are ugly SUSE-specific hacks.)

[2015-12-04 15:31] jsmeix commented on #732
For the fun:
With some (but not too much) additional manual stuff in the installation system I have right now installed my first SLES12 system via "rear install" from within the plain SUSE installation system :-)

Have a nice weekend!

[2015-12-04 16:01] gdha commented on #732
@jsmeix do you have some specific goal in mind like cloud installations and bare metal restore from cloud images? Or, do you see it broader?

[2015-12-04 18:27] towster commented on #721
I can test it next time we do our DR testing but it wont be until march/april.

[2015-12-07 22:22] razorfish-sl opened #733 "REAR not backing up all LVM volumes"
It seems that lvm volumes that contain block images do not restore correctly.

multiple LVM volumes over:
sda, 20gb
sdb , 350gb block image

Installed rear 1.17.2
setup NAS via NFS
dropped down to:
 Init1
reconfigured missing network interface for ethernet
rear -v mkbackup

Total backup  gz only  20gb

moved to secondary system, booted from iso

rear restore

sda restored
sdb MISSING....

[2015-12-08 13:17] gdha commented on #733
@razorfish-sl could you paste the content of `/var/lib/rear/layout/disklayout.conf` file?

[2015-12-08 13:41] gdha commented on #719
@schlomo `ISO_DEFAULT` is already described in the man page.

[2015-12-08 13:44] #719 closed

[2015-12-08 13:59] gdha commented on #705
See also the discussions of issue #634

[2015-12-08 15:37] gdha opened #734 "Align OUTPUT_URL=null description of man page throughout rear workflows"
The man page says:

[code]

but, currently this is only honoured when `BACKUP=NETFS` method has been set.
We have had requests for external backups methods like TSM and NSR (issues #634, #705, #419 and #501) to reduce duplicate ISOs or to avoid backup ISOs after each `rear mkrescue` run.

Therefore, we could define some new global variables especially for external backup methods:
- `COPY_LOCAL_ISO

[2015-12-09 09:30] razorfish-sl commented on #733
[disklayout.conf.zip](https://github.com/rear/rear/files/56565/disklayout.conf.zip)

[2015-12-09 09:40] gdha commented on #733
@razorfish-sl According the disklayout no Lvol from /dev/cinder-volumes was mounted at the time rear was running. Can you confirm this? If that is the case then this is how rear has been designed. Only deal with mounted FS, Lvols (of active Vgs).

[2015-12-09 11:37] jsmeix commented on #732
@gdha

(late reply because I was not in the office until now)

I do not have a specific goal in mind.
I see it as a natural/native/intrinsic/inherent/genuine functionality.

Why I see "install" as natural functionality:

See https://en.opensuse.org/SDB:Disaster_Recovery
<pre>
Disaster recovery is installation (reinstalling from scratch)

The core of disaster recovery is an installer
that reinstall

[2015-12-09 13:48] jsmeix commented on #540
Right now (during https://github.com/rear/rear/issues/732) I detected that in some cases one must use
<pre>
wipefs -a -f /dev/sdXn
</pre>
because without '-f' (--force) wipefs will not erase a partition table
on a block device that is a partition (e.g. /dev/sda1).

I had the strange case that wipefs detected a DOS partition table
on the partition /dev/sda2 (note that it is not the whole disk /dev/

[2015-12-09 16:13] jsmeix commented on #732
FYI:
I have a first usable implementation of the "install" workflow.
It is still a SUSE-specific proof-of-concept hack.
It is not at all generic.
But it works (for me)!
See
https://github.com/jsmeix/rear/tree/add_install_workflow

[2015-12-09 16:25] gdha commented on #732
I think your install script is not located in the right directory default
-> SUSE_LINUX/i386/ as it uses zypper (and it seems rather hard-coded).
But, I understand it is a proof-of-concept so I forgive you ;-)
Gratien

On Wed, Dec 9, 2015 at 5:13 PM, Johannes Meixner <notifications@github.com>
wrote:

[2015-12-09 23:51] tbsky commented on #540
hi jsmeix:

  I don't use ext4 so I am surprised about your finding. as I said I don't think wipefs can detect/clean complicated storage object (like stacking of mdadm/drbd/lvm), so the correct behavior of  specific storage tools is the last rescue. all the tools I need  in rear now has correct behavior like below:

    mkfs.xfs -f
    mdadm --create --force
    lvm lvcreate <<<y
    drbdadm -- --

[2015-12-10 03:06] tbsky commented on #540
@jsmeix

 it's maybe off topic. as you mentioned, the original problem wipefs want to solve is like issue #533.
 the root cause of these issues is the "automatic behavior" of linux environment. if linux didn't have these "automatic behavior" rear would be much more easier to do its job.

 in my case I found two kinds of "automatic behavior":

the first is from boot module loading, which cause issu

[2015-12-10 07:00] gdha commented on #697
@TobiasKarnat Is your question answered? Do you still need further assistance?

[2015-12-10 07:06] gdha commented on #670
@Kamoul It seems that we need to add new variable definitions in `conf/default.conf`:
`BACULA_DIR_NAME=` and `BACULA_DIRECTOR=` with some explanation.
Are you able to prepare a pull request?

[2015-12-10 07:45] Kamoul commented on #670
Hello
Ok i Will do the request

Envoyé de mon iPhone

[2015-12-10 07:59] jsmeix commented on #732
I know that both my scripts are currently plain wrong in "default"
and in particular the basic_configuration script needs to be split
into its separated parts and much more things like that.

As long as I did not make a pull request I consider all my stuff as
totally tentative and experimental.

My next steps will be to implement the current SUSE-specific install
workflow properly so that I think

[2015-12-10 09:06] swusowski opened #736 "Using HP DL360g9 SD-Card as rear recovery media in UEFI environment - HowTo?"
Hello,
I want to use the internal SD-Card of the HP DL360g9 for rear recovery media in UEFI boot (with booting from SD-Card) environment.
Is it basically possible boot the DL360g9 from SD-Card in UEFI?

If OUTPUT=ISO we can use this for UEFI boot via iLO virtual Media. I try to write the ISO-file to the SD-Card but it can't boot. (Didn't try in Legacy Mode)

If OUTPUT=USB we can only boot in Legac

[2015-12-10 13:07] razorfish-sl commented on #733
[root@core ~]# cd /dev/cinder-volumes
[root@core cinder-volumes]# ls -la
total 0
drwxr-xr-x.  2 root root   60 Dec  7 12:49 .
drwxr-xr-x. 21 root root 3340 Dec  9 01:30 ..
lrwxrwxrwx.  1 root root    7 Dec  7 12:49 volume-7bf54f60-5e6e-421b-851c-849b3c2908c2 -> ../dm-2
[root@core cinder-volumes]#

but it is 'not' formally mounted  to a mount point as in 'mount /dev/mapper/centos-spare   /spare'

i

[2015-12-10 16:41] jsmeix commented on #732
Now https://github.com/jsmeix/rear/tree/add_install_workflow
works reasonably well for me and
I have splitted SUSE-specific stuff into
install/payload/SUSE_LINUX/

But it is still not ready for a pull request because there is
too much hardcoded stuff in the SUSE-specific scripts.

Note that meanwhile I had to change an existing script:
wrapup/default/99_copy_logfile.sh
because before it only worke

[2015-12-11 09:14] gdha commented on #733
@razorfish-sl So, to me, rear does what it needs to do - archiving the root disk; from your explanation it wouldn't make sense anyway to archive the cinder-volumes.
I don't know what your expectation are, but I have no clue how you need to backup the cinder-volumes without risking the backup is worthless?

[2015-12-11 10:00] gdha commented on #736
Perhaps see http://relax-and-recover.org/documentation/faq How to create a bootable USB disk from an ISO image
However, rear itself is not capable (yet) to make an UEFI bootable SD/USB disk.

[2015-12-11 10:04] gdha commented on #565
See also pull request #737

[2015-12-11 10:10] gdha commented on #565
@goldzahn if you have some time could you test out the git version of rear which now includes the pull request #737

[2015-12-11 13:58] goldzahn commented on #565
@gdha Still produces the avc. The pull request changed two scripts, but there are 4 more of it using "-P"
Running grep -Enr "grep -[a-zA-Z]{0,6}P":
/usr/share/rear/layout/save/GNU/Linux/51_current_disk_usage.sh:5:df -Plh |grep -vP '^(encfs)' > $VAR_DIR/layout/config/df.txt
/usr/share/rear/output/USB/Linux-i386/30_create_extlinux.sh:6:            strings $file | grep -P -m1 "^(EXT|SYS)LINUX \\d+.\\

[2015-12-11 16:05] jsmeix commented on #732
I cleaned it up so that no longer hardcoded stuff is used
except install/configure/SUSE_LINUX/20_fstab.sh that I need
to make as generic fstab creator that creates fstab based on
what is mounted under /mnt/local.

All other hardcoded hacks are removed now and the data
needs now to be provided in variables in /etc/rear/local.conf
as described in https://github.com/rear/rear/commit/b8f5e5eaa67604dd6

[2015-12-11 16:34] gdha commented on #565
@goldzahn I just did a full recovery with Selinux and everything seems to work fine. Could you confirm?

[2015-12-11 16:41] gdha commented on #316
no need to keep this open for now

[2015-12-11 16:41] #316 closed

[2015-12-11 17:11] gdha commented on #585
@pomusa can this issue be closed?

[2015-12-12 07:13] TobiasKarnat commented on #697
Sorry about the late response. We do actually always want to add the backup to the ISO image.
As the system is now productive, I only have limited access and can not test any more.

I opened this issue to inform the developer that there is a bug and for others which might need the same workaround.

Thank you.

[2015-12-12 10:01] gdha commented on #697
I don't see it as a bug, it is a missing feature nobody added (yet). You could add it yourself like I explained before, or sponsor the code (`BACKUP_URL=iso://backup`) to include the backup into the ISO image for the PPC track. However, if you are happy with your hack then that is fine for me, but we will not add it to rear master branch as the code as it is now is doing exactly what it is written

[2015-12-12 10:52] gozora commented on #697
Some time ago, I was thinking of kind of "feature" for ebiso, that would just take finished tar archive and simply add it to bootable iso. But after a while I put it "on hold" as it didn't look to have much of a value for me...
Do you guys think such a feature can be useful in the future?

[2015-12-13 07:04] razorfish-sl commented on #733
how can the backup be worthless if I issued an init 1?

[2015-12-15 13:13] jsmeix commented on #708
Via https://github.com/rear/rear/pull/740 I would like to rename RECOVERY_FS_ROOT into TARGET_FS_ROOT.

I felt always unhappy with the name RECOVERY_FS_ROOT
but somehow I had no better idea how to call what it actually is.

During https://github.com/rear/rear/issues/732 I noticed that
the name RECOVERY_FS_ROOT is really misleading.

I would very much appreciate it if the rear upstream authors
woul

[2015-12-15 14:02] jsmeix opened #741 "Shouldn't "Source unsourceable_file" bail out with BugError?"
I wonder if the Source function shouldn't bail out with BugError
when it is called with an argument that cannot be sourced.

Reason: I think any "Source unsourceable_file" in the code
is a programming error.

Or do I misunderstand it and there is a reason why
"Source unsourceable_file" is just ignored/skipped?

Here the story behind https://github.com/rear/rear/pull/738

I made a programming error

[2015-12-15 14:29] schlomo commented on #741
This code in `usr/sbin/rear` relies on this feature:

[code]

All these config files are optional.

[2015-12-15 14:38] jsmeix commented on #741
I will have a closer look - but at first glance doesn't the
<pre>
test -r "$file" && Source "$file"
</pre>
ensure that the Source function is notcalled with unsourceable files?

Perhaps to better match the test in the Source function
<pre>
    if ! test -s "$source_file" ; then
        Debug "Skipping Source() because source file '$source_file' not found or empty"
        return
    fi
</pre>
it s

[2015-12-15 14:44] jsmeix commented on #741
I think - strictly speaking - the real correct test
to find out if $file is sourceable is
<pre>
bash -n "$file" && Source "$file"
</pre>

[2015-12-15 14:53] schlomo commented on #741
@jsmeix looking again at the code that *I* quoted makes me think that you are right. We should remember separation of concerns and decide what is the responsibility of the `Source` function.

**Idea:**
Add a `--skipmissing` command line parameter to the `Source` function and use that for reading the configs and not use it in the `SourceStage` code. Without this parameter `Source` will exit with `B

[2015-12-15 15:15] jsmeix commented on #741
I fully agree to move the testing responsibility into the Source function
because then it is implemented once at one place plus a parameter
for the Source function to specify how it should do its tests.

I suggest to keep in the Source function
<pre>
local source_file="$1"
</pre>
so that all existsing "Source $file" works as before and
have an optional
<pre>
local error_behaviour="$2"
</pre>
to op

[2015-12-15 15:35] gdha commented on #741
@jsmeix sounds good to me - back-worth compatibility is important

[2015-12-15 15:41] jsmeix commented on #741
Backward compatibility is mandatory!
Except for severe bugs and security issues where an
incompatible change is sometimes the only way to fix it.

Interestingly the Source function is only called in usr/sbin/rear
(as shown above in https://github.com/rear/rear/issues/741#issuecomment-164780547)
and
by the SourceStage function in
usr/share/rear/lib/framework-functions.sh

Therefore it is easy to ch

[2015-12-15 16:07] schlomo commented on #741
Ah, I would really prefer to stick to the Unix command line standards.

What is wrong with something like this:
[code]

And if we need to add more arguments then we can also employ `getopts` and friends.

I would initially also implement *only* the parts that we actually need for one change and not put there any features that we don't need ATM.

All that is actually backwards compatible because I

[2015-12-15 16:48] jsmeix commented on #741
@schlomo
also o.k. for me.

I will change my current
https://github.com/jsmeix/rear/tree/add_optional_error_behaviour_for_Source_function
accordingly tomorrow (I also need to test it)
and then do a pull request.

[2015-12-16 09:20] jsmeix commented on #741
I found out that I cannot keep the default error behaviour
backward compatible when I like to get it safer against
programming errors.

Assume there is /usr/share/rear/myscript.sh and
<pre>
Source "myscirpt.sh"
</pre>
then I like to have it directly bail out with BugError
"source file /usr/share/rear/myscirpt.sh not found or empty"
to be safer against such programming errors.

But I can implement

[2015-12-16 09:29] schlomo commented on #741
@jsmeix I am not sure I understand the problem you try to solve.

Do we really need to care so much about backwards compatibility if `Source` is just in just 2 files?

In how many places do you plan to `Source myscript.sh`? What is the specific use case you have in mind?

Again, let's try to keep the scope of this change as narrow as possible and fix potential problems when they actually show up.

[2015-12-16 11:35] phracek opened #742 "Test suite for rear"
Would it possible to create a test suite for rear?
Or even rear already include it, but I did not find them.

[2015-12-16 11:54] schlomo commented on #742
YES, we all want this.

So far we have `make validate` and @aussendorf built something for their Bareos product.

[2015-12-16 12:55] DamienGombaultRecia opened #743 "NETFS Tar Incremental restore fails with message « Backup archive '' not found » if BACKUP_PROG_COMPRESS is not gzip"
Hi.

I have set in local.conf :
BACKUP_PROG_COMPRESS_OPTIONS="--bzip2"
BACKUP_PROG_COMPRESS_SUFFIX=".bz2"
Incremental archives are now bziped and suffixed with .bz2.

In file /usr/share/rear/prep/NETFS/default/07_set_backup_archive.sh, line 14 :
for i in $(ls ${BUILD_DIR}/outputfs/${NETFS_PREFIX}/*.tar.gz); do restorearchive=$i;done
setting restorearchive variable is hardcoded with .tar.gz.

Resto

[2015-12-16 13:58] goldzahn commented on #565
@gdha Yes, I can. Now everything seems to be fine. I could run "rear checklayout", "rear mkrescue" and also a full recovery of a SELinux-enabled Rhel7-VM without problems (deny_execmem=1 was set).
Thanks

[2015-12-17 07:40] gdha commented on #743
@DamienGombaultRecia Thank you for reporting this. I'll check it myself when I have a bit of spare time (not this week anymore)

[2015-12-18 08:18] phracek commented on #742
@aussendorf I am trying to thing how to test ReaR. Any suggestions or examples?

I guess that it would be awesome to have it and test at least basic functionality.

[2015-12-18 08:53] jhoekx commented on #742
@dagwieers and I have had a plan for this for a few years already, but we never got around to actually doing it. Dag already has a server for it.

I'm running a DR test every week automatically as an Ansible playbook. Building on that, our plan was to:
* create a master ReaR image that has all the necessary tooling
* boot it
* upload and run a script that creates the test layout
* select a distrib

[2015-12-18 10:00] jsmeix opened #744 "Merry Christmas and a happy New Year!"
I wish all Relax-and-Recover users, contributors and authors
a Merry Christmas and a happy New Year!

[2015-12-18 10:57] aussendorf commented on #742
Hello,
I've integrated a ReaR test into our overall Bareos CI tests. We have VM (xen) templates for every distribution we support. Whenever we build new Bareos packages, we automatically clone those VMs, and install, configure, run backup/restore, install debug-packages, create traceback-files, de-install, and some other stuff.

For ReaR I've included a fully automated test in our framework that:

[2015-12-18 10:58] jsmeix commented on #741
I have to postpone implementation until next year
because I will not have time for it during Christmas time
(cf. https://github.com/rear/rear/issues/744)

@schlomo
I was a bit wondering about your questions because
I assumed I had already answered them above.

Perhaps my "Backward compatibility is mandatory!"
had lead to misunderstanding?

With "backward compatibility" I do not mean that old behav

[2015-12-19 12:53] gdha commented on #744
@jsmeix Thank you and I can assure you that rear still has a bright future.
Today I already used a rear rescue image twice to safe a production SPA HANA cluster (after kernel rebuild) [SLES for SAP 11 SP3]

[2015-12-19 12:53] #744 closed

[2015-12-19 16:11] schlomo commented on #741
Hi Johannes,

I am all in favour to make error behaviour more explicit.

My comment was really mostly about using Unix-style command line options
also for the Source function and not to rely on positional arguments.

Kind Regards,
Schlomo

On 18 December 2015 at 11:58, Johannes Meixner <notifications@github.com>
wrote:

[2015-12-19 20:18] jsmeix commented on #741
I fully agree that avoiding positional arguments
also helps to make it more robust against errors.

I wish you a Merry Christmas and a happy New Year!

Unfortunately @gdha had already closed https://github.com/rear/rear/issues/744
even before Christmas and New Year's Day... ;-)

[2015-12-19 20:24] jsmeix commented on #744
I also think that rear has a bright future.
As far as I can imagine the number of rear users
will increase very much in the near future.

[2015-12-20 09:01] #225 closed

[2015-12-20 09:09] gdha commented on #369
See also the discussion of related issue #731 - it is about the same. The main problem is the detection of older Debian related distr.'s (without lsb_release). See also issue #696 and pull request discussion at https://github.com/rear/rear/commit/613ba6f379e0ad93e47f707f1ae351d781008732

[2015-12-20 13:46] schlomo opened #745 "33_find_isolinux.sh also called for OUTPUT=USB"
usr/share/rear/prep/USB/Linux-i386/33_find_isolinux.sh is a symlink to ISO

Why do we need this?

[2015-12-20 13:49] schlomo opened #746 "Backup to USB needs BACKUP_URL"
In the example in http://relax-and-recover.org/usage/, it seems like
[code]
is missing.

Or is this actually a bug and it should work without?

I'll be happy to fix it, just wanted to be sure I fix the right thing :-)

[2015-12-23 21:42] dagwieers commented on #742
Ok, @jhoekx and me sat together today to look into automated testing and we did 2 things today.

- We integrated the 'make validate' step as part of a TravisCI hook, so that commits automatically get syntax checked by Bash.
- We started a separate project, named 'rear-test' (lacking a better name) with the goal to have automated backup and restore tests using different methods.

This last part is

[2015-12-23 21:58] dagwieers opened #747 "Create a Synology-integrated application or documentation"
It would be nice if Synology would ship with something that would enable it out-of-the-box to be used in a standardized way with Relax-and-Recover. What do others think ?

[2015-12-23 22:13] blaxxton opened #748 "ipv6 has been disabled in server, but ISO boots server with ipv6 assigned to eth0 and lo"
ipv6 is disabled on server but when we boot the server from ISO and
choose Recover, there is ipv6 assigned to either eth0 and lo.

This cause problem recovering from EMC Legato Networker with ipv6 name is not accessible.
EMC legato Networker check if there is ipv6 assigned to interface, and if there is , will look to find
the server name based on ipv6 address defined in /etc/hosts and fails.

We h

[2015-12-24 07:33] gdha commented on #748
@blaxxton please run rear and capture the following output (of scripts). Perhaps use GitHub Gist to store the output.
[code]

[2015-12-24 08:15] gdha commented on #748
@blaxxton perhaps also list the `ifcfg-<dev>` configuration script (location sometimes /etc/sysconfig/network-scripts)

[2015-12-24 08:16] schlomo commented on #748
@blaxxton how did you disable ipv6 on your server?

[2015-12-24 08:20] gdha commented on #746
@schlomo you are right - it should say `BACKUP_URL=` instead of `OUTPUT_URL=`. It would have been correct if the example would show `rear mkrescue` instead of `rear mkbackup`. If `BACKUP_URL` is defined (and no explicit `OUTPUT_URL` has been defined) then `OUTPUT_URL=BACKUP_URL`

[2015-12-24 08:23] schlomo commented on #747
Yes, that would be nice. Since Synology is a NAS I would guess that NFS/CIFS-based backups with PXE boot would be a feasable thing. Most likely a Synology already includes all the server components (NFS, CIFS, DHCP, TFTP) so that the ReaR module would only have to tie them together with useable configuration.

Another thing could be that we don't do PXE but USB-based booting. Then the user should

[2015-12-24 08:26] schlomo commented on #742
@dagwieers & @jhoekx thank you so much! This is really great news.

I have only one suggestion: Maybe we should rename the repo to `rear-integration-tests` or something else that is a bit more self-explanatory? I am only worried that people would think at their first glance that this is just some test and not for real. Or that it contains the bleeding edge test stuff...

[2015-12-24 08:33] gdha commented on #746
To git@github.com:rear/rear.github.com.git
   f964e26..c577cae  master -> master
We can close this one.

[2015-12-24 08:33] #746 closed

[2015-12-24 08:49] gdha commented on #747
Indeed a good idea! Perhaps http://drlm.org/ could be dumped on it? However, it still need tweaks at the client side as well.
On the other, the NAS box can already be used as a NFS storage location, and as such it already supports rear out-of-the-box, no? To use more fancy things, like becoming a PXE boot server then it needs some more configuration...