[2015-12-24 08:52] jhoekx commented on #742
Ok, renamed to `rear-integration-tests`.

[2015-12-24 10:46] gdha commented on #743
@DamienGombaultRecia could you verify the fix is correct?

[2015-12-24 10:50] gdha commented on #733
@razorfish-sl Ok understood - just mount it for the sake of rear before running mkbackup then it will be taken into account.

[2015-12-24 11:02] DamienGombaultRecia commented on #743
Hi. The patch looks good.
I'm on holidays, I will test it in January.
Happy christmas :)

[2015-12-24 11:22] blaxxton commented on #748
MyHostName###ip a
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 16436 qdisc noqueue state UNKNOWN
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
    inet 127.0.0.1/8 scope host lo
2: eth0: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc mq state UP qlen 1000
    link/ether 00:50:56:b1:06:77 brd ff:ff:ff:ff:ff:ff
    inet 192.168.112.167/24 brd 192.168.112.255 scope global eth0
MyHostName###

MyHos

[2015-12-24 11:25] blaxxton commented on #748
I deleted the ipv6 address with ifconfig command after booting to rescue by choosing recover.

[2015-12-24 11:26] blaxxton commented on #748
MyHostName###ls -la /etc/sysconfig/network-scripts/ifcfg-*
-rw-r--r-- 1 root root 268 Dec 23 16:08 /etc/sysconfig/network-scripts/ifcfg-eth0
-rw-r--r-- 1 root root 254 Oct 10  2013 /etc/sysconfig/network-scripts/ifcfg-lo
MyHostName###

[2015-12-24 11:31] blaxxton commented on #748
I deleted the ipv6 address with ifconfig command after booting to rescue by choosing recover.

      From: Schlomo Schapiro <notifications@github.com>
 To: rear/rear <rear@noreply.github.com>
Cc: blaxxton <blaxxton@yahoo.com>
 Sent: Thursday, December 24, 2015 2:16 AM
 Subject: Re: [rear] ipv6 has been disabled in server, but ISO boots server with ipv6 assigned to eth0 and lo (#748)

@blaxxton how

[2015-12-24 11:57] blaxxton commented on #748
ipv6 disabled on server by adding:
MyHostName###tail -n 3 /etc/sysctl.conf
# IPv6 support in the kernel, set to 0 by default
net.ipv6.conf.all.disable_ipv6 = 1
net.ipv6.conf.default.disable_ipv6 = 1
MyHostName###

MyHostName###head -n 2 /etc/sysconfig/network
NETWORKING=yes
NETWORKING_IPV6=no
MyHostName###

MyHostName###tail -n 1 /etc/sysconfig/network-scripts/ifcfg-eth0
IPV6INIT=no
MyHostName###

[2015-12-24 12:30] gdha commented on #748
Did you define `USE_DHCLIENT` somewhere in `local.conf` or `site.conf`? As I see no active IPv6 on your current system (which what you said), but when looking at the scripts produced by rear I see also **no** IPv6 definitions. It can only be introduced by dhcpd6 I guess?
You can always force static IP addresses with the variable `USE_STATIC_NETWORKING=1` if that would be required.

[2015-12-24 13:35] blaxxton commented on #748
Already tired USE_STATIC_NETWORKING=1 in /etc/rear/local.conf
and the result was the same, ipv6 is being set on eth0.

MyHostName###tail -n 2 /etc/rear/local.conf
BACKUP=NSR
USE_STATIC_NETWORKING=1
MyHostName###

/etc/rear/local.conf does not have any USE_DHCLIENT.

I can't find where ipv6 is being set in any of the scripts.
The only place ipv6 address is being set is when we set dhcp ipv6 but
dhc

[2015-12-24 14:04] blaxxton commented on #748
Correct me if I am wrong.

In line 64 of 21_include_dhclient.sh:
64 [ ! -z "$DHCLIENT6_BIN" ] && USE_DHCLIENT=y

This means if DHCLIENT6_BIN is not empty set USE_DHCLIENT to y which seems to be correct
but on my server, below lines always return y:

MyHostName###export DHCLIENT6_BIN=""; echo $DHCLIENT6_BIN; [[ ! -z "$DHCLIENT6_BIN" ]] && USE_DHCLIENT=y; echo $USE_DHCLIENT

y
MyHostName###export DH

[2015-12-24 15:28] blaxxton commented on #748
I even tried passing the ip and nm to kernel at boot time, but still ipv6 is being setup on both eth0 and loopback.

[2015-12-24 16:22] blaxxton commented on #748
MyHostName###export DHCLIENT6_BIN= ; DHCLIENT6_BIN=${DHCLIENT6_BIN##*/}; echo $DHCLIENT6_BIN;  [ ! -z "$DHCLIENT6_BIN" ] && USE_DHCLIENT=y; echo $USE_DHCLIENT

y
MyHostName###export DHCLIENT6_BIN="/usr/bin/dhcclient.sh"; DHCLIENT6_BIN=${DHCLIENT6_BIN##*/}; echo $DHCLIENT6_BIN;  [ ! -z "$DHCLIENT6_BIN" ] && USE_DHCLIENT=y; echo $USE_DHCLIENT
dhcclient.sh
y
MyHostName###

[2015-12-24 21:16] blaxxton commented on #748
I agree, I don't see any command that set ipv6 in rootfs, but I think show how USE_DHCLIENT is being set and dhcpd6 is being called. is it possible it is defined in kernel config file ?

[2015-12-25 03:43] razorfish-sl commented on #733
That may be problematic, since you would have to know & mount each block volume listed.
and since it is a 'cloud' you cannot  really know what is or is not there until backup time.
Which would make it a manual process, uinless there is a "mount with '*' functionality".

[2015-12-29 07:26] gdha commented on #745
@schlomo `33_find_isolinux.sh` sets the `ISO_ISOLINUX_BIN` variable (this was there from the beginning). However, since the packages were split up some modules were moved to their own sub-directory, and therefore, the script `35_find_syslinux_modules.sh` was introduced to fix this. So, script `33_find_isolinux.sh` is purely there for legacy purposes.

[2015-12-29 09:28] schlomo commented on #745
I am not sure I understand what you mean by "legacy purposes".

Can we remove this script to allow USB mode usage without installing isolinux (I know, we install it by default)?

[2015-12-29 18:57] gdha commented on #745
@schlomo It seems we only need:
[code]
Perhaps, it would be better to create a new script called `30_find_syslinux.sh` and remove the link to `33_find_isolinux.sh` (would make more sense I guess). Your thoughts?

[2015-12-29 19:22] gdha commented on #748
@blaxxton to be 100% sure you could add `set -x` to the script `./skel/default/etc/scripts/system-setup.d/58-start-dhclient.sh` and rebuild the rescue image and boot from it. Then you should see what it does... According to me the variable `USE_DHCLIENT` should **not** be set and this script should be skipped for that reason.
Otherwise, you could see what is running with `ps ax` on your rescue sys

[2015-12-29 19:36] blaxxton commented on #748
I don't think running set -x option to debug would help because you were right, and there is no where in script that ipv6 being set using ip command.

adding EXCLUDE_MODULES=( ipv6 ) to /etc/rear/local.conf fixed my problem and not seeing any ipv6 address assigned to either loopback or eth0.

This is RedHat 6 and even after disabling ipv6 in /etc/modprobe.d/ipv6.conf, I can see ipv6 modules in mod

[2015-12-29 19:53] gdha commented on #748
perhaps you could run once `rear -vd mkrescue` and check under /tmp/rear/.XXXX/rootfs/etc directory the file `modules`. Is the ipv6 listed in there?

[2015-12-29 20:48] blaxxton commented on #748
Only one entry in that file:
cat modules
vmxnet3

but there is ipv6 module in /var/lib/rear/recovery/initrd_modules
grep ipv6 /var/lib/rear/recovery/initrd_modules
ipv6

ipv6 is being added to interfaces when kernel is being loaded.

[2016-01-01 16:40] pexus commented on #613
I am still having this issue when restoring a backup created on Debian Jessie. I did apply the patch to initramfs - shell script file functions as explained here (https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=791754) before creating the backup image. Anyone successfully did a backup restore on Debian Jessie (8.x) ?. Error received when restoring:
No code has been generated to restore device fs

[2016-01-01 16:42] pexus commented on #613
I am reading the issue resolution again, I think I have re-build initrd ? I will try that.
Any other way to resolve this without rebuilding initrd ?

[2016-01-01 17:33] pexus commented on #613
I wanted to update - after I updated the initrd using command (  update-initramfs -u ), then then taking a backup, the recover seem to be proceeding.

I did notice that during the recovery process, I see the following on the console that displays the decrypting archive key. Can this be disabled or masked. Showing the decrypting key is not a best practice from security.

"Decrypting arfchive with k

[2016-01-02 10:31] rpasche commented on #613
I think this is another issue and should be opened separately. And just a note. The bug has been "closed" in "unstable" on debian. So you do not have to "pin" the initramfs-tools package on debian systems, when they are running "unstable".

Regards,
Robert

[2016-01-02 21:42] pexus opened #749 "Suppress or mask log message that shows the decrypting key on console during recover"
When using rear recover with a decrypting key, I did notice that during the recovery process, I see the following on the console that displays the decrypting archive key. Can this be disabled or masked. Showing the decrypting key is not a best practice from security stand point.

"Decrypting archive with key: XXXXXX"

[2016-01-02 21:44] pexus commented on #749
Version used was  :  Debian  8 -  1.17.2

[2016-01-03 16:58] yin747 opened #750 "Business Case: Store the OS backup in both local and remote server"
I would like to store system backup in local file system first by using "rear" and then transfer the outputs to centralized backup server with in-house script. As a result, I make two copy of Linux system image.

My question is How to perform system restore ISO image from remote server?

### local.conf ###
OUTPUT=ISO
BACKUP=NETFS
OUTPUT_URL=nfs://192.168.1.50/var/crash/rear/
BACKUP_URL=file:///fsb

[2016-01-04 10:17] gdha commented on #748
Interesting feedback - the script `./usr/share/rear/rescue/GNU/Linux/26_collect_initrd_modules.sh` prepares the initrd_modules file.
Perhaps, it would be a good idea if IPv6 is disabled to exclude it from this list. However, most likely there will always be a case where one needs it, no?

[2016-01-04 10:19] gdha commented on #749
Could you some me the `local.conf` file (mask the key of course)?

[2016-01-04 10:24] gdha commented on #750
If you copy the 2th copy on a NFS server then you can use that to restore on a recovery system. You just have to modify to `local.conf` file entry of `BACKUP_URL` to the new location, e.g.
`BACKUP_URL=nfs://NFS-server/path-to-rear-images/` before starting the `rear -v recover` process.

[2016-01-04 13:10] schlomo commented on #750
To further automate the process you could actually have Bash code in your `local.conf` that sets `BACKUP_URL` differently depending on running during recovery or during backup.

Since ReaR is a very simple Bash-based framework it should be also simple for you to integrate your in-house script into ReaR to automatically transfer away the backup after creating it locally.

If you do both you will be

[2016-01-04 13:11] schlomo commented on #748
IMHO we should actively suppress IPv6 as long as we don't handle it properly (with a flag to suppress that mechanism). So far we had more reports of "IPv6 broke my environment" than of "Please handle IPv6 properly".

[2016-01-04 14:30] yin747 commented on #750
Dear gdha,

I used above setting of local.conf. The implementation results are ..
1. The system backup in local file system
2. The rescue ISO image is stored in NFS server.

However, when I used the rescue ISO image for system recovery, the source of system backup is pointed to file:///fsbackup.

Regards,
Samson

[2016-01-04 19:01] gdha commented on #748
[code]
Is a good starting point

[2016-01-05 04:27] blaxxton commented on #748
I think it is a good idea to disable ipv6 since ipv4 is always availablein all environments, even those that has set up ipv6 on their networkbut ipv6 would cause problem for those that has not setup ipv6 in thier environments and add extra steps to disable ipv6 to be able to recover.
I don't think there is any environment totally on ipv6 and no ipv4.
If yes, then it is a good idea to have it in co

[2016-01-05 04:56] blaxxton commented on #748
One more note:
We don't want to disable ipv6 at kernel level or even we don't want to disable loading ipv6since there might be some interdepency between modules.
So we decided to disable ipv6 only in /etc/sysctl.conf and /etc/sysconfig/network.
I checked the script /usr/share/rear/rescue/GNU/Linux/26_collect_initrd_modules.sh and all it does copying the current initrd and initrmfs along with modul

[2016-01-05 12:40] schlomo commented on #748
IMHO ReaR should faithfully copy what you did on your source system. If you
disabled IPv6 in sysctl.conf then we should just copy that.

A quick look reveals that sysctl is not handled by ReaR whatsoever. Maybe
we should just add a "copy all sysctl.conf stuff over and activate it on
boot" feature to solve your problem.

On 5 January 2016 at 05:56, blaxxton <notifications@github.com> wrote:

[2016-01-05 13:49] yin747 opened #751 "Question: Update system backup source during rescue image's bootup?"
Is it possible to change the system recovery source to new one (ie: file///share --> nfs://xxx/yy, when we boot the rescue image.

[2016-01-05 13:57] gdha commented on #751
The answer was already mentioned in issue #750 - before running `rear recover` edit the `local.conf` file and change the `BACKUP_URL` variable.

[2016-01-05 14:00] schlomo commented on #751
Or, as mentioned in #750, use Bash code in `local.conf` to decide the content of `BACKUP_URL` while ReaR runs. E.g. something like this:

[code]

[2016-01-05 14:00] #751 closed

[2016-01-05 14:09] gdha commented on #750
See also answer in #751

[2016-01-05 14:09] #750 closed

[2016-01-05 19:39] gdha commented on #748
@blaxxton perhaps you give it a try with development version rear-1.17.2-git201601052030?

[2016-01-06 03:28] blaxxton commented on #748
I am going to try it tomorrow, will let you know the result soon.

      From: gdha <notifications@github.com>
 To: rear/rear <rear@noreply.github.com>
Cc: blaxxton <blaxxton@yahoo.com>
 Sent: Tuesday, January 5, 2016 1:40 PM
 Subject: Re: [rear] ipv6 has been disabled in server, but ISO boots server with ipv6 assigned to eth0 and lo (#748)

@blaxxton perhaps you give it a try with development ver

[2016-01-06 14:19] 0xkakuki commented on #751
To make the ISO image generated for local restore also usable in NFS recover condition, you need to add the 'mount.nfs' 'umount.nfs' to PROGS variable. Then boot the restore system with "Recover <hostname>" menuentry and proceed the restore manually.  For example:
[code]
As these two files will not be included in the boot image under the 'file' schema.

I'm also trying Schlomo's method hoping that

[2016-01-06 14:42] 0xkakuki commented on #751
Hi,

With Schlomo's suggestion, it works like a charm. Here are my rear settings:
[code]

Thanks,
Kakuki

[2016-01-06 16:09] dagwieers commented on #747
Right, my idea was something more integrated. Or in the worst case a section in the documentation of how to configure it in a secure way. NFS is not the most secure solution (unless you have complete control of the infrastructure), I'd much rather prefer something like RBME myself :-)

Since I would like to set this up at home, let me think about it and figure something out to discuss...

[2016-01-06 21:21] blaxxton commented on #748
Can you please provide the link to download rear-1.17.2-git201601052030 ?
Thanks

      From: gdha <notifications@github.com>
 To: rear/rear <rear@noreply.github.com>
Cc: blaxxton <blaxxton@yahoo.com>
 Sent: Tuesday, January 5, 2016 1:40 PM
 Subject: Re: [rear] ipv6 has been disabled in server, but ISO boots server with ipv6 assigned to eth0 and lo (#748)

@blaxxton perhaps you give it a try with

[2016-01-07 07:20] gdha commented on #748
See page http://relax-and-recover.org/download/ and select a snapshot version according your distro and go deeper into x86_64 directory.

[2016-01-07 15:32] blaxxton commented on #748
My test server is RedHat 6, but there is no x86_64 on snapshot version.
downloaded from i686:

Index of /repositories/Archiving:/Backup:/Rear:/Snapshot/RedHat_RHEL-6/i686

|   |
|   |  |   |   |   |   |   |
| Index of /repositories/Archiving:/Backup:/Rear:/Snapsho...Index of /repositories/Archiving:/Backup:/Rear:/Snapshot/RedHat_RHEL-6/i686 Name Last modified Size  |
|  |
| View on download.opensu

[2016-01-07 15:59] gdha commented on #748
@blaxxton yes that is ok

[2016-01-07 16:00] gdha commented on #743
@DamienGombaultRecia A kind reminder to run a quick test - thx

[2016-01-07 16:02] DamienGombaultRecia commented on #743
Hi.
I'll try to test it tomorrow.

[2016-01-08 11:09] DamienGombaultRecia commented on #743
Hi.
The fix is not complete and does not work.
I did not notice before but the verify/NETFS/default/07_set_backup_archive.sh file should be modified the same way, then it works.

[2016-01-08 11:13] DamienGombaultRecia opened #752 "BACKUP_URL=cifs:// does not work because it uses noatime option"
Hi.

I try to use BACKUP_URL=cifs:// but it fails because noatime option does not exist for cifs protocol.
Tested with CentOS 7.2 (up to date).
[code]
In /var/log/message :
[code]
`noatime` is set in file :
lib/global-functions.sh:108:    local defaultoptions="rw,noatime"

noatime should not be used with CIFS protocol.

[2016-01-08 15:58] pexus commented on #749
Sorry for the delay. I will work on posting the local.conf soon.

[2016-01-09 04:24] pexus commented on #749
Here is the local.conf that I am using.
-----------------------------------------------------
# Default is to create Relax-and-Recover rescue media as ISO image
# set OUTPUT to change that
# set BACKUP to activate an automated (backup and) restore of your data
# Possible configuration values can be found in /usr/share/rear/conf/default.conf
#
# This file (local.conf) is intended for manual configu

[2016-01-09 04:25] pexus commented on #749
Here is the local.conf I am using.
----

OUTPUT=USB
BACKUP=NETFS
BACKUP_URL=usb:///dev/disk/by-label/REAR-000
BACKUP_PROG_CRYPT_ENABLED=1
BACKUP_PROG_CRYPT_KEY="XXXXXX"
BACKUP_PROG_CRYPT_OPTIONS="/usr/bin/openssl aes-256-cbc -salt -k "
BACKUP_PROG_DECRYPT_OPTIONS="/usr/bin/openssl aes-256-cbc -d -k "
BACKUP_PROG_EXCLUDE=( '/tmp/*' '/mnt/*' '/var/tmp/ppsconfig/mnt/*' '/dev/shm/*' $VAR_DIR/output/\*

[2016-01-09 12:46] gdha commented on #752
You should define (see man page of rear):
[code]

You got that error, because of the *guest* if-section in `lib/global-functions.sh`. If you would leave the noatime away you would have an issue with permissions.

[2016-01-09 13:11] DamienGombaultRecia commented on #752
If I manually mount my (anonymous) CIFS mountpoint with
`mount -v -o rw,noatime,guest //xxx/xxx/tmp /mnt`
It works

[2016-01-09 15:19] gdha commented on #752
@DamienGombaultRecia And you want to mount as guest on purpose?

[2016-01-09 15:36] DamienGombaultRecia commented on #752
Yes, I mount it on purpose.
I will test with a login/password protected CIFS mount points.
But I think to noatime option will cause the same problem.

[2016-01-11 08:48] gdha commented on #752
@DamienGombaultRecia If you use `BACKUP_OPTIONS` then you won't be using `noatime` option unless you add it in there.
However, I agree with you about `noatime` option: it doesn't seem to be a valid option for cifs (anymore?).

[2016-01-11 09:22] DamienGombaultRecia commented on #752
I have set BACKUP_OPTIONS="guest" and it works, thank you (I thought BACKUP_OPTIONS was appended to defaultoptions (not replaced)).
However I think the noatime should be be used as a default at least for CIFS.

[2016-01-11 09:41] gdha commented on #752
@DamienGombaultRecia You said "However I think the noatime should be be used as a default at least for CIFS" - is this correct? I thought **not** would be better?

[2016-01-11 09:51] DamienGombaultRecia commented on #752
I fixed my comment.

[2016-01-12 00:23] blaxxton commented on #748
I just tried rear-1.17.2-118.git201601091610.el6.i686.rpm
and it fails right at the beginning :
2016-01-11 17:03:30.248917438 ERROR: The savefs command could not retrieve the "save sets" from this client=== Stack trace ===Trace 0: /usr/sbin/rear:410 mainTrace 1: /usr/share/rear/lib/mkrescue-workflow.sh:29 WORKFLOW_mkrescueTrace 2: /usr/share/rear/lib/framework-functions.sh:85 SourceStageTrace 3: /

[2016-01-12 06:52] gdha commented on #748
@blaxxton could you check the `/var/lib/rear/recovery/` directory to find out if the necessary `nsr_*` files were properly created? The NSR scripts were not modified in the last month, so I don't get it.

[2016-01-12 13:54] schlomo opened #753 "BinCopyTo does not strip"
found in https://github.com/rear/rear/blob/master/usr/share/rear/lib/linux-functions.sh

comment says strip but strip is disabled.

Either we should remove strip and comment or put it back.

[2016-01-12 14:16] gdha commented on #753
@dagwieers `strip` has been commented by Dag between 4 and 14 June 2011. No idea why?

[2016-01-12 15:50] blaxxton commented on #748
Yes, files have been created:
ls -latr /tmp/rear.CztH5P9ZiI8iI4L/rootfs/var/lib/rear/recoverytotal 40drwxr-xr-x 5 root root 4096 Jan  9 20:22 ../-rw-r--r-- 1 root root  143 Jan 12 08:36 mountpoint_permissions-rw-r--r-- 1 root root  665 Jan 12 08:36 diskbyid_mappings-rw-r--r-- 1 root root    5 Jan 12 08:36 bootloader-rw-r--r-- 1 root root  112 Jan 12 08:36 mountpoint_device-rw-r--r-- 1 root root  

[2016-01-12 19:28] gdha commented on #748
@blaxxton Did you still had an IPv6 address after you booted from the rescue image?
In rescue image you will find a new script `/etc/scripts/system-setup.d/65-sysctl.sh` that read the `/etc/sysctl*.conf` files.
Furthermore, did you check the content of `/var/lib/rear/recovery/nsr_server` and `/var/lib/rear/recovery/nsr_paths`?

[2016-01-13 10:30] gdha commented on #745
@schlomo Just verified it with `OUTPUT=ISO` and `BACKUP_URL=usb:///...` then the `SYSLINUX_DIR` is used in fact (and needed). With `OUTPUT=USB` the `SYSLINUX_DIR` is not used.
I would leave the link so that we don't break the ISO rescue image flow in combination with USB as backup destination.

[2016-01-13 10:37] gdha commented on #743
@DamienGombaultRecia Thank you for catching this! I just fixed it as well. Please verify and give me feedback.

[2016-01-13 10:39] schlomo commented on #745
@gdha Not sure I follow your thoughts. With OUTPUT=ISO IMHO prep/USB should not be called at all. So removing something from prep/USB should not have any impact for OUTPUT=ISO but only for OUTPUT=USB.

Or do we have some auto magic stuff in place that would call prep/USB if BACKUP_URL=usb://*?

[2016-01-13 10:58] gdha commented on #745
@schlomo I removed the link and it found no negative drawback in OUTPUT=USB nor OUTPUT=ISO. Therefore, we can remove the link. If we get complaints in the future then we should remember this issue somehow.

[2016-01-13 11:00] schlomo commented on #745
Thanks a lot!

[2016-01-13 11:20] #745 closed

[2016-01-13 15:00] blaxxton commented on #748
Still ipv6 there.

I think becuase 65-sysctl.sh only including /etc/sysctl.d/*.conf and missing including /etc/sysctl.conf.

# run sysctl /etc/sysctl.conf and /etc/sysctl.d/*.conf files
for file in /etc/sysctl.d/*.conf ; do
    test -f "$file" && sysctl -e -p "$file" >/dev/null 2>&1
done
test -f /etc/sysctl.conf && sysctl -e -p /etc/sysctl.conf >/dev/null 2>&1

nsr_server and nsr_paths seems to be

[2016-01-14 09:02] jsmeix opened #754 "Enhance NFSv4 support (in particular for more security than NFSv3)"
In a DMZ we can not use the normal backup solution
and we are stuck to netfs and NFS.
Currently we use NFSv3 which has totally no security.
In NFSv4 we have some more options.

AFAIK rear does not yet support NFSv4 because
rear does not deal with the extra daemons
that it needs (idmap ...).

Currently NFSv4 works only as much as
the plain kernel module supports.

Adding the daemons should be not d

[2016-01-14 10:17] jsmeix opened #755 "rear does not work for very minimal systems"
This issue is primarily intended to document and discuss
a very special use case.
This issue is no bug report.
It might become a valid enhancement request for the future.

Some users strip down their systems to only
what is really needed to run the system.

On such systems a lot of "usually installed" stuff
that is needed by rear could be missing.

In particular all what is only needed to install

[2016-01-14 10:35] mbrookhuis commented on #755
I agree with @jsmeix
The problem is that there is an error and you get an option to read the file and then get the error.

Some remarks:
- I suspect that when a progs is in REQUIRED_PROGS the mkrescue will fail. This is OK when some really needed programs are missing. eg mkfs.* in the example.
- for less, I would suggest that we check if less is there, and if not change to the use of: cat <log>|mo

[2016-01-14 10:36] jsmeix commented on #755
Only as a side note - perhaps I detected a bug:
In /etc/rear/local.conf I have
<pre>
REQUIRED_PROGS=( "${REQUIRED_PROGS[@]}" qqq )
</pre>
but I got no error during "rear mkrescue"
<pre>
# rear -d -D mkrescue && echo OK || echo FAIL
Relax-and-Recover 1.17.2 / Git
Using log file: /var/log/rear/rear-d186.log
Creating disk layout
Creating root filesystem layout
Copying files and directories
Copying bi

[2016-01-14 10:40] jsmeix commented on #755
@gdha
what is the intended behaviour when someting
in REQUIRED_PROGS is missing?

usr/share/rear/conf/default.conf reads
<pre>
# program files (find them in the path). These progs are optional,
# if they are missing, nothing happens
PROGS=( )

# required programs. Same as above, but if they are missing, we abort.
REQUIRED_PROGS=(
</pre>

Under what exact circumstances should rear abort
if somethin

[2016-01-15 01:41] yin747 opened #756 "Business Case: Backup operation verification with rear"
After system backup completed, is there any effective way (ie: checking $?, enabling some rear's option, checking log files) to verify the backup operation as successful or failure?

[2016-01-15 14:25] gdha commented on #756
@yin747 there will always be a line added to the syslog or messages file. Of course, the rear.log is also an excellent place to look in. You can even mail the rear.log automatically it if you define RESULT_MAILTO and RESULT_MAILSUBJECT in `/etc/rear/local.conf`

[2016-01-18 09:38] yunsr opened #757 "OS doesn't boot after recover"
I could successfully created backup (mkbackup) of OS (SUSE 11 SP3 with rear-1.17.2-1) and sent to NFS share.

My site.conf:
[code]

I'm try to recover my system and recover ended successfully.
[code]
And in next step OS didn't boot from recovered system disk! (server boots in 'Red Screen' with illegal opcode)
If you can guide me the right direction, it would be much appreciated.

Thanks

[2016-01-18 09:43] gozora commented on #757
Hi,
Seeing "Red screen" term, I guess you are using some kind of HP(e) hw....

Try to boot system using Standard SLES11 ISO to **Rescue mode**, and trigger:

`/usr/sbin/grub-install.unsupported <path_to_your_bood_disk>`

[2016-01-18 10:11] yunsr commented on #757
Ok, but why Rear improperly setup bootloader?

[2016-01-18 10:15] gozora commented on #757
Not sure if this is fault of ReaR ...
I've faced something similar in the past (but only with particular Generation of HW), unfortunately I didn't had time for deeper investigation.

[2016-01-18 10:18] gdha commented on #757
The grub tries to setup a multipath device:
[code]
Is this correct?

[2016-01-18 10:21] yunsr commented on #757
yes it's correct

[2016-01-18 12:03] gdha commented on #757
I think grub does not understand **/dev/mapper/mpatha** - perhaps it should be */dev/disk/by-id/scsi-...*
That could explain the error by grub

[2016-01-18 12:45] pavoldomin commented on #757
It's also worth testing with the recent snapshot version, as there were some improvements since the August version.

[2016-01-18 14:50] yunsr commented on #757
it's seems to be true about grub. So we must to boot using Standard SLES11 ISO and reinstall bootloader after OS recover? there are no other options in rear to solve this issue?

[2016-01-18 15:35] DamienGombaultRecia commented on #743
The patch now works :)
Thank you.

[2016-01-18 15:35] #743 closed

[2016-01-19 08:03] gdha commented on #757
@yunsr **SAN boot disks** are not yet 100% fully integrated into rear. I cannot do it blindly without doing hands-on. If no-one do it for us then the community (customers) can buy time do implement this for them (remotely or on-site).

[2016-01-19 08:04] gdha commented on #757
@yunsr PS I have changed the title accordingly, if that was ok for you?

[2016-01-19 08:31] yunsr commented on #757
It's not true. We havn't Boot from SAN in our case. Boot partition reside on local disk  but it was named as mpath device.

thanks

[2016-01-19 10:18] gdha commented on #757
@yunsr Check you `cat /proc/cmdline` output. To avoid internal disks being recognized as mpath devices add `multipath=off` to the initrd

[2016-01-20 11:35] yunsr commented on #757
Could you tell pls why after recovery OS ReaR:
1. in /mnt/local/boot/grub original device.map and menu.lst move to device.map.rearbak,  menu.lst.rearbak. Its wrong way.
2. also rear changed /mnt/local/etc/sysconfig/kernel
How i can disable it ?

As solution was written script which was added to rear config with POST_RECOVERY_SCRIPT option.
This script recover original menu.lst,device.map,/etc/sysc

[2016-01-20 13:01] gdha commented on #757
The target disk device must be a different one then the original one. That is the reason why disk migration happens and therefore a different UUID is in use. Did you executed a `diff` and those 2 files?

[2016-01-20 14:46] yunsr commented on #757
I agree with you (or when restoring to a new disk will be new UUID).
Take another attempt and after recover used Rear generated device.map and menu.lst. Only run grub-install. System booted without any problems.

[2016-01-20 14:47] gdha commented on #748
@blaxxton did you re-run your tests with the latest modifications? In rescue mode you could run ` sysctl -a|grep ipv6` to verify the status of IPv6.
On the other hand, the link https://wiki.archlinux.org/index.php/IPv6#Disable_IPv6 contains some useful information of parameters that can be added to `KERNEL_CMDLINE` (in `/etc/rear/local.conf`)

[2016-01-21 09:06] gdha commented on #731
Milestone (1.18) removed. No idea when this one will be fixed.

[2016-01-21 10:16] #650 closed

[2016-01-21 10:18] #643 closed

[2016-01-21 10:32] #579 closed

[2016-01-21 10:33] #667 closed

[2016-01-21 10:34] #661 closed

[2016-01-21 10:35] #637 closed

[2016-01-21 10:44] #653 closed

[2016-01-21 10:45] #626 closed

[2016-01-21 13:11] jsmeix opened #758 "bash 3.x errors in recent changes"
For current Git sources "make validate"
with GNU bash, version 3.1.17 results:
<pre>
./usr/share/rear/output/ISO/Linux-i386/25_populate_efibootimg.sh: line 28: unexpected argument `(' to conditional binary operator
./usr/share/rear/output/ISO/Linux-i386/25_populate_efibootimg.sh: line 28: syntax error near `(s'
./usr/share/rear/output/ISO/Linux-i386/25_populate_efibootimg.sh: line 28: `    if [[ $

[2016-01-22 18:18] noahshines opened #759 "diskrestore.sh has not been changed, restarting has no impact"
![rear_issue_1](https://cloud.githubusercontent.com/assets/15383832/12518808/bc8f8adc-c108-11e5-88fe-5ac3eca9738d.PNG)

I tried to rerun the diskrestore.sh file but to no avail. Running OEL 5.5, REAR 1.17.2.

please help as the server wont boot up without the REAR image.

[2016-01-25 09:19] gdha commented on #759
I think the first line says it all **diskrestore.sh has not been changed**. Select first option 4 to edit the script and thereafter you can re-run it again.

[2016-01-25 09:20] gdha commented on #758
@jsmeix good catch - will you correct it?

[2016-01-25 09:21] gdha commented on #757
@ypid Are your questions being answered? If yes, please close this issue. If not, tell us what is not yet clear.

[2016-01-25 09:22] ypid commented on #757
@gdha I did not open the issue :wink:

[2016-01-25 10:03] gdha commented on #757
@yunsr Are your questions being answered? If yes, please close this issue.

[2016-01-25 10:12] #757 closed

[2016-01-25 10:58] jsmeix commented on #758
I think I could correct it but not before FOSDEM.
I really must prepare for FOSDEM because
"You never get a second chance to make a good first impression".
;-)

If it needs to be fixed before FOSDEM,
perhaps @pavoldomin and/or @corin33
could do it?

[2016-01-25 15:40] noahshines commented on #759
I am sorry..but what exactly do I edit in diskrestore.sh?
I mean what anomalies do i need to look for?

[2016-01-25 15:47] gdha commented on #759
As a starter have a look at https://github.com/rear/rear/blob/master/doc/user-guide/06-layout-configuration.adoc

[2016-01-25 20:17] mperry999 opened #760 "REAR with TSM"
When doing a "rear -v mkbackup" with TSM fails to remove /tmp/rear.BkNgkF9eCJMxzl2 because "Directory not empty". When looking in the /tmp/rear.BkNgkF9eCJMxzl2 directory the following exist : /opt/tivoli/tsm/client/api/bin/libApiDS.so, /opt/tivoli/tsm/client/api/bin/libxerces-c1_6_0.so and /opt/tivoli/tsm/client/api/bin/libxmlutil-5.5.3.0.so.

Is there a fix for this in newer release.

[2016-01-25 20:41] noahshines commented on #759
Thank you!. You may close the case now. The document pretty much helped me.

[2016-01-26 11:53] gdha commented on #760
@mperry999 could you paste the output of `ls -l` of this directory?

[2016-01-26 11:53] #759 closed

[2016-01-26 13:53] mperry999 commented on #760
# ls -l
total 6164
-r-xrwxr-x+ 1 root root 3480944 Feb 20  2012 libApiDS.so
-r-xrwxr-x+ 1 root root 2676675 Feb 20  2012 libxerces-c1_6_0.so
-r-xrwxr-x+ 1 root root  125897 Feb 20  2012 libxmlutil-5.5.3.0.so

[2016-01-27 20:18] blaxxton commented on #748
Ok, thanks, the scripts is fixed and now it can read /etc/sysctl.conf, but still there is ipv6 address assigned after booting from ISO.

Booted from ISO and sysctl -a | grep -i ipv6 | grep disable shows that ipv6 is enabled.
65-sysctl.sh was not executable, so I did chmod 755 65-sysctl.sh and then ran ./65-sysctl.sh
now ipv6 is gone.

Some how 65-sysctl.sh script is not being executed at boot time

[2016-01-28 15:06] blaxxton commented on #748
Can we disable backing up the ISO file in NSR ?We run rear mkrescue to create the ISO to boot from but at the end it backup the ISO file as well.
We already backing up the server every night, and finding the correct default backup pool is not always accurateso why not disabling the backup of ISO at the time of creation, and only save it locally in disksince we are going to back it up at night.
Can

[2016-02-02 11:37] gdha commented on #583
We were able to successfully restore with elilo on an UEFI system (using ebiso to create a bootable uefi iso image)

[2016-02-02 11:37] #583 closed

[2016-02-02 15:00] #585 closed

[2016-02-02 16:46] gdha commented on #369
We better post-pone this to 1.19 as os-release detection is not yet fully in place

[2016-02-02 16:47] gdha commented on #158
Fully NFSv4 integration into rear is postponed to 1.19. No time left for 1.18 release.

[2016-02-02 19:29] #430 closed

[2016-02-03 07:48] gdha commented on #158
We may close this issue as we have a special issue #754 for this topic.

[2016-02-03 07:48] #158 closed

[2016-02-04 15:19] mperry999 opened #761 "REAR TSM Management Class / Naming Request / Scheduling ?"
How do you set TSM Management class to backup REAR ISO Files ?

Can you name TSM REAR ISO files with Date / Time in the name? ( Example: rear-server123-20160204-101600.iso )

The reason I ask this is because our default TSM management class is 3 copies over 2 months.

Should we be running "rear -v mkbackup" everyday so we can recover a server the from the night before?

[2016-02-04 15:48] suaveyosi opened #762 "Rear not backin up all the partitions"
Hello,

first of all thank you for your work, this is just what I was looking for. I am testing rear at a machine, changing its configuration and playing with rear options to perform backup & recovery.

So far it works as expected , but there has been an issue with one of my test.
My environment is Red Hat Enterprise Linux Server release 7.1 (Maipo)
Linux hlrhvmkstest01 3.10.0-229.7.2.el7.x86_64

[2016-02-04 16:00] gdha commented on #762
The usage is more in the trend of:
[code]
Excluding a partition is IMHO not coded in rear.

[2016-02-04 16:03] gdha commented on #761
You could redefine the `ISO_PREFIX="rear-$HOSTNAME"` in the local.conf file if you like.
However, if you are using TSM there is no need to create an ISO image every day. Unless you would like to avoid automatic removals within TSM (retention days).

[2016-02-04 16:42] mperry999 commented on #761
If I run TSM REAR ISO backups less frequently, lets say weekly on a Sunday, but the server breaks after that TSM REAR ISO backup, lets say the following Wednesday, can I recover the night before's Tuesday server using the TSM REAR ISO from the previous Sunday? ( Can I recover based on dates even though the TSM REAR ISO may not have been created on a certain date ? )

Another concern I have is if d

[2016-02-04 17:19] suaveyosi commented on #762
Thank you for the quick response. I have tested and it worked as expected, my problem is now solved!

Excuse me because I am pretty novice at Github (I have just registered myself) I have a different question, but I'm not sure if I should ask it here or in a different post.

My question is, I am saving my backup files in a different server over NFS, but, if at my server the grub becomes corrupted,

[2016-02-05 09:12] jsmeix commented on #762
@suaveyosi
in general for separated issues create separated issues at GitHub.

To recover any system regardless what got corrupted or broken, you boot the rear recovery system (i.e. the rear ISO image) either on the same hardware if the hardware is still o.k. or on new compatible replacement hardware if the hardware got damaged.

Basically rear recovery is a re-installation from scratch.

For some

[2016-02-05 09:12] #762 closed

[2016-02-05 10:25] jsmeix commented on #732
To document the current state (i.e. what I presented on FOSDEM)
I added the new section
<pre>
Using rear as generic installer in any installation system
</pre>
to https://en.opensuse.org/SDB:Disaster_Recovery

[2016-02-05 10:58] didacog commented on #732
Hi! this is what we talked at FOSDEM true? We will take a look!

[2016-02-05 11:13] jsmeix commented on #732
@didacog
I assume you need help to get it working in its current experimental proof-of-concept and work-in-progress state.

Just ask me if you need help.

To get prepared I suggest that you experiment with "generic system installation with the plain SUSE installation system" and "generic working with the plain SUSE installation system".

You must know how to enhance the SUSE installation system to

[2016-02-05 12:26] jsmeix commented on #732
Right now I added "A sketchy description how to use rear as generic installer in the plain SUSE installation system for people who are experienced in generic system installation with the plain SUSE installation system" at https://en.opensuse.org/SDB:Disaster_Recovery

[2016-02-05 12:35] didacog commented on #732
@jsmeix

Yes, first we'll do some testing with your current approach in order to determine how to provide required services, configs,... from DRLM.

I will ask you for help if any doubts!

I have few to-do's for current DRLM roadmap, but when finished or in my free time i will take a look for sure.

Thx!

[2016-02-05 15:42] gdha commented on #697
Re-open this issue when we found a sponsor to implement this missing feature

[2016-02-05 15:42] #697 closed

[2016-02-05 15:42] gdha commented on #634
Re-open this issue when we found a sponsor to implement this missing feature

[2016-02-05 15:42] #634 closed

[2016-02-05 15:42] gdha commented on #603
Re-open this issue when we found a sponsor to implement this missing feature

[2016-02-05 15:42] #603 closed

[2016-02-05 15:42] gdha commented on #435
Re-open this issue when we found a sponsor to implement this missing feature

[2016-02-05 15:42] gdha commented on #193
Re-open this issue when we found a sponsor to implement this missing feature

[2016-02-05 15:42] gdha commented on #64
Re-open this issue when we found a sponsor to implement this missing feature

[2016-02-05 15:42] #64 closed

[2016-02-05 15:43] gdha commented on #55
Re-open this issue when we found a sponsor to implement this missing feature

[2016-02-05 15:43] #55 closed

[2016-02-05 15:43] gdha commented on #48
Re-open this issue when we found a sponsor to implement this missing feature

[2016-02-05 15:43] #48 closed

[2016-02-05 15:43] gdha commented on #19
Re-open this issue when we found a sponsor to implement this missing feature

[2016-02-05 15:43] #19 closed

[2016-02-05 15:43] #722 closed

[2016-02-09 11:19] gdha commented on #649
@mattihautameki we received no feedback since a long time from you - is this issue closed for you?

[2016-02-09 13:17] gdha commented on #748
@blaxxton _Can we disable backing up the ISO file in NSR ?_
Would prefer to see this in another issue as otherwise it is getting a mess...

[2016-02-09 13:19] gdha commented on #748
@blaxxton _Some how 65-sysctl.sh script is not being executed at boot time._
_Can you please check why this script is not being called or executed when we boot from ISO ?_
I am sorry I wouldn't know how I can see why it is not called in your environment? You are asking too much of me. For remote assistance see http://it3.be/rear-support/

[2016-02-09 13:25] #752 closed

[2016-02-09 13:25] #749 closed

[2016-02-09 13:26] #671 closed

[2016-02-09 13:29] #655 closed

[2016-02-09 13:30] gdha commented on #629
@jsmeix do you still want to keep this issue open for tracking or not?

[2016-02-09 13:31] #619 closed

[2016-02-09 13:37] gdha commented on #625
Function seems to work. It is now just a question of using it when we come across a script which uses a non standard test for true/fasle.
Added an example to https://github.com/rear/rear/wiki/Coding-Style

[2016-02-09 13:37] #625 closed

[2016-02-09 13:38] #598 closed

[2016-02-09 13:41] gdha commented on #612
So far on-one else complained - will not implement this suggestion until we a report which states this is correct or not...
We close it for now -re-open if necessary.

[2016-02-09 13:41] #612 closed

[2016-02-09 13:43] #565 closed

[2016-02-09 13:46] gdha commented on #514
@bobbysch _This issue made me wonder how to tell rear to recover from a non original source use for backup_ just change the BACKUP_URL variable before doing the recover.
Can this issue be closed?

[2016-02-09 13:51] gdha commented on #463
See also http://pikachu.3ti.be/pipermail/rear-users/2016-February/003290.html for the dhclient issue

[2016-02-09 13:53] #567 closed

[2016-02-09 13:55] gdha commented on #700
@jsmeix can this issue be closed?

[2016-02-09 14:04] bobbysch commented on #514
Yes you can close it!
Thanks for this wonderful product!

On Tuesday, February 9, 2016, gdha <notifications@github.com> wrote:

--
Antoine Nguyen

[2016-02-09 14:05] jsmeix commented on #629
I think it is currently sufficiently solved.
Therefore I close it.

[2016-02-09 14:05] #629 closed

[2016-02-09 14:10] jsmeix commented on #700
Current rear does not at all work with ''set -ue -o pipefail".

There are zillions of places where the code
is not yet safe against "set -ue -o pipefail".

I assume this issue will stay open for a very long time.
But on the other hand there is no time pressure.

I set the "Milestone" to "Rear future".

[2016-02-09 14:20] #514 closed

[2016-02-09 14:59] jsmeix commented on #758
Hmpf!

It seems bash up to version 3.1 it works when quoting
of the extended regular expression like
<pre>
# bash --version
GNU bash, version 3.1.17(1)-release

# UEFI_BOOTLOADER=/path/elilo.efi

# [[ $(basename ${UEFI_BOOTLOADER}) =~ "(shim.efi|elilo.efi)" ]] && echo Y || echo N
Y
</pre>
while in bash 3.2 one must not use quoting:
<pre>
# bash --version
GNU bash, version 3.2.51(1)-release

# UEFI

[2016-02-09 15:18] jsmeix commented on #758
I cannot fix the bash 3.x error in
rescue/GNU/Linux/31_network_devices.sh
because I do not sufficiently understand the meaning of the code.

Therefore I suggest @pavoldomin fixes 31_network_devices.sh

[2016-02-10 09:13] jsmeix opened #764 "Switch to grub2 (grub-mkrescue) for creating the recovery ISO image"
This is an enhancement request for the future that
rear uses only grub2 (and drop using syslinux/isolinux) for
creating its bootable recovery ISO image.

Excerpts from mails from @schlomo from
the mail thread "Convert ISO to USB" on the
Relax-and-Recover users list rear-users@lists.relax-and-recover.org
on 09. February 2016:

<pre>
From: Schlomo Schapiro
...
Caveat Emptor. There is a hybrid mode
f

[2016-02-10 15:13] BobBagwill commented on #755
Perhaps a custom busybox would be a solution.

[2016-02-10 15:37] jsmeix commented on #758
My https://github.com/rear/rear/pull/765 hopefully fixes
the second bash 3.x issue (the one in 31_network_devices.sh).

Again:
I may not really properly have fixed the bash 3.x error in
rescue/GNU/Linux/31_network_devices.sh
because I do not sufficiently understand the meaning of the code.
Therefore I suggest again that @corin33 at least has a look
at that code in 31_network_devices.sh

[2016-02-10 15:54] gdha commented on #708
@jsmeix I think this can be closed, no?

[2016-02-10 15:56] gdha commented on #698
@schlomo what do you want to do with this issue? No-one else replied...

[2016-02-10 15:59] gdha commented on #733
@razorfish-sl is this feature request? Be able to include block volumes which are not mounted? Are how do you see it?

[2016-02-10 16:05] schlomo commented on #698
Let's go with the ISO beeing default. Probably NETFS is also most widely used, we could consider it beeing the default BACKUP method instead of REQUEST_RESTORE.

IMHO there is no immediate need for action.

[2016-02-10 16:05] #698 closed

[2016-02-10 16:11] schlomo commented on #755
Careful! Most of our code relies on advanced features of the GNU utilities. Busybox with its reduced featureset will definitively break a lot of code.

I think the really actionable item from this issue is cleaning up the PROGS / REQUIRED_PROGS relationship. And making it fail if a REQUIRED_PROGS entry is missing.

Maybe we can automatically scan rear code during build time to fill these variables

[2016-02-10 17:03] gdha commented on #755
We should start by defining _minimal system_?
When rear detects an executable is missing in array REQUIRED_PROGS it will fail with an error.
OTOH lots of executables listed in PROGS are assumed to be available by default (part of core GNU/Linux system). This could lead to migrating lots of executables listed in PROGS to REQUIRED_PROGS.

[2016-02-11 07:47] gdha commented on #761
@mperry999 rear ISO rescue image does *not* contain any backup. Restore is always done via TSM.

[2016-02-11 10:41] jsmeix commented on #708
What we have is TARGET_FS_ROOT as global readonly variable
that is set to "/mnt/local" (in usr/sbin/rear).
That part is done.

But:
What we do not have is the currently 221 lines fixed in 60 scripts
that still contain hardcoded "/mnt/local..." strings, see my above
https://github.com/rear/rear/issues/708#issuecomment-158906275

But there is no bug with the current situation
of course provided nobo

[2016-02-11 10:57] jsmeix commented on #755
@gdha
see my above
https://github.com/rear/rear/issues/755#issuecomment-171603580
and
https://github.com/rear/rear/issues/755#issuecomment-171607112

For me "rear mkrescue" did not fail with an error.

Under what exact circumstances should rear "fail with an error"
if something in REQUIRED_PROGS is missing?

In general regarding
https://github.com/rear/rear/issues/755#issuecomment-171603294
"check

[2016-02-11 11:03] jsmeix commented on #755
@schlomo regarding
"automatically scan rear code for required programs":

I had the same issue some time ago when I liked to specify
RPM package requirements for what is needed by rear.

As far as I understand it the basic problem is to scan bash scripts
for what programs are called.

I searched the Internet al lot to find out if that is possible
(to some reasonable extent) but I failed to find a

[2016-02-11 12:09] mattihautameki commented on #649
Sry! I was busy. Just now I tested commit 8190db4ffd7d1a5a7bc5cec796bdaf2d48788f95 with no success. I inserted "udevadm trigger" before the initrd is created. This seems to fix the problem but not the cause. https://gist.github.com/mattihautameki/249ffbe89cfbc32e5d40 (line 965 and 966)

[2016-02-11 12:43] jsmeix commented on #758
After the two above are fixed, a third one appeared
(one more in 31_network_devices.sh):
<pre>
# bash --version
GNU bash, version 3.1.17(1)-release

# for f in $( find /usr/share/rear -name '*.sh' ) ; do bash -n $f ; done
/usr/share/rear/rescue/GNU/Linux/31_network_devices.sh: line 162: unexpected argument `(' to conditional binary operator
/usr/share/rear/rescue/GNU/Linux/31_network_devices.sh: l

[2016-02-11 13:08] astafyev opened #766 "Rear fails to run on modern Fedora kernels"
40-start-udev-or-load-modules.sh script assumes that kernel modules have .ko extension. Recent Fedora kernels have .ko.xz extensions so no storage modules are not being loaded at all.
Moreover this script loads usb_storage modules before others and usually there is a slight delay between this module load and attempt to mount /dev/disk/by-label/REAR-000 where backup is located. The more storage mod

[2016-02-11 14:59] jsmeix commented on #758
With https://github.com/rear/rear/pull/767 all *.sh files in usr/share/rear pass the "bash -n" test with bash 3.x on SLE10:
<pre>
# bash --version
GNU bash, version 3.1.17(1)-release

# for f in $( find /usr/share/rear -name '*.sh' ) ; do bash -n $f || echo $f failed ; done
[no output]

# bash -n /usr/sbin/rear || echo $f failed
[no output]

</pre>

[2016-02-11 15:55] jsmeix commented on #758
With https://github.com/rear/rear/issues/767 this issue should be fixed.

An addenum FYI:

I only liked to "just fix some" bash 3.x compliance issues
and what is the final result:

I became the one who is topmost to be blamed when something does not work in rescue/GNU/Linux/31_network_devices.sh regardless that I am not at all a networking expert:

<pre>
$ git blame -wM usr/share/rear/rescue/GNU/L

[2016-02-11 15:55] #758 closed

[2016-02-11 16:09] gdha commented on #766
@astafyev thnak you for the report - we will check it

[2016-02-11 16:12] mperry999 opened #768 "SLES 10 REAR ISO Recovery"
Noticed there is a rear 1.17.x for SLES 10 but there was a mention that SLES 10 was not longer supported. Which version should we be using for SLES 10 recoveries?

http://download.opensuse.org/repositories/Archiving:/Backup:/Rear/SLE_10_SDK/noarch/

Does the REAR ISO rescue image support the ability to recover image when recovering on different hardware? ( Example : Created REAR ISO image on SUN h

[2016-02-11 16:50] jsmeix commented on #768
From SUSE there is no official support for rear on SLE10.
SUSE supports rear on SLE11-HAE and SLE12-HAE
(i.e. not on plain SLE but only via the HA extension).

Regarding support from Relax-and-Recover upstream see
http://relax-and-recover.org/support/

In general regarding rear and in particular regarding
"different hardware" see
https://en.opensuse.org/SDB:Disaster_Recovery

[2016-02-11 16:55] jsmeix commented on #768
In genertl the rear recovery system on the ISO is specific
for each particular system where it was created.

In general there is currently no such thing as a
generic "full featured" rear recovery system
(that should boot and run on basically any hardware).

Regarding the future about this you may have a look at
https://github.com/rear/rear/issues/732
and at the section "Using rear as generic insta

[2016-02-11 23:11] razorfish-sl commented on #733
Hi,
Yes it would be useful in a cloud setup.
Don't get me wrong I love 'REAR', but  missing this sort of thing without warning is a major problem...

With this  "openstack" setup,some volumes are not 'physically' mounted to prevent the OS fighting over them.
The device is accessed directly from within open-stack , even though it can be mounted externally by the OS and contains a valid filesystem,

[2016-02-12 07:02] schlomo commented on #733
@razorfish-sl this is a very interesting use case you are bringing up here.

Please keep in mind that ReaR was designed for a different purpose: Bare metal disaster recovery of a single server using an external backup solution.

The internal NFS-based backup was added much later as a tool for quick testing and it is much less powerul as a backup solution than real backup software.

By design ReaR

[2016-02-12 10:00] jsmeix commented on #733
@schlomo
many thanks for your explanatory information about
fundamental design ideas behind rear.
That helps so much!

I think this is not yet sufficiently explained in the rear
documentation. I mean it is not yet explicitly spelled out
in the current rear documentation.

I think it would help if 09-design-concepts.adoc
was updated and enhanced.

[2016-02-12 10:24] jsmeix opened #769 "Brainstorming about fundamental enhancements for the backup"
This issue is meant as some kind of generic container
or parent issue of various specific issues to collect the
basic ideas about fundamental enhancements regarding
how the backup and restore of the files is done in rear.

For an explanation about the basic design ideas behind
how curently the backup of the files is done in rear see
https://github.com/rear/rear/issues/733#issuecomment-183205395
(e

[2016-02-12 10:28] jsmeix commented on #733
I think https://github.com/rear/rear/issues/733#issuecomment-183205395 explains sufficiently why this particular issue currently contradicts the basic design of rear.

Therefore I close this particular issue.

For the future I filed https://github.com/rear/rear/issues/769 "Brainstorming about fundamental enhancements for the backup".

[2016-02-12 10:28] #733 closed

[2016-02-12 11:02] gdha opened #770 "/etc/udev/rules.d/70-persistent-net.rules"
I was doing a test with a VM restore (cloning) of a RHEL6 system and noticed that the eth0 device was renamed to eth2, and eth1 to eth3. After the recover the system came up, but with no IP address configured to eth2.

In the recover log we find the following:
[code]
However, this is easy to fix by:
* delete the /etc/udev/rules.d/70-persistent-net.rules file and reboot, or
* editing /etc/udev/rule

[2016-02-12 11:09] schlomo commented on #770
Isn't that a bug earlier up in the rescue part? E.g. when we boot the system and decide how to map the old interfaces of the source system to the new interfaces of the recovery system?

the logic in 41_migrate_udev_rules.sh suggests that all decisions have been made much earlier and not here.

[2016-02-12 11:18] schlomo commented on #769
@jsmeix thanks for opening up this issue.

## Improving the NETFS Backup

IMHO we would be better off to extract the backup functionality from ReaR into a separate Open Source project which deals only with backup and restore.

That way we can stay true to ReaRs goal of doing the "bare metal" part while also delivering value with a new backup solution that can focus only on that part.

## Unmounted

[2016-02-12 12:05] jsmeix commented on #770
On my SLES12 system /etc/udev/rules.d/70-persistent-net.rules contains:
<pre>
# This file was automatically generated by the /usr/lib/udev/write_net_rules
# program,run by the persistent-net-generator.rules rules file.
#
# You can modify it,as long as you keep each rule on a single
# line,and change only the value of the NAME= key.
# PCI device 0x8086:0x10de (e1000e)
SUBSYSTEM=="net", ACTION=="add

[2016-02-12 12:18] schlomo commented on #770
guys, I think we have a bug somewhere earlier in our process. Why did this suddenly pop up after working flawless for years?

[2016-02-12 12:22] jsmeix commented on #770
@schlomo
As far as I understand what @gdha wrote "After the recover the system came up" it means that the issue was not in the rear recovery system but that "rear recover" had worked but afterwards when booting the recovered system the issue appeared.

I am not at all a networking configuration expert but I would assume that rear does not need to change the networking configuration after the backu

[2016-02-12 12:26] schlomo commented on #770
Yes, exactly my point. If the recovered system comes up and does not work properly then this is a bug in ReaR. The buggy code was executed in the environment of the rescue system. Either in the boot phase or in the `rear recover` phase.

It worked before, even with RHEL6. So there must be a bug somewhere. Either RHEL did an update or we have a change or both.

[2016-02-12 12:27] jsmeix commented on #770
In  gereral whenever "they" change basic system stuff, then "suddenly" new interesting issues pop up in rear, in particular here it seems to be systemd/udev related.

[2016-02-12 12:31] jsmeix commented on #770
@gdha
can you exclude /etc/udev/rules.d/70-persistent-net.rules from the backup restore via EXCLUDE_RESTORE and try again.

If it works then, it proves (from my point of view) that this issue is just one more instance of the generic issue that files that are automatically created and maintained by the system should be excluded from the backup restore.

[2016-02-12 12:49] jsmeix commented on #769
A possible use case for "Multiple Backup Methods":

Assume a 100GB btrfs with snapshot subvolumes is used for the basic system and a huge 10TB xfs is used for a database application.

Then one may like to backup the btrfs subvolume that contains the currently used basic system with one method (e.g. plain "tar") and the btrfs snapshot subvolumes with another method (e.g. "btrfs send" or whatever is

[2016-02-12 12:59] jsmeix commented on #769
@schlomo regarding "extract the backup functionality from ReaR into a separate Open Source project":

I fully agree with that future goal.

I prefer so much to Keep Separated Issues Separated ( KSIS ;-)

@schlomo regarding "specific user request":

Yes. My intent here is only brainstorming and discussion without obligation - in particular no "proactive implementation without actual user/customer r

[2016-02-12 13:14] didacog commented on #769
@schlomo @jsmeix

Hi, regarding this: "extract the backup functionality from ReaR into a separate Open Source project"

We rely on these features to manage ReaR deployments, we take care of Rescue images and required services and provide store for DR backups also. This could break integration with DRLM if those big changes are not well planned.

[2016-02-12 13:17] schlomo commented on #769
With regard to the 10TB data volume with the 3rd party backup beeing called via chroot after restoring the base system: I don't see anything in ReaR that prevents you from doing that with a few lines placed either in `POST_RECOVERY_SCRIPT` or dropped into the relevant script directory within ReaR.

If you have the need, why not simply create a `rear-foobar` tool that provides the glue code between

[2016-02-12 13:28] gdha commented on #766
The configuration of my test:
[code]
I did a complete /backup/recover/ test with fedora23 and USB and it worked out of the box for me.
I did found 2 issues, but these are not related to this.
OTOH, you have a point too. Will spend some time to investigate a bit deeper.

[2016-02-12 13:34] jsmeix commented on #769
@schlomo I was not talking about how to implement somenthing and/or how complicated that could be. Of course because rear is bash scripts each user can always implement his own adaptions and enhancements as he needs. The question here is more what rear might provide ready-made "out of the box" in the future - provided a user really needs it ( and when he also likes to pay for it, I or anybody else

[2016-02-12 13:36] didacog commented on #764
@jsmeix

We are working to provide netboot with GRUB2 in DRLM: https://github.com/brainupdaters/drlm/issues/2
Only the kernel and initrd generated by ReaR are needed, without any changes in ReaR, in order to provide Multiarch netboot with GRUB2.

Maybe is not exactly your point, because you are talking about ISO files created directly by ReaR.

[2016-02-12 13:38] schlomo commented on #764
@didacog nice! Creating an ISO from a working grub2 setup is simple: `grub-mkrescue` :-)

[2016-02-12 13:43] didacog commented on #769
@jsmeix

True, ReaR does not provide the backup software (tar, bareOS, Netbackup,...), but provides the required methods to backup and recover the OS properly with these tools.
Maybe putting this methods outside from ReaR will be more probelmatic than keep them inside

[2016-02-12 13:54] didacog commented on #764
@schlomo
I think the problem come if the system with rear installed is not shipped with grub2 as you said.

This could be the problem to use GRUB2 as defalut by now, I think.

From DRLM will be easier to standarize GRUB2 by now, from netboot perspective, because is not needed grub2 in deployed ReaR systems, just providing, kernel and initrd, rear outputs available to netboot GRUB2 images.

[2016-02-12 14:39] jsmeix commented on #766
Since udev generates device nodes it is a generic issue
that basically before any initial access of a device node
one would have to do something like
<pre>
udevadm settle --timeout=20
</pre>
or use the rear function "my_udevsettle".

@astafyev
can you get a rear log file (preferably where rear was called with '-d' and '-D' debugging options) where it fails for you so that it is more clear in what

[2016-02-12 15:20] jsmeix commented on #769
@didacog regarding "probelmatic":
For example I wonder how to get third-party backup restore software included in the rear recovery system if the backup functionality would be split from ReaR. Certainly doable but probably "problematic". With third-party backup software I mean basically all the real backup solutions that are currently supported by rear (i.e. basically all except "tar").

On the ot

[2016-02-12 15:39] didacog commented on #769
@jsmeix
Ok, your point is keep standard OS backup tools (tar, rsync,..), methods in rear but extract to external tool the third-party backup solutions?
In this case I understand better your point. I understood to exclude all methots, including standard linux os backups tools, this was my concern.

[2016-02-12 18:51] astafyev commented on #766
@gdha
/usr/share/rear/skel/default/etc/scripts/system-setup.d/40-start-udev-or-load-modules.sh script has condition with two branches to use udev or manually load modules.
I suppose that in your case you are routed to first branch that's why you do not see any issues.
I see "Loading storage modules..." during restore so in my case the process goes definitely via second branch i.e. load modules  ma

[2016-02-12 18:53] gdha commented on #770
@jsmeix Doing the test again must be requested, but we could do it with another system perhaps
@schlomo a bug? maybe, the MAC address should be remapped, need to dig deeper to be sure.

[2016-02-12 18:59] gdha opened #772 "f23: dhclient cannot load /usr/lib64/bind99/libirs-export.so.91 library"
The rescue image created on fedora23 boots fine, but we do no get an IP address (via dhclient), because dhclient cannot find the shared object file.
The libraries are there, but the `/lib64/bind99` path is missing in `/etc/ld.so.conf` file.

[2016-02-12 19:03] gdha opened #773 "/etc/scripts/run-syslog issue with starting rsyslogd"
With fedora23 I noticed that the rescue image could not start the *rsyslogd* daemon because the `/etc/scripts/run-syslog` script contains a parameter option `-c3` which is not valid anymore.
I cannot even recall what the `-c3` option supposed to do? Removing the `-c3` fixes this, but what was the purpose again? Anybody who knows please tell me.

[2016-02-12 19:25] gdha commented on #772
In script `build/GNU/Linux/39_copy_binaries_libraries.sh` there is a call to `ldconfig $v -r "$ROOTFS_DIR" >&8` and it goes clearly over the `/lib/64/bind99` libs, but did not add it the the `/etc/ld/so.conf` file.
Perhaps, we should skip this old fashion why of working and use the more standard way with conf files under `/etc/ld.so.conf.d/` directory?

[2016-02-12 22:01] didacog commented on #769
@schlomo @jsmeix

Please correct me if i'm wrong regarding to split backup methods to separate project.

The objective will be to keep only the BACKUP=NETFS (tar, rsync) in ReaR and move all other methods to a separate project? this way focusing only in the OS backup/recovery (bare metal) using just the standard OS tools?

If this is the goal I'm totally agree and also think this will reduce compl

[2016-02-13 11:15] gdha commented on #769
@didacog _Small Note_ Nothing will change for the moment, and maybe for a long time if no-one contributes to this or sponsor the new way of integration. I prefer getting a stable rear package  for the moment.

[2016-02-13 12:52] gdha commented on #766
@astafyev I've fixed script `/usr/share/rear/skel/default/etc/scripts/system-setup.d/40-start-udev-or-load-modules.sh` and the following was the effect:
[code]
It loaded all kernel modules. That is not desired. Fedora23 loaded all modules it needed when I used the old script (with .ko).
The problem is most likely a timing issue you encountered. Perhaps a call to `my_udevsettle` is enough?

[2016-02-13 13:09] gdha commented on #770
@schlomo I think it has to do with device renaming and as
[code]
suggests if did not find the device. udevd already kicked off and read the original file (with unmodified MAC addresses) and created 2 new entries.  I've seen this many times already (and noticed the same in several reported issues). When you use DHCP then it goes by unnoticed.

Personally, I think adding this file to `EXCLUDE_RESTOR

[2016-02-13 18:41] astafyev commented on #766
@gdha
If loading of all modules are not desired we should remove second branch with corresponding code. Otherwise if we want to keep case when udev is not available we should also support ko.xz modules as well.
I found that `/sys/kernel/uevent_helper` does not exist and that is why `if [ $systemd_version -gt 190 ] || [ -s /etc/udev/rules.d/00-rear.rules ] && [ -w /sys/kernel/uevent_helper ]; then`

[2016-02-13 20:07] schlomo commented on #770
I think that we need to find a generic solution that works regardless of the restore options. `ECLUDE_RESTORE` would only cover `NETFS` but not the other backup methods. Imagine ReaR failing because `TSM` restored that file.

[2016-02-13 21:24] didacog commented on #769
@gdha
Of course, I was talking in the context of "ReaR future", i understand this is not an inmediate goal. I just wanted to give my point of view about those proposed changes for future.
On the other hand, can take us into account (DRLM Team) for helping to contribute in those goals in future.

[2016-02-15 09:49] jsmeix commented on #770
@schlomo I have a generic question:
Is rear meant to automatically exlude files from the backup restore that should not be restored or it this something that the admin must do?

[2016-02-15 10:27] abbbi opened #774 "issues if rear is installed in non-default path"
hi there,

im struggeling to get rear correctly working on a non-standard installation path.
Im using the DESTDIR= parameter to install rear into another path than usually, that results in some
issues which should at least be discussed.

For example, installing rear into /opt/rear/ with the following command:

make install DESTDIR=/opt/rear/

will result in the following error:

linux-fhta:~/rear

[2016-02-15 11:03] gdha commented on #766
udev seems to have:
* Tue Jul 20 2010 Harald Hoyer <harald@redhat.com> 160-7 - turn off hotplug in /sys/kernel/uevent_helper or /proc/sys/kernel/hotplug

That explains probably why `/sys/kernel/uevent_helper` does not exist anymore on Fedora 23. Systemd is taking over all these tasks. And systemd-udev is starting via the systemd services availbale within rear (see `/usr/share/rear/skel/default/usr

[2016-02-15 12:48] schlomo commented on #770
IMHO for ReaR there are three independent concerns:

1. bare metal recovery (block devices, boot loaders ...)
1. restoring files (either through builtin backup or via external backup)
1. system reconfiguration (network card mapping, disk mapping, drivers matching ...)

So far the part of restoring files is very independent from the other parts. Hence nothing magic here.

I would also advise agains

[2016-02-15 13:24] gdha commented on #774
See also #329 - SEP Sesam also tried it and it broke rear (pull request #324).
You can use rear from the directory where you ran the 'git clone` or untarred that archive as `./usr/sbin/rear`

[2016-02-15 14:39] #773 closed

[2016-02-15 15:07] jsmeix commented on #708
In https://github.com/rear/rear/pull/775 I replaced all hardcoded /mnt/local with $TARGET_FS_ROOT

When this pull request is accepted there is no longer any hardcoded /mnt/local in the scripts (except when it is set in usr/sbin/rear and in a few comments) and this issue here can be finally closed.

[2016-02-15 15:50] gdha commented on #766
@astafyev tomorrow you would be able to test the updated script. Feedback is welcome

[2016-02-15 16:17] gdha opened #776 "system-udevd needs group input"
Saw a message in `/var/log/messages` (in rescue mode) about:
`system-udevd: specified group 'input' unknown`

[2016-02-15 16:18] #776 closed

[2016-02-15 16:23] gdha opened #777 "multi-user.target unknown lvalue 'Names'"
In `journalctl` output (in rescue mode) saw a message:
`multi-user.target: Unknown lvalue 'Names' in section 'Unit'`
Indeed the value *Names* is obsolete.

[2016-02-15 16:24] #777 closed

[2016-02-15 16:26] gdha opened #778 "agetty: cannot open os-release file"
with a fedora 23 rescue image noticed the following line in the messages file:
`agetty: cannot open os-release file`

The /etc/os-release seems to be linked to ../usr/lib/os-release on Fedora 23 and therefore, the copy probably did not succeed.

[2016-02-15 19:31] gdha commented on #748
@blaxxton I've tested the `65-sysctl.sh` script and it worked fine. Ipv6 was disabled.

[2016-02-16 10:16] jsmeix commented on #708
With https://github.com/rear/rear/pull/775 this issue should be fixed (provided I did not cause any regressions).

[2016-02-16 10:16] #708 closed

[2016-02-16 10:43] jsmeix opened #779 "Move away restored files that should not have been restored."
After backup restore rear should move away files
that should not have been restored - maily files that
are created and maintained by system tools where
a restore from the backup results wrong/outdated
content that conflicts with the actual system.

Implementation details:

rear should not remove files (any user data is sacrosanct).
Instead rear should move those files away into a
rear-specific dir

[2016-02-16 10:44] jsmeix commented on #770
@schlomo many thanks for your explanation - I always appreciate your valuable backgroun dinformation - it helps a lot!

Now (at least for me) it is perfectly clear.

If needed rear should remove restored files as part of the system reconfiguration.

Therefore I created https://github.com/rear/rear/issues/779
"Move away restored files that should not have been restored."

If you agree I will implem

[2016-02-16 13:34] jsmeix commented on #779
In https://github.com/rear/rear/pull/780 I implemented that functionality.

I tested it on SLE12-SP1 and that functionality works for me.

But my curent default.conf setting
<pre>
BACKUP_RESTORE_MOVE_AWAY_FILES=( /etc/udev/rules.d/70-persistent-net.rules )
</pre>
seems to not solve https://github.com/rear/rear/issues/770 because now I do no longer have real networking after recovery - I only have

[2016-02-16 13:47] jsmeix commented on #779
Also with empty BACKUP_RESTORE_MOVE_AWAY_FILES I do no longer have real networking after recovery so that moving /etc/udev/rules.d/70-persistent-net.rules away is not the root cause why I do no longer have real networking after recovery.

[2016-02-16 13:57] jsmeix commented on #770
If you like, I implemented right now something for the 1.18 release, see https://github.com/rear/rear/pull/780

[2016-02-16 14:59] jsmeix commented on #779
I should have mentioned that in the rear recovery system I do have network and I can restore the backup from my NFS server.
But I do not have network after rebooting into the recovered system.

[2016-02-16 15:49] gdha commented on #779
Do you see any special messages via `journalctl` output related to a missing file? According http://www.vcritical.com/2010/10/getting-eth0-back-in-a-sles-for-vmware-clone/ we may delete the file or update it. As long that is not clear why caused your issue we better not accept the pull request.

[2016-02-16 16:38] jsmeix commented on #779
It seems somehow I messed up my test system because it also does no longer work with the official SLE12 rear1172a package where it had "just worked" in the past.

I will re-test tomorrow on new test systems (KVM/QEMU virtual machines).

[2016-02-16 21:30] abbbi commented on #774
hi again,

yes, i know that just executing rear from a cloned repository or extracted archive will work.
This is solving our first "Problem".

This however still creates files in /etc/rear/, even if the user does not want it to. Is there a
special usecase or why has the os.conf been hardcodet to /etc/?

I know the old commit from SEP Sesam broke some Fedora related things :-)
We from SEP ship REAR

[2016-02-17 08:37] abbbi commented on #774
After some more testing: simply running rear from extracted tar or git checkout solves both problems. I think we can close this here :-)

[2016-02-17 08:45] jsmeix commented on #774
@abbbi
it seems what you need is a general prefix for all of rear's files
so that in particular rear creates files in <prefix>/etc/rear/.

In usr/sbin/rear there is
<pre>
# Find out if we're running from checkout
REAR_DIR_PREFIX=""
readonly SCRIPT_FILE="$( readlink -f $( type -p "$0" || echo "$0" ) )"
if test "$SCRIPT_FILE" != "$( readlink -f /usr/sbin/$PROGRAM )" ; then
    REAR_DIR_PREFIX=${SCRI

[2016-02-17 08:49] phracek opened #781 "Problem with making backup on S390X architecture"
I have run the backup like obvious `rear -v mkbackup` but it doesn 't create a ISO image at all.
rear version:
`rear-1.17.2-4.el6.s390x`

[code]
As you can see genisoimage binary is available on my S390X system:
[code]

I have found that the last messages from log are from ./lib/framwork-functions.sh
Logs from backup.
[code]

The problematic parts which I have found from log file are:
[code]

[cod

[2016-02-17 08:51] jsmeix commented on #774
@abbbi
I did not see your https://github.com/rear/rear/issues/774#issuecomment-185095007 while I wrote my last comment.

As far as I see your https://github.com/rear/rear/issues/774#issuecomment-185095007 proves that rear works correctly when a non-empty REAR_DIR_PREFIX is used.

Accordingly I think all what you still may need to make rear working perfectly for your use-case is to to adapt and enh

[2016-02-17 08:56] phracek commented on #781
Pull Request for this is #782

[2016-02-17 08:59] gdha commented on #774
In recovery mode the `/etc/rear/rescue.conf` defines the rear paths

[2016-02-17 09:42] gdha commented on #781
@phracek The problem is that there is nothing yet written to create an ISO image for `ARCH = Linux-s390x`. If we compare Linux-i386:
[code]

with Linux-s390x we have:
[code]
Unfortunately, I have no experience with building bootable ISO images on a Linux-s390x architecture. I guess within RedHat there must be some-one who knows, no?
I was able to see this via LinuxOne OpenStack infrastructure (how

[2016-02-17 10:12] gdha opened #783 "s390x: dasd disks not recognized"
The dasd type of disks seem not be recognized by rear:
[code]
and after running `rear savelayout` we have:
[code]
No trace of any disk definition.

[2016-02-17 11:44] gdha commented on #783
Now the first part is also created with the fix:
[code]

[2016-02-17 14:51] jsmeix commented on #779
All clear now for me:

On new test systems both the official SLE12 rear1172a package
and the current upstream rear with my addons in https://github.com/rear/rear/pull/780 it "just works" on a SLE12-SP1 system - in particular I have network (I use DHCP):

Interestingly removing /etc/udev/rules.d/70-persistent-net.rules on my SLE12-SP1 test systems does not change anything because it will be recreat

[2016-02-17 15:21] #781 closed

[2016-02-18 16:26] jsmeix commented on #779
Implemeted via https://github.com/rear/rear/pull/780

I have tested the enhanced move away functionality so that also a whole directory tee can be moved away by using in /etc/rear/local.conf
<pre>
BACKUP_RESTORE_MOVE_AWAY_FILES=( /var/tmp /etc/udev/rules.d/70-persistent-net.rules /etc/cups )
</pre>
and for me everything "just works".

[2016-02-18 17:16] gdha commented on #770
Can be close as #779 pull request has been checked in.

[2016-02-18 17:18] #441 closed

[2016-02-18 17:19] #214 closed

[2016-02-18 17:21] gdha commented on #742
Issue #38 was the original request (we can close that one) and we better use this issue for further discussions etc.

[2016-02-18 17:22] #38 closed

[2016-02-18 17:28] gdha commented on #326
usr/share/rear/skel/default/etc/scripts/40-start-udev-or-load-modules.sh was recently modified for module loading (issue #766). Perhaps it could fix the issue with Ubuntu 14.04 as well?

[2016-02-19 09:33] gdha commented on #581
Added a note to the FAQ of rear (on the web pages)

[2016-02-19 09:33] #581 closed

[2016-02-19 11:01] jsmeix commented on #779
https://github.com/rear/rear/pull/784 implements more safely remove for move away functionality so that only the directory content is removed but the empty directory itself is kept (e.g. useful to remove content in /var/tmp but keep /var/tmp)

[2016-02-19 11:02] jsmeix commented on #779
Merged https://github.com/rear/rear/pull/784

[2016-02-19 11:02] #779 closed

[2016-02-19 11:16] gdha commented on #717
@HazCod Could you explain with an example?

[2016-02-19 11:18] gdha commented on #736
See also issue #603

[2016-02-19 11:18] #736 closed

[2016-02-19 11:22] HazCod commented on #717
@gdha As far as I know, when booting the recovery CD for bacula, you need to select the jobid. If we could include that in our config too, users could just insert the CD and it would recover automatically.
( no user-driven decisions needed )

Jobids here are ids of the backup jobs done by bacula, e.g.:
001 today at 12:00
002 today at 13:00
003  todat at 14:00

So if I want to generate a disaster r

[2016-02-19 11:22] #761 closed

[2016-02-19 11:23] jsmeix commented on #770
Unfortunately I think https://github.com/rear/rear/issues/779 "Move away restored files that should not have been restored" may not help regarding what @gdha wrote here in his initial comment https://github.com/rear/rear/issues/770#issue-133211130

Reason (as far as I see):
Via https://github.com/rear/rear/issues/779 files are removed immediately after backup restore. Accordingly with
<pre>
BACKUP

[2016-02-19 11:24] gdha commented on #717
@HazCod sounds indeed interesting to keep. Are you able to prepare a pull request for this?

[2016-02-19 11:27] jsmeix commented on #770
I think there is perhaps a bug in 41_migrate_udev_rules.sh but I am not at all a sufficient systemd/udev expert to really help here.

I will now blindly test what happens on my system when I change 41_migrate_udev_rules.sh so that it does not do anything with 70-persistent-net.rules ...

[2016-02-19 12:20] jsmeix commented on #770
On my SLES12-SP1 test systems (two KVM/QEMU virtual machines with one NIC and DHCP on each whre one is the originalwhere I run "rear mkbackup" and on the other one I run "rear recover") I changed 41_migrate_udev_rules.sh to do nothing at all by addin at its beginning
<pre>
# do nothing at all:
return 0
</pre>

For me the final result is the same:
99_move_away_restored_files.sh removes /etc/udev/ru

[2016-02-19 13:40] HazCod commented on #717
Not at the moment as i'm currently not using rear in my situation, I'm afraid

[2016-02-22 00:04] phracek commented on #778
Yeah, that's correct.

[code]

[2016-02-22 10:11] gdha commented on #731
Issue #778 is a related issue.

[2016-02-22 10:55] gdha commented on #731
referenced to the wrong issue - should have been #778. This issue has not been resolved yet!

[2016-02-22 10:56] gdha commented on #778
Has been fixed with commit https://github.com/rear/rear/commit/22a7337edb41b9fb053f497f846ff2651a2b8845

[2016-02-22 10:56] #778 closed

[2016-02-22 15:42] #463 closed

[2016-02-22 15:45] gdha commented on #679
Due to no fb close this issue

[2016-02-22 15:46] gdha commented on #734
Move this to next milestone

[2016-02-22 15:47] gdha commented on #748
If no-one objects I'll mark it as fixed

[2016-02-22 15:47] gdha commented on #766
@astafyev any feedback? Would like to complete 1.18

[2016-02-22 21:14] tastle73 commented on #679
@gdha We have run into this same problem.  I am happy to be a tester.

ReaR seems to be detecting that a luks volume is there just fine on its own and it would rebuild the luks partitions at rescue if not for the dictionary error.  In fact, if you just add --force-password to the cryptsetup command in the rebuild script it will.

 However, it is not pulling all the password quality dictionaries ne

[2016-02-23 13:10] astafyev commented on #766
Sorry for delay, was busy last days. With fixed script flow goes with udev branch as expected. However I still get error message when mounting mount /dev/disk/by-label/REAR-000. It seems that udev settle doesn't work. man says that settle waits until queue is empty but queue can be empty (as USB drive is found) while helpers that create device links may still be working. I increased sleep delay fr

[2016-02-23 16:21] gdha commented on #679
@tastle73 perhaps with the help of `strace` you could try to find out what it really wants.

[2016-02-23 16:22] tastle73 commented on #679
I'm all ears.  How could I do this?

[2016-02-23 16:43] gdha commented on #679
Edit in script `diskrestore.sh` that is created during the _recover_ phase and add the `strace` before the `cryptsetup` command (use the menu to edit the `diskrestore.sh` script), e.g.
[code]

[2016-02-23 17:02] tastle73 commented on #679
Just so you're aware, I ran ldd against cryptsetup while trying to fix it and found that it needed libpwquality.so.1  So I added that

[root@rj ~]# ldd `which cryptsetup`
	linux-vdso.so.1 =>  (0x00007ffca6d06000)
	libcryptsetup.so.4 => /lib64/libcryptsetup.so.4 (0x00007f55ee327000)
	libpopt.so.0 => /lib64/libpopt.so.0 (0x00007f55ee11d000)
	libpwquality.so.1 => /lib64/libpwquality.so.1 (0x00007f55e

[2016-02-24 09:49] #684 closed

[2016-02-24 10:01] #663 closed

[2016-02-25 08:55] bfsworks opened #785 "USB Not Booting"
- rear version (/usr/sbin/rear -V): 1.17.2
- OS version (cat /etc/rear/os.conf or lsb_release  -a): CentOS 5.8 x86_64
- rear configuration files (cat /etc/rear/site.conf or cat /etc/rear/local.conf):
  BACKUP=NETFS
  OUTPUT=USB
  BACKUP_PROG=rsync
  BACKUP_URL=usb:///dev/disk/by-label/REAR-000
  CLONE_ALL_USERS_GROUPS=y
- Brief description of the issue: USB failing to boot
- Work-around, if any: R

[2016-02-25 10:00] bfsworks commented on #785
Just also realized that the backup images are not showing up in the main menu. I see the "include /rear/syslinux.cfg" in extlinux.conf (which is now in the top level of the drive) and the /rear/syslinux.cfg file exists and looks ok. Is there something strange going on where files in directories on USB are not accessible during boot? I can mount the drive and see all the files exist. It is just str

[2016-02-25 13:26] gdha commented on #785
It might be that our syslinux/extlinux logic is not compatible with RHEL 5 anymore?

[2016-02-25 13:38] bfsworks commented on #785
Since we are working with 4.02 of syslinux/extlinux and a newer version of rear is it possible to trick rear by editing the os.conf to use newer logic?

[2016-02-25 14:14] bfsworks commented on #785
Ill be back at it again tonight for Round 3. Let me know if there is anything that I can provide that can help get rear working again for CentOS 5. Trial and error is getting me closer but it takes awhile to follow the code trail. We are in process of migrating but still have older systems that will go until not supported by CentOS.

[2016-02-25 14:43] gdha commented on #785
@bfsworks Perhaps run a `rear -vD mkrescue` and provide the logging so we can see what happens in the background with syslinux/extlinux

[2016-02-25 20:04] Yekutiel opened #786 "Mount command failed"
### rear version (/usr/sbin/rear -V)

Relax-and-Recover 1.17.2 / Git
### OS version (cat /etc/rear/os.conf or lsb_release  -a)

Distributor ID: Ubuntu
Description: GalliumOS 1.0beta2
Release: 15.04
Codename: vivid
### rear configuration files (cat /etc/rear/site.conf or cat /etc/rear/local.conf)

OUTPUT=USB
BACKUP=NETFS
BACKUP_URL=usb:///dev/disk/by-label/REAR-000
### Brief description of the issu

[2016-02-26 05:28] bfsworks commented on #785
Well I removed the syslinux and extlinux packages installed via CentOS repo and installed syslinux version 5 [here](http://www.syslinux.org/wiki/index.php?title=Download) and ran make install. I also removed the rear package as installed by CentOS repo and installed the RPM [here](http://download.opensuse.org/repositories/Archiving:/Backup:/Rear/CentOS_CentOS-5/x86_64/). Going to try a fresh forma

[2016-02-26 09:29] bfsworks commented on #785
I think I am going nuts! All of these issues that I thought were heading towards the right direction might just  come down to the USB drive we have. I just tried a personal USB thumb drive and it worked on first try without any manual modifications. Going to do some further testing to make sure. The USB drive we are having problems with is a 1TB USB Drive. I am not sure if there are any partition

[2016-02-26 09:46] gdha commented on #785
@bfsworks I have just a centos5 running ans was planning to do a test myself

[2016-02-26 09:49] bfsworks commented on #785
That would be much appreciated and a needed sanity check. Look forward to hearing what you find.

[2016-02-26 14:34] gdha commented on #785
Just tested a complete cycle (mkbackup/restore) with success (rear-1.17.2):
[code]
Therefore, most likely it was the USB device doing difficult.

[2016-02-29 17:59] GIT-STATA opened #787 "NVMe/M.2 SSD // LUKS // diskrestore ..."
* rear version (/usr/sbin/rear -V): Relax-and-Recover 1.17.2 / Git

* OS version (cat /etc/rear/os.conf or lsb_release  -a): OS_VENDOR=RedHatEnterpriseServer
OS_VERSION=7

* rear configuration files (cat /etc/rear/site.conf or cat /etc/rear/local.conf):

  OUTPUT=USB
  OUTPUT_URL=usb:///dev/disk/by-label/REAR-000
  BACKUP=NETFS
  BACKUP_TYPE=full
  BACKUP_PROG=rsync
  BACKUP_URL=usb:///dev/disk/by

[2016-02-29 19:14] tastle73 commented on #679
I ran strace as instructed and was able to determine what the dependancies are. I added them to default.conf in the COPY_AS_IS variable:

COPY_AS_IS=( /usr/share/cracklib/\* /etc/security/pwquality.conf $SHARE_DIR $VAR_DIR )

With this added, LUKS volumes are recreated as expected.

Would you be able to have rear copy these in when LUKS is encountered?

Thomas Astle
System Administrator

Physician

[2016-02-29 19:21] bfsworks commented on #785
Will have some new USB drives to test tomorrow and I will be sure to report back.

[2016-02-29 22:46] bobbysch opened #788 "Could not find 'mkisofs' compatible program during restore"
# Relax-and-Recover (rear) Issue Template

Please fill in the following items before submitting a new issue:

* rear version (/usr/sbin/rear -V):Relax-and-Recover 1.17.2 / Git
* OS version (cat /etc/rear/os.conf or lsb_release  -a): OS_VENDOR=RedHatEnterpriseServer OS_VERSION=6
* rear configuration files (cat /etc/rear/site.conf or cat /etc/rear/local.conf):
OUTPUT=ISO
BACKUP=NETFS
BACKUP_URL="nfs

[2016-03-01 09:48] gdha commented on #788
You need first of all install `genisoimage` rpm package as it is a pre-requisite for rear.
Concerning your question: _how to decide to restore manually?_ The backups are saved as tar.gz files. So, you can always extract one file from it.

[2016-03-01 09:51] gdha commented on #786
For some reason `udevd` did not create the symbolic link to `/dev/disk/by-label/REAR-000` from your USB device. However, as a work-around you could use `BACKUP_URL=usb:///dev/sdc1` instead (if sdc1 is your USB device of course).

[2016-03-01 09:57] gdha commented on #787
Device `/dev/nvme0n1` is strange and is not recognized by rear it seems as there is no disk definition found in `disklayout.conf`. Perhaps, it would be nice to see the debug out of `rear -vd savelayout` which produces the `disklayout.conf` file.

[2016-03-01 12:27] GIT-STATA commented on #787
Hi,

**thanks for responding that nice and quick!**
I attached the rear -vd savelayout OUTPUT.

Again, thanks a lot!!!

P.S.

- rear
  -vd savelayout
  [savelayout.txt](https://github.com/rear/rear/files/152736/savelayout.txt)

[2016-03-01 12:45] gdha commented on #787
@GIT-STATA sorry, my mistake I meant `rear -vD savelayout` (captital D to capture debugging)

[2016-03-01 12:52] GIT-STATA commented on #787
No problem at all!
Thanks a lot!

*rear -vD savelayout*
-
[savelayout-vD.txt](https://github.com/rear/rear/files/152771/savelayout-vD.txt)

[2016-03-01 14:46] DaGSUMan commented on #326
Where should the symbolic link be placed?  I cannot get the iso to mount during recovery.

[2016-03-01 14:58] #788 closed

[2016-03-01 14:59] bobbysch commented on #788
i did a mkrescue instead of recover, never mind, sorry.

[2016-03-01 19:27] bobbysch opened #789 "On CentOs 7.2, backup seems successful but nothing is copied to NFS share"
# Relax-and-Recover (rear) Issue Template

Please fill in the following items before submitting a new issue:

* rear version (/usr/sbin/rear -V): Relax-and-Recover 1.17.2 / Git

* OS version (cat /etc/rear/os.conf or lsb_release  -a):
LSB Version:    :core-4.1-amd64:core-4.1-noarch
Distributor ID: CentOS
Description:    CentOS Linux release 7.2.1511 (Core)
Release:        7.2.1511
Codename:

[2016-03-01 21:54] hardrain47 commented on #326
Just ran into this same problem on Redhat 5.11 on 1.17.2 RPM install. The issue comes because the ISO label isn't being read and aliased into the /dev/disk/by-name/ directory

I fix it by running

ln -s /dev/cdrom /dev/disk/by-label/RELAXRECOVER

Isn't there a simple way to fix this by putting an option in to specify the iso device label in the configuration file, or to specify it at recover time?

[2016-03-02 08:47] gdha commented on #326
@hardrain47 Could you try the latest snapshot as several modifications were made around udev? - see http://download.opensuse.org/repositories/Archiving:/Backup:/Rear:/Snapshot/CentOS_CentOS-5/x86_64/

[2016-03-02 11:52] gdha commented on #770
@jsmeix @schlomo Yesterday we were able to retest this on the same hardware where we noticed the behavior described in this issue with the latest snapshot of 20160222.
In the `/etc/rear/local.conf` file we added `BACKUP_RESTORE_MOVE_AWAY_FILES=( /etc/udev/rules.d/70-persistent-net.rules )` and ran a recover process where we noticed the following:
[code]
Indeed the  `/mnt/local//etc/udev/rules.d/70

[2016-03-02 11:57] gdha commented on #789
In the log file I saw:
`2016-03-01 14:14:09 Command line options: /sbin/rear -v mkrescue` ??

[2016-03-02 15:21] bobbysch commented on #789
i was tired! Sorry and thanks much.

[2016-03-02 15:21] #789 closed

[2016-03-02 15:43] mattihautameki commented on #649
@gdha I inserted 'udevadm trigger' in https://github.com/mattihautameki/rear/commit/f46722a3d1480cd391568be4bd73e21280278713. Is it possible to implement something like that or do you think that this may cause any other problems?

[2016-03-02 15:58] gdha commented on #649
@mattihautameki it won't hurt so why not preparing a pull request?

[2016-03-02 16:17] DaGSUMan commented on #326
**My original local.conf**
OUTPUT=ISO
BACKUP=NETFS
BACKUP_URL=iso://backup
ISO_MAX_SIZE=3500
OUTPUT_URL="nfs://server_name/mnt/array1/CMISLEMS/"
EOF

**Was getting this during recover **
Please insert the media called REARRECOVER in your CD-ROM drive...
RELAXRECOVER detected in /dev/sr0 ...
Please insert the media called REARRECOVER in your CD-ROM drive...
RELAXRECOVER detected in /dev/sr0 ...
Ple

[2016-03-03 01:23] Yekutiel commented on #786
Thanks for your help.

I followed your instructions.  As a work-around I used BACKUP_URL=usb:///dev/sdb1 (because sdb1 is my USB device). Below are the error messages I received this time:

**I copied and pasted the following from a Terminal:**

ken@ken-Peppy:~/rear$ sudo usr/sbin/rear -v mkrescue
Relax-and-Recover 1.17.2 / Git
Using log file: /home/ken/rear/var/log/rear/rear-ken-Peppy.log
ERROR:

[2016-03-03 06:35] gdha commented on #786
Did you install syslinux and syslinux-extlinux which you need to make an USB device bootable?

[2016-03-03 16:03] hardrain47 commented on #326
Tried the snapshot. Same issue. There's no link for it in the /dev/disk/by-label directory.

ln -s /dev/cdrom /dev/disk/by-label/RELAXRECOVER
fixes the problem

rear-1.17.2-170.git201603021132.el5.x86_64.rpm      was the RPM I used.

[2016-03-03 16:08] DaGSUMan commented on #326
@hardrain47 At what point are you making the symbolic link?

[2016-03-03 16:34] hardrain47 commented on #326
I made the symlink after booting to recovery and opening the shell.

in your case, you'll want to link to sr0 instead of /dev/cdrom. (I assume you knew that). We're having separate issues possibly because you're dealing with multiple dvds.

[2016-03-04 11:44] #783 closed

[2016-03-04 11:46] #770 closed

[2016-03-04 13:03] #748 closed

[2016-03-04 13:16] gdha commented on #679
@tastle73 thank you - your advise was useful. Committed it for 1.18.

[2016-03-04 15:19] hardrain47 commented on #326
@GDHA did you make a code change on this? I saw one on udev.

[2016-03-04 15:34] DaGSUMan commented on #326
@hardrain47 i am having no luck.  Can you send me a sample local.conf file to see the iso backup format.  FYI when my backup was less that 4GB and a single iso.  the restore worked just fine.  its only since it has grown over 4GB that it splits into two and the restore gives the RELAXRECOVER issue.

[2016-03-04 15:34] gdha commented on #326
@hardrain47 added some extra sleep time...

[2016-03-04 16:05] hardrain47 commented on #326
What OS you on @DaGSUMan? I'll see if I can test multiple disks.

[2016-03-04 16:28] DaGSUMan commented on #326
@hardrain47 I'm on Red Hat 6.7

[2016-03-04 17:53] tastle73 commented on #679
As a test I did a git pull today and ran make rpm.  For some reason mdadm was missing at restore time.  Copying it in from another system worked.

[2016-03-04 18:01] hardrain47 commented on #326
here's my local.conf.  I'm going to drop my iso size to 1GB and test.

OUTPUT=ISO
OUTPUT_URL=null
ISO_MAX_SIZE=4500
BACKUP=NETFS
BACKUP_URL=iso://backup
ISO_DEFAULT=manual

[2016-03-04 18:27] Yekutiel commented on #786
Thanks for following up with me.

I have not knowingly install syslinux and syslinux-extlinux.

I did use Gparted to format my USB device and set the flag to boot. Wouldn't that make my USB device bootable?

[2016-03-04 19:01] hardrain47 commented on #326
Well, on 5u11, multiple DVDs appears to be working when I do
ln -s /dev/cdrom /dev/disk/by-label/RELAXRECOVER
before running >rear recover

I also just use the default output location: /var/lib/rear/output
I'll test on 6.7

[2016-03-04 20:57] DaGSUMan commented on #326
Please see the screen shots
[REARError.docx](https://github.com/rear/rear/files/159370/REARError.docx)

[2016-03-04 21:20] hardrain47 commented on #326
Something already exists in your /dev/disk/by-label directory.
What does > ls -al /dev/disk/by-label report?

[2016-03-04 21:24] DaGSUMan commented on #326
RELAXRECOVER -> ../../sr0
.
![rearerror01](https://cloud.githubusercontent.com/assets/17571121/13540603/1f0d4d4a-e21d-11e5-8359-f22a41cee7bf.PNG)

[2016-03-04 21:34] blaxxton commented on #748
Hi
I wanted to thank you for all your help.
Thanks

      From: gdha <notifications@github.com>
 To: rear/rear <rear@noreply.github.com>
Cc: blaxxton <blaxxton@yahoo.com>
 Sent: Friday, March 4, 2016 7:03 AM
 Subject: Re: [rear] ipv6 has been disabled in server, but ISO boots server with ipv6 assigned to eth0 and lo (#748)

Closed #748.—
Reply to this email directly or view it on GitHub.

[2016-03-04 21:34] hardrain47 commented on #326
what happens when you do ls -al /dev/sr0 ?

[2016-03-04 21:40] DaGSUMan commented on #326
![rearerror02](https://cloud.githubusercontent.com/assets/17571121/13541003/5b3cfea8-e21f-11e5-9244-6d2639dcccf7.PNG)

[2016-03-04 23:33] mattihautameki commented on #649
@gdha I just created a pull request. I wanted to ask because I was not sure you would accept a workaround rather than a fix for the real cause.

[2016-03-05 13:19] hpannenb commented on #326
@gdha I retested with Relax-and-Recover 1.17.2-git201603021132 / 2016-03-02 on Ubuntu 14.04.4 in a KVM. Still missing the /dev/disk/by-label/RELAXRECOVER.

[2016-03-07 09:28] jsmeix opened #791 "Waiting for udev and "kicking udev" are wrong (both miss the point)"
Currently rear waits for udev either via something like

<pre>
udevadm settle
</pre>

or as last resort by simple sleeping for a while.

Both miss the point and therefore both will never work reliably so that in the end both is wrong.

That sleeping for a while cannot work reliably is clear.

Below I explain why even testing if all current udev events are handled via "udevadm settle" cannot work r

[2016-03-07 09:37] gdha commented on #787
Ok I understand the issue now - according https://communities.intel.com/community/itpeernetwork/blog/2014/10/10/finding-your-new-intel-ssd-for-pcie-think-nvme-not-scsi it is not a scsi device and currently rear does not recognize it.
Script `20_partition_layout.sh` must be extended with this type disk.

[2016-03-07 09:43] gdha commented on #786
@Yekutiel Rear is doing that for you - I wouldn't use gparted for it.

[2016-03-07 10:08] jsmeix commented on #766
@gdha
in general regarding "sleep" in https://github.com/rear/rear/commit/c04427c62e68d427d8e31e1f88abc68c4ff5e9f5 and in general regarding how to wait for things that are created by udev, I submitted right now https://github.com/rear/rear/issues/791 so that (hopefully) I can implement it properly for a future rear version. For now the current workaround via "sleep some more" should be o.k.

[2016-03-07 10:14] GIT-STATA commented on #787
Hi gdha,

thank you very much for your response. I guess, it must be this part of the script, which needed to be 'revised'

    for path in "${sysfs_paths[@]}" ; do
        ### path can be: /sys/block/sda/sda1 --> /dev/sda1
        ###              /sys/block/dm-4 --> /dev/mapper/mpathbp1

But still I have no clue what exactly to revise.
Any Code would be so great! I would test it, of course...

P

[2016-03-07 10:35] #766 closed

[2016-03-07 10:42] gdha commented on #787
@GIT-STATA Just pushed a new version of 20_partition_layout.sh - pls give it a try

[2016-03-07 12:51] #768 closed

[2016-03-07 13:02] GIT-STATA commented on #787
Hi,

unfortunately it does not work....

**Partition is numbered '\'''\''. More than 128 partitions is not supported.'
Message: Partition  is numbered ''. More than 128 partitions is not supported.**

Here is rear -vD ...
[rear-localhost-vD.txt](https://github.com/rear/rear/files/161304/rear-localhost-vD.txt)

Many thanks!

[2016-03-07 13:13] gdha commented on #787
@GIT-STATA could you post `/var/lib/rear/layout/disklayout.conf`? I think we are on the right track, but noet completely finished yet.

[2016-03-07 13:17] GIT-STATA commented on #787
Hi,

sure!

Here we go (disklayout.conf with NVMe SSD)
[disklayout-nvme.txt](https://github.com/rear/rear/files/161327/disklayout-nvme.txt)

Thanks!

[2016-03-07 13:27] gdha commented on #787
In the disklayout.conf I noticed the start of the partition is missing:
[code]
Could you run a debug session of savelayout once more?

[2016-03-07 13:32] GIT-STATA commented on #787
Hi,

of course...
**Here we go... rear -vD savelayout**
[savelayout-vD.txt](https://github.com/rear/rear/files/161353/savelayout-vD.txt)

[2016-03-07 15:36] gdha commented on #787
@GIT-STATA What does `cat /sys/block/nvme0n1/nvme0n1p1/start` return?

[2016-03-07 16:03] GIT-STATA commented on #787
Hi,

returns
**2048**

[2016-03-07 17:09] hardrain47 commented on #326
@DaGSUMan Couldn't test over the weekend with 6.7, but I have some results for you.

I am on an extremely similar RHEL release 6.7.2.6-32-573.e16.x86_64

I did a test setup with a 700MB max iso size which split my system into two isos and tried a restore. I had no problem restoring with multiple isos. Worked flawlessly. Do you think perhaps it could be your CD drive, or how you burned your isos? I

[2016-03-07 17:14] DaGSUMan commented on #326
THank you @hardrain47 I'll try it again.  Although, fyi I am using VM to test the restoring and mounting the ISO.  It is creating three iso's  one that is 7GB and the other two are like 300K

[2016-03-07 17:26] hardrain47 commented on #326
Oh, this could totally a virtual device issue. How are you "loading" these?

[2016-03-07 17:28] DaGSUMan commented on #326
I was trying to burn them to an DVD but it was too large. It's not breaking the DVD size equally. My is 7GB from the physical server. That is why I was trying to restore to VM.

[2016-03-07 18:27] Yekutiel commented on #786
I see. How do I install syslinux and syslinux-extlinux a USB device bootable?

[2016-03-08 09:15] gdha commented on #786
@Yekutiel Use `apt-get install syslinux` and `apt-get install extlinux` before running rear. Within rear format the USB disk as `rear format /dev/sdc`  (where /dev/sdc is your USB disk - change this if required)

[2016-03-08 10:13] bfsworks commented on #785
I have tested three new and different USB drives, Western Digital, Seagate, and Transcend. mkrescue goes fine, but boot up does now. Tried booting on multiple machines as well so I know it is not a bios issue. Bios is properly booting the drives but keep getting a "Boot error". Playing around with bootloader.functions.sh I changed the boot directory from /boot/syslinux to /boot/extlinux and that a

[2016-03-08 17:56] thefrenchone opened #792 "main gitignore ignoring var directory in skel"
* rear version (/usr/sbin/rear -V):  1.17.2 and recent git clone.  Both were tested.
* OS version (cat /etc/rear/os.conf or lsb_release  -a):  Rhel 6 and 7
* rear configuration files (cat /etc/rear/site.conf or cat /etc/rear/local.conf): N/A

The main .gitignore file has the line "var".  This appears to exclude the var directory within the usr/share/rear/skel/default directory from being committed

[2016-03-08 18:27] thefrenchone opened #793 "partprobe fails"
* rear version : 1.17.2 and recent Git
* OS version : RHEL 7
* rear configuration files: N/A

udevadm settle doesn't appear to function correctly in RHEL 7.  During the disklayout stage of recovery partprobe -s /dev/sda fails 100% of the time with resource is busy.

"Error: Error informing the kernel about modifications to partition /dev/sda1 - Device or resouce busy. This means linux won't know a

[2016-03-09 05:02] bfsworks commented on #785
Well I have updated syslinux/extlinux to 6.03 and I can boot the USB every time with no "Boot error" or any modifications to the rear code. Possibly some of the newer 2TB USB SCSI/SATA drives will only work with newer versions of the syslinux project. Now the problem I have is that the Include directive for /rear/syslinux.cfg does not load. The Include directive works as if I move the syslinux.cfg

[2016-03-09 09:08] gdha commented on #785
@bfsworks Good news for you at last. Concerning the include directive: is a bit weird as it seems to work for most users. Could you give an example of your configuration?

[2016-03-09 09:50] jsmeix commented on #793
I think hammering on the poor kernel/udev/systemd/whatever
with consecutive "partprobe" calls is not the very best thing.

But following the basic idea from https://github.com/rear/rear/issues/791
<pre>
The right way is to wait for the actual "thingy" that is needed by the subsequent commands.
</pre>
the following could be the right way in 10_include_partition_code.sh
<pre>
    # Ensure we have th

[2016-03-09 12:40] gdha commented on #792
The `var` directory was added by change https://github.com/rear/rear/commit/87ebabba5abe3f1cda4b691564fc5e1ee53985d1 by @schlomo
Probably, when running rear from relative path then the `var` directory is automatically created and @schlomo wanted to exclude this from the rear archive tar.

[2016-03-09 18:27] schlomo commented on #792
Yes, this is correct.

Can you please let me know for which purpose you need a `var` directory within `usr/share/rear/skel/default`?

[2016-03-09 19:18] thefrenchone commented on #792
In this Git repo usr/share/rear/skel/default/var contains the directories empty,lib,lock,log,run,tmp then some sub-directories on top of that.  Because of the "var" exclude these directories are not committed to git unless they are forced.  Then because they never get committed to git they then don't end up in rpm packages.  Finally, those folders never get created on the rescue ISO.

I'm only run

[2016-03-09 19:24] schlomo commented on #792
I see. Maybe we change the [gitignore](https://git-scm.com/docs/gitignore) entry from `var` to either `/var` or add another entry with `!/usr/share/rear/skel/default/var` to exclude that from the exclusion. However, since maybe others also want to add stuff to `var` I think that going for `/var` would be better and more direct.

[2016-03-09 19:41] thefrenchone commented on #793
Your code worked for me.  The countdown is a lot cleaner than what I had.

To clarify what I mean with sleep not working: it appears sleeping alone isn't enough for udev to get it's act together.  Sometimes a sleep 1 works.  Usually a sleep 10 works.  Occasionally udev just needs to be kicked before it'll ever work.  So sleep was never a reliable method for some reason.

One alternative that also

[2016-03-10 01:39] Yekutiel commented on #786
Thanks again for your help. I successfully ran `apt-get install syslinux` and `apt-get install extlinux`. That was trivial except for realizing I needed to prepend `sudo`.

I guess maybe it might be helpful to others if that information were up on http://relax-and-recover.org/documentation/getting-started

I was unsure what this means:

In a Terminal I entered `cd rear/` `rear format /dev/sdb` (my

[2016-03-10 09:31] jsmeix commented on #793
Regarding "udev just needs to be kicked":

As far as I was told "kicking udev" does not make sense.

Reason:

Again the crucial point is that the whole suff works based on events.

When "nothing happens" in udev it means there are no events.

When there are no events it does noct change anything to "kick udev" because udev will do nothing when there are no events.

Again the right way is the same

[2016-03-10 09:40] jsmeix commented on #793
FYI regarding the "I was told" in my comment above:

I am not at all a kernel or udev expert.

I only report here what "I was told".

[2016-03-10 12:28] shoodle commented on #703
Hi,
i am opening this issue again, because i think it is not solved.

Today i wrote a config file like this /etc/rear/site.conf:

When the backup finished i found a modified /boot/grub/grub.cfg and a new entry /etc/grub.d/01_users.

When i booted my computer **ALL** menu entries in the grub menu were protected with "username" and "password". When i tried to access an entry with username "rearadmin

[2016-03-10 12:42] shoodle opened #794 "ALL Grub entries after booting are protected"
Hi,

i commented already on issue #703 but am not sure if anybody will read that.

REAR version: 1.17.2 (newest deb)
OS version: Linuxmint Debian (rolling release with latest updates)

Today i wrote a config file like this /etc/rear/site.conf:

    BACKUP_PROG=rsync
    BACKUP_PROG_EXCLUDE=( '/dev/' '/proc/' '/sys/' '/tmp/' '/run/' '/mnt/' '/media/*' '/lost+found' )
    BACKUP=NETFS
    BACKUP_PRO

[2016-03-10 15:25] gdha commented on #794
According script `/usr/share/rear/output/default/94_grub2_rescue.sh`  you should pass:
[code]
Was this set correctly to a hashed password? Or, what went wrong?

[2016-03-10 15:26] gdha commented on #792
@thefrenchone Could you test this and tell us the difference?

[2016-03-10 15:29] #774 closed

[2016-03-10 15:39] shoodle commented on #794
Thank you for your response, gdha.

The newly created /etc/grub.d/01_users has been:

cat <<EOF
set superusers="rearadmin"
password_pbkdf2 rearadmin REAR
EOF

No hashed password

[2016-03-10 15:41] jsmeix commented on #793
@gdha good question - I don't know.

For my tests all had "just worked" on my SLE12 test systems but as I explained in https://github.com/rear/rear/issues/791 I think the whole udev related waiting/triggering code in rear should be reviewed/reconsidered but I think this should happen without any time pressure (i.e. after the 1.18 release), cf. my "Milestone" setting in https://github.com/rear/rear

[2016-03-10 15:51] gdha commented on #794
@shoodle I see then the author (@sanderu in ipull request #589) of the script made a mistake in the sense when *password_pbkdf2* is used it must be a hashed password, or am I wrong?

[2016-03-10 16:02] shoodle commented on #794
That is what i read from the Ubuntu documentation.

But my main problem is: How can i get rid of the protected grub menu?

[2016-03-10 16:05] shoodle commented on #794
That is what i read from
https://help.ubuntu.com/community/Grub2/Passwords#Password_Encryption

But for me the main problem is: How can i get rid of the protection of grub?

Deleting the files as described above did not help.

By the way: In order o I had to patch

[2016-03-10 18:07] thefrenchone commented on #792
Changing the gitignore to have `/var` instead of `var` did include the `usr/share/rear/skel/default/var` directory in the rpm.  This change appears to have the desired result.

I don't really understand the justification for that line.

[2016-03-10 19:59] schlomo commented on #792
As @gdha wrote already: If you run ReaR from a checkout it will create a var dir there.

[2016-03-11 09:18] GIT-STATA commented on #787
Hi gdha,

any new ideas o that issue?
Thanks a lot!

[2016-03-11 10:56] gdha commented on #794
@shoodle Glad you could resolve it! In the meantime we fixed the issue you had.

[2016-03-11 11:09] jsmeix commented on #791
Also "kicking udev" is wrong (at least usually), see https://github.com/rear/rear/issues/793#issuecomment-194753486 (excerpts):

As far as I was told "kicking udev" does not make sense.

Reason:

Again the crucial point is that the whole suff works based on events.

When "nothing happens" in udev it means there are no events.

When there are no events it does not change anything to "kick udev" bec

[2016-03-11 12:44] jsmeix opened #795 "rescue/GNU/Linux/99_sysreqs.sh can hang up endlessly"
In rescue/GNU/Linux/99_sysreqs.sh
the following command can hang up endlessly:
<pre>
BOOT_KB=$(grep `df -P /boot | grep /boot | awk '{print $1}' | sed "s#/dev/##"` /proc/partitions | awk '{print $3}')
</pre>

It hangs up on my SLE12 test system,
here reproduced on command line:
<pre>
# set -x
# BOOT_KB=$(grep `df -P /boot | grep /boot | awk '{print $1}' | sed "s#/dev/##"` /proc/partitions | awk '{

[2016-03-11 12:51] jsmeix commented on #795
"git blame usr/share/rear/rescue/GNU/Linux/99_sysreqs.sh"
indicates all was made by Gratien D'haese.

@gdha
please make your code according to
https://github.com/rear/rear/wiki/Coding-Style
<pre>
Use $( command ) instead of backticks `command`
</pre>
I get so confused with backticks because one same character backtick is used both for opening and closing.

I will clean up the whole 99_sysreqs.sh c

[2016-03-11 14:55] jsmeix commented on #793
@gdha have a look at my https://github.com/rear/rear/pull/797

If you like it please merge it.

At least from my point of view it is backward compatible
so that there should be no regressions if you merge it.

@thefrenchone please test my https://github.com/rear/rear/pull/797 if that also makes it work for your case.

[2016-03-11 15:06] jsmeix commented on #795
"git log --follow usr/share/rear/rescue/GNU/Linux/99_sysreqs.sh"
indicates that 99_sysreqs.sh really was made by @gdha

@gdha please have a look at my https://github.com/rear/rear/pull/796 and check my "FIXME comments in 99_sysreqs.sh - perhaps you could fix some of them?

Or was 99_sysreqs.sh perhaps actually created (sponsored)
by someone else because
"git log usr/share/rear/rescue/GNU/Linux/99_

[2016-03-11 15:16] jsmeix commented on #795
FYI regarding my
"FIXME: it seems the root partition size is mising"

Excerpt from var/log/rear/rear-f197.log
<pre>
++ echo
+++ awk '{tot=tot+$3} END {print tot}'
+++ grep -v -e Filename -e /dev/dm- /proc/swaps
++ SWAP_KB=1532924
++ test 1532924
+++ grep vg00
+++ awk '{print $6}'
+++ sed s/g//
+++ vgs --units=g
++ VG00_GB=
++ test ''
++ VG00_GB=0
+++ grep /boot
+++ awk '{print $1}'
+++ sed s#/dev/

[2016-03-11 15:55] gdha commented on #795
@jsmeix the `vg00` seems to be very optimistic as it can be named anything...(for the customer it worked fine, but they use as a standard naming vg00).
It should be rewritten a bit to take the correct data sizes of the boot/root disk (aka system disk).

The network part seems ok to me:
[code]

[2016-03-11 17:10] thefrenchone commented on #793
@jsmeix I haven't tested some variations of your code
[code]

There are a few modification I ended up making for my testing.  At most this is 10 attempts of partprobe with sleep getting longer on each attempt.

[code]

Testing this I found that partprobe always succeeded on the second attempt.

Looking at your commit I don't see anything that will cause any issues.  For my use case I expect the fi

[2016-03-11 17:18] gdha commented on #787
Script `/usr/share/rear/layout/save/GNU/Linux/20_partition_layout.sh` calls:
[code]
At this moment I have no clue why it doesn't find the function `get_partition_start` as it is defined  in `layout-functions.sh:get_partition_start()`
Next week we might have a smarter idea?

[2016-03-11 17:33] GIT-STATA commented on #787
Hi,

yes, lets see next week!
**BUT**
get_partition_start() **is not called in** /usr/share/rear/lib/**layout-functions.sh**
I can't find it there!

Thanks!

[2016-03-11 17:55] thefrenchone commented on #791
Just a note that I do observe the current code using my_udevsettle being an issue on RHEL 7.  It's rare when this process fails but in a few circumstance parted will fail with the device being busy.

While I was testing my partprobe issue #793  I often had to insert sleeps in front of the parted commands or clear the disks before restarting "rear recover".
The issue is reproducible if I was to exi

[2016-03-14 08:21] jsmeix commented on #793
@thefrenchone many thanks for your feedback!

[2016-03-14 08:21] #793 closed

[2016-03-14 09:07] jsmeix commented on #791
Only an idea reagarding "forcefully remove the root LVM volume group before restarting 'rear recover'", see https://github.com/rear/rear/issues/540 "Implement a generic 'cleanupdisk' function".

I guess when you have a higher stack of storage objects like filesystem on top of LVM on top of partitions on top of the harddisk (cf. https://github.com/rear/rear/issues/540#issuecomment-71773772) then it

[2016-03-14 13:54] gdha commented on #787
@GIT-STATA Could you remove rear and re-install it once to double check this? It must be there (in layout-functions.sh)

[2016-03-14 16:35] GIT-STATA commented on #787
The **official stable releases from EPEL does not work**!
After I used the **Relax-and-Recover sources from Github** and build the rpm package, I can now confirm that ReaR is working great! I have tested different scenarios and everything worked as it should! NVMe is now supported (from my point of view!)

**THANKS A LOT !!!gdha!!!**

[2016-03-15 07:19] gdha commented on #787
I know it is time to make a new release!

[2016-03-15 07:19] #787 closed

[2016-03-15 14:42] jsmeix opened #798 "99_sysreqs.sh: fix or implement remaining issues"
This issue is intended as follow-up of https://github.com/rear/rear/issues/795

In particular the root partition size is missing, cf.
https://github.com/rear/rear/issues/795#issuecomment-195425857

[2016-03-15 14:44] jsmeix commented on #795
I close this one because with https://github.com/rear/rear/pull/796 it does no longer hang up.

I submitted https://github.com/rear/rear/issues/798 as follow up to fix or implement remaining issues in 99_sysreqs.sh

[2016-03-15 14:44] #795 closed

[2016-03-15 14:49] jsmeix commented on #798
@gdha
see my initail "FIXME" in 99_sysreqs.sh
<pre>
# FIXME: Provide a leading comment what this script is about.
</pre>

Can you provide me some explanatory information what
the purpose of this script is.

I see at its end that it outputs text to
$VAR_DIR/sysreqs/Minimal_System_Requirements.txt
but I have no idea what it is good for.

Is it just mean as textual information or is the content of
$V

[2016-03-15 15:09] jsmeix opened #799 "Clean up disks before recreating partitions/volumes/filesystems/..."
Hereby I propose to let a "cleanupdisk" script run early
(i.e. before anything is done with the harddisk,
in particular before a "parted" command is run).

The purpose of the "cleanupdisk" script is to wipe any
possibly remainders of various kind of metadata information
from the harddisk that could belong to various higher layers
of storage objects.

Currently (cf. https://github.com/rear/rear/iss

[2016-03-15 15:11] jsmeix commented on #799
@gdha @schlomo @thefrenchone @tbsky

I ask you all for feedback what you think about it.

[2016-03-15 15:20] jsmeix commented on #540
I close this one because it is "somewhat done" for version 1.18 and probably it will become "mostly obsoleted" by https://github.com/rear/rear/issues/799 which might even (hopefully) really fix those issues.

[2016-03-15 15:20] #540 closed

[2016-03-15 16:11] gdha commented on #798
@jsmeix Updated the script to make more sense on all Linux distro's. If you could review the end result? The `/var/lib/rear/sysreqs/Minimal_System_Requirements.txt` file is **not** used by rear in *recover* mode. The purpose is to have an idea in a remote DRP center what are the minimal physical requirements of a system to  foresee to perform a successful  recovery from the rear image provided.

[2016-03-16 09:25] #679 closed

[2016-03-16 09:26] #794 closed

[2016-03-16 11:35] jsmeix commented on #798
@gdha
many thanks for your nice clenaup of 99_sysreqs.sh.

Its resulting var/lib/rear/sysreqs/Minimal_System_Requirements.txt
looks good on my system.

With your clenaup of 99_sysreqs.sh this issue here
is sufficiently fixed from my point of view.

[2016-03-16 11:35] #798 closed

[2016-03-16 12:04] jsmeix commented on #799
What wipefs results in the rear recovery system
directly after login as root
on the above mentioned (second) machine
where the harddisk was already in use:
<pre>
Welcome to Relax and Recover. Run "rear recover" to restore your system !

RESCUE f197:~ # ls -l /dev/sd*
brw-rw---- 1 root disk 8, 0 Mar 16 11:02 /dev/sda
brw-rw---- 1 root disk 8, 1 Mar 16 11:02 /dev/sda1
brw-rw---- 1 root disk 8, 2 Mar

[2016-03-16 17:38] peptoni opened #800 "Purge backups"
# Relax-and-Recover (rear) Issue Template

Please fill in the following items before submitting a new issue:
- rear version (/usr/sbin/rear -V): Relax-and-Recover 1.17.2 / Git
- OS version (cat /etc/rear/os.conf or lsb_release  -a): Ubuntu 14.04.4 LTS
- rear configuration files (cat /etc/rear/site.conf or cat /etc/rear/local.conf):
  BACKUP=NETFS
  OUTPUT=USB
  BACKUP_PROG=rsync
  BACKUP_URL=usb:/

[2016-03-16 19:05] didacog commented on #800
Hello @peptoni,

Maybe you will give a try to DRLM (www.drlm.org) to manage your ReaR backups.

One of the features is multiple backups management. You just need to set HISTBKPMAX=<number_of_bkps> in /etc/drlm/local.conf and manage them with: drlm CLI

Hope this can help you! ;)

Didac

[2016-03-16 21:01] thefrenchone commented on #799
wipefs would be great to have run earlier.  It's code generated from 10_include_partition_code.sh that would occasionally fail or require extra time for me.  Just removing LVM information was usually enough.

At the moment I can't test this but hopefully soon I'll be able to.  I'll try adding the wipefs command to clear the disk earlier.

[2016-03-17 11:21] peptoni commented on #800
Thanks @didacog.  Nice utility, but I'm on standalone server right now.

I've found this:

**

**

on /usr/share/rear/conf/default.conf but it's not working for me.  Even if I add this lines to /etc/rear/local.conf it's not working...  I'v done 5 backups, but not purging older ones.

Any idea?  Thanks in advance.

[2016-03-18 14:01] jsmeix commented on #799
@mattihautameki
I remembered your issue https://github.com/rear/rear/issues/649 that also seems to be related to disk cleanup (cf. https://github.com/rear/rear/issues/649#issuecomment-148710502) so that this issue here could be also of interest for you.

[2016-03-18 14:02] jsmeix commented on #791
@mattihautameki
I noticed your https://github.com/rear/rear/pull/790 and I think you could be interested about what I wrote here.

[2016-03-18 14:51] gdha commented on #800
script `output/USB/Linux-i386/30_create_extlinux.sh` seems to use the variable `USB_RETAIN_BACKUP_NR`. So, it does not work you say?

[2016-03-18 16:23] peptoni commented on #800
At least for me, is not working.  I've done up to 5 backups onto my USB drive but all of them remain on disk.  There is, apparently, no purge.  Is there any more info I can give you?  Thanks in advance.

[2016-03-18 16:25] peptoni commented on #800
There is one difference with a standard setup.  My drive isn't labeled "REAR-000".  Is labeled "backup", because I have a previous working rsnapshot setup around that.  Other than this, it's a standard setup, as far as I can tell.

[2016-03-18 17:27] lrirwin commented on #800
I wrote this script and called it "prunerearbackup".
It checks the average sizes of the backups and multiplies by 3 (for good measure) to see if any pruning is needed.
I set it up to run an hour or more prior to the backup process.
You'd have to modify it to match your rear folder names and the disk device...

[code]

[2016-03-18 17:36] peptoni commented on #800
Nice script.  Very elaborated.
I would go more for a simple line like:

`find /path/to/files* -mtime +30 -exec rm {} \;`

Yours is disk space available oriented and mine is just time oriented.

Anyway, I'd love to find out about the integrated variable in ReaR.

[2016-03-23 12:55] jsmeix opened #801 "ebiso (wrongly) called even if BIOS is used"
I am using rear 1.18
on a QEMU/KVM virtual machine
with BIOS.

Nevertheless I have in /etc/rear/local.conf
<pre>
ISO_MKISOFS_BIN=/usr/bin/ebiso
</pre>

That leads to the following:
<pre>
# rear -d -D mkbackup
Relax-and-Recover 1.18 / Git
Using log file: /var/log/rear/rear-g34.log
mkdir: created directory '/var/lib/rear/output'
Creating disk layout
Creating root filesystem layout
Copying files and

[2016-03-23 13:05] phracek opened #802 "Duplicate ISO images - /backup/fedora.iso and /var/lib/rear/output/fedora.iso"
# Relax-and-Recover (rear) Issue Template

Please fill in the following items before submitting a new issue:
- rear version (/usr/sbin/rear -V): 1.18
- OS version (cat /etc/rear/os.conf or lsb_release  -a):  Fedora 23
- rear configuration files (cat /etc/rear/site.conf or cat /etc/rear/local.conf):

[code]
- Brief description of the issue: ISO image is created in ''/backup/fedora.iso'' but ''/var/

[2016-03-23 13:16] gozora commented on #801
For me it looks like ``$USING_UEFI_BOOTLOADER`` is not set for whatever reason ...
By checking ``usr/share/rear/prep/default/32_include_uefi_env.sh`` you'd need to have existing _/sys/firmware/efi/vars_ or _/sys/firmware/efi/efivars_, directory _/boot/efi_ must exist and ``UEFI_FS_TYPE`` must be vfat ..

[2016-03-23 13:37] gozora commented on #801
@jsmeix or, did I just misunderstood and you try to use ebiso on non-UEFI system?

[2016-03-23 13:52] jsmeix commented on #801
By accident I used ebiso on a non-UEFI system
but rear "fails falsely" in this case - i.e. rear falsely proceeds
and then fails late at an arbitrary unexpected place - instead
rear should have directly aborted with an error where the
actual issue happened.

The following change makes rear "fail correctly" for me
when using ebiso on a non-UEFI system:
<pre>
 fi

 pushd $TMP_DIR/isofs >&8
-# ebiso c

[2016-03-23 13:56] jsmeix commented on #801
@gdha
I wonder what is better coding style:

The currently "everywhere else" used
<pre>
if (( USING_UEFI_BOOTLOADER )) ; then
</pre>
or a more general test via
<pre>
if is_true $USING_UEFI_BOOTLOADER ; then
</pre>

Personally I would prefer the latter
and furthermore that matches better
https://github.com/rear/rear/wiki/Coding-Style

[2016-03-23 13:57] gozora commented on #801
@jsmeix, yes that was certainly a logical error ...

[2016-03-23 15:38] pmkri15 opened #803 "REAR 1.17 and NSR with RHEL 6.7"
rear-1.17.2-1.el6.x86_64 (Relax-and-Recover 1.17.2 / Git)
lsb_release -a
LSB Version:    :base-4.0-amd64:base-4.0-noarch:core-4.0-amd64:core-4.0-noarch:graphics-       4.0-amd64:graphics-4.0-noarch:printing-4.0-amd64:printing-4.0-noarch
Distributor ID: RedHatEnterpriseServer
Description:    Red Hat Enterprise Linux Server release 6.7 (Santiago)
Release:        6.7
Codename:       Santiago

local.c

[2016-03-23 16:07] gozora commented on #803
Hi,
Looks like /dev/tty6 is missing or corrupted.
My best shot would be to boot system from RH rescue disk (or ReaR iso), mount / (root) and comment out tty6 edit **/etc/inittab.**
Something like:

[code]

and tty boot again ...

[2016-03-23 16:33] gdha commented on #802
See also #734 - it did not get in 1.18 on time.

[2016-03-23 16:35] parasharsingh opened #804 "SUSE Linux Backup is failing ERROR: Could not create ISO image (with /usr/bin/mkisofs)"
* rear version (/usr/sbin/rear -V):
* OS version (cat /etc/rear/os.conf or lsb_release  -a):
* rear configuration files (cat /etc/rear/site.conf or cat /etc/rear/local.conf):
* Brief description of the issue
* Work-around, if any

[code]

[2016-03-23 16:36] gdha commented on #803
Did selinux relabeling kick in? Might be that what is causing this...

[2016-03-23 16:40] gdha commented on #804
Please install `ebiso` if UEFI booting is required - download from http://download.opensuse.org/repositories/Archiving:/Backup:/Rear/SLE_11/x86_64/

[2016-03-23 16:42] gdha commented on #801
@jsmeix `if is_true $USING_UEFI_BOOTLOADER ; then` is indeed preferred.

[2016-03-23 16:57] parasharsingh commented on #804
Even after installing rpm I'm getting same error:

uswix162# rpm -ivh ebiso-0.1.4-1.x86_64.rpm
warning: ebiso-0.1.4-1.x86_64.rpm: Header V3 DSA signature: NOKEY, key ID 725a0c43
Preparing...                ########################################### [100%]
   1:ebiso                  ########################################### [100%]
uswix162# rear -d -D mkbackup
Relax-and-Recover 1.16 / Git
Using

[2016-03-23 17:05] gozora commented on #804
Hi,
ReaR configuration needs to be adapted as well.
Please check: http://www.it3.be/2015/10/27/uefi-iso-boot-with-ebiso/

[2016-03-23 17:05] parasharsingh commented on #804
under log file I can see following:
----------------------------snipped-----------------------------------
+++ date '+%Y-%m-%d %H:%M:%S.%N '
++ echo '2016-03-23 11:56:33.273457525 Including ISO UEFI boot (as triggered by USING_UEFI_BOOTLOADER=1)'
2016-03-23 11:56:33.273457525 Including ISO UEFI boot (as triggered by USING_UEFI_BOOTLOADER=1)
++ pushd /tmp/rear.VT25b9gac3pXGae/tmp/isofs
++ /usr/bin/

[2016-03-23 17:55] parasharsingh commented on #804
I made the changes in configuration file as well but still this is not working.

uswix162# cat /etc/rear/local.conf
# Default is to create Relax-and-Recover rescue media as ISO image
# set OUTPUT to change that
# set BACKUP to activate an automated (backup and) restore of your data
# Possible configuration values can be found in /usr/share/rear/conf/default.conf
#
# This file (local.conf) is inten

[2016-03-23 18:04] gozora commented on #804
Hi,
This might be the problem: **Relax-and-Recover 1.16 / Git**
As far as I remember ebiso was first introduced in ReaR version 1.17
@gdha correct me if I'm wrong

[2016-03-23 18:06] parasharsingh commented on #804
That's correct. I just installed rear 1.18 on another system and set it up. That servers back is working fine.

Thanks for your help.

[2016-03-23 18:07] gozora commented on #804
anytime ...

[2016-03-23 18:58] pmkri15 commented on #803
Booted using the ISO mounted the root partition
cd /etc/sysconfig
editted selinux and changed SELINUX from enforcing to permissive
umounted root partition
reboot was successful
So as a test I set SELINUX back to enforcing and rebooted - same errors so I reset to permissive
Thanks for quick responses

[2016-03-24 08:45] gdha commented on #804
To be honest it was introduced 1.17.2-git-something, so in dev only. The 1st official support for ebiso is 1.18, hence the release.

[2016-03-24 10:14] jsmeix commented on #801
O.k.
I will do a pull request that fixes the actual issue here
plus
using 'is_true $USING_UEFI_BOOTLOADER' everywhere.

[2016-03-24 10:46] jsmeix opened #805 "Use 'ebiso' automatically as needed"
On openSUSE and SLE rear >= 1.18 plus 'ebiso' must be used
to make the rear recovery system ISO image bootable on UEFI.

With rear 1.18 one must explicitly specify in /etc/rear/local.conf
that 'ebiso' is used to make the ISO image - otherwise it fails (cf. https://github.com/rear/rear/issues/804 and https://github.com/rear/rear/issues/801).

This issue here is an enhancement request to automate it

[2016-03-24 10:47] jsmeix commented on #804
As far as I see the above https://github.com/rear/rear/issues/804#issuecomment-200440869 is the same as https://github.com/rear/rear/issues/801

General information:

The newest rear and ebiso packages
for various openSUSE and SLE versions
are available from the openSUSE build service
for direct RPM download as RPM packages
named "rear-1.18-..." and "ebiso-0.2.1-..." from
<pre>
http://download.ope

[2016-03-24 10:47] #804 closed

[2016-03-24 13:10] jsmeix commented on #801
A first pull request https://github.com/rear/rear/pull/806 only fixes the actual issue here.

A second separated pull request will using `is_true $USING_UEFI_BOOTLOADER` everywhere - i.e. it will implement an enhancement change from current numerical-only values for USING_UEFI_BOOTLOADER to general yes/no values.

[2016-03-24 14:35] jsmeix commented on #801
The second pull request https://github.com/rear/rear/pull/807 allows generic yes/no values for USING_UEFI_BOOTLOADER

As a consequence it use everywhere generic tests via
`is_true $USING_UEFI_BOOTLOADER` and
`is_false $USING_UEFI_BOOTLOADER`

The latter requires the new counterpart function
is_false to test for an explicit 'no' value.

[2016-03-25 14:02] dl5rcw opened #808 "recover on identical hardware with new NIC, but not USB Keyboard input - using iso + USB key"
* rear version (/usr/sbin/rear -V):

* OS version (cat /etc/rear/os.conf or lsb_release  -a):
lsb_release -a

* rear configuration files (cat /etc/rear/site.conf or cat /etc/rear/local.conf):

* Brief description of the issue
I am running

creating a iso on my NAS, which works fine. My server is used headless, but during install and maintenance, I (may - if not going ssh) use HDMI and a usb keyboa

[2016-03-25 19:22] #803 closed

[2016-03-30 21:14] pavoldomin opened #810 "mkrescue fails with UEFI and TSM"
* rear version (/usr/sbin/rear -V): Most likely any (tested with 1.17.2)
* OS version (cat /etc/rear/os.conf or lsb_release  -a): (very likely any), tested with SLES11 SP3
* rear configuration files (cat /etc/rear/site.conf or cat /etc/rear/local.conf):
[code]
the rest is the usual stuff
* Brief description of the issue
rear mkrescue (or mkbackup) fails with the message like
```2016-03-29 17:14:15

[2016-03-30 22:35] jeocampoar opened #812 "P2V Network errors"
# Relax-and-Recover (rear) Issue Template
Please fill in the following items before submitting a new issue:

* rear version (/usr/sbin/rear -V):
* OS version (cat /etc/rear/os.conf or lsb_release  -a):
* rear configuration files (cat /etc/rear/site.conf or cat /etc/rear/local.conf):
* Brief description of the issue
* Work-around, if any
[code]

I have problems whit the network configuration , on t

[2016-03-31 12:10] jsmeix commented on #801
Because there are no objections so far
I assume it is o.k. that I meged
https://github.com/rear/rear/pull/806 (error out if ebiso is used but no UEFI)
and
https://github.com/rear/rear/pull/807 (allow generic yes/no values for USING_UEFI_BOOTLOADER)
myself.

With both pull requests merged,
I consider this issue here as fixed.

[2016-03-31 12:10] #801 closed

[2016-04-03 15:15] gozora commented on #810
I just created pull request #813.
@pavoldomin can you please test, if it works as expected with TSM?

Thanks!

[2016-04-05 08:45] jsmeix opened #815 "'ebiso' < 0.2.2 may corrupt random files"
'ebiso' is used to make an UEFI bootable ISO image
of the rear recovery system mainly on openSUSE
and SUSE Linux Enterprise systems.

The ebiso autor @gozora found a captious bug in ebiso
versions before 0.2.2, see
https://github.com/gozora/ebiso/releases/tag/v0.2.2

It can cause (under certain circumstances) corruption
of random file by overwriting one byte with zero ('\0').
This overwrite always

[2016-04-05 10:41] jsmeix commented on #815
Regardless that ebiso is already fixed
I like to keep this issue open for some time
so that others can more easily notice it.

[2016-04-05 12:45] jsmeix commented on #810
FYI my tests with unchanged rear 1.18 on an UEFI system:

"rear -d -D mkrescue" fails with 'Could not copy initrd to UEFI'
because of that error in the log file:
<pre>
cp: error writing '/tmp/rear.kAFGCscGy27EXW4/tmp/mnt/EFI/BOOT/initrd.cgz': No space left on device
</pre>

The 128 kKiB (128000 KiB) rear 1.18 default is already
too small for me (I do not use thrid-party backup software).

I simply

[2016-04-05 13:00] gozora commented on #810
As the things become a bit unclear recently, did you use https://github.com/gozora/rear for your rests or some different commit.

[2016-04-05 13:37] jsmeix commented on #810
@gozora

Regarding that the virtual image must be aligned to 32MB
I suggest a (hopefully) cleaner and more fail-safe
and (hopefully) more obvious way how to do it
in your new 70_create_efibootimg.sh as follows
(excerpt):
<pre>
# function to calculate exact size of EFI virtual image (efiboot.img)
function efiboot_img_size {
    # Get size of directory holding EFI virtual image content.
    # The vi

[2016-04-05 13:40] jsmeix commented on #810
I did not you use https://github.com/gozora/rear for my tests above.
For my tests above I used the released rear 1.18 as is.
I liked to show that for my system 128 MiB is too small.
Perhaps the default minimal efi image size should be bigger?

But now I used your new 70_create_efibootimg.sh
with the changes in my other comment directly above
and that "just works" for me.

[2016-04-05 13:44] jsmeix commented on #810
FYI excerpts from my succesful "rear -d -D mkrescue" log
with your new 70_create_efibootimg.sh with the changes
in my other comment above:
<pre>
+ source /usr/share/rear/output/ISO/Linux-i386/70_create_efibootimg.sh
++ is_true 1
++ case "$1" in
++ return 0
+++ efiboot_img_size /tmp/rear.XO6CsKzXPsuGy5c/tmp/mnt
+++ efi_img_dir=/tmp/rear.XO6CsKzXPsuGy5c/tmp/mnt
+++ case "$( basename $UEFI_BOOTLOADER

[2016-04-05 13:53] jsmeix commented on #810
FYI why "du --block-size=32M -s" should work as expected
(at least on my system):

33554433 = ( 32 x 1024 x 1024 ) + 1

<pre>
# dd if=/dev/zero of=/tmp/foo count=1 bs=33554433
1+0 records in
1+0 records out
33554433 bytes (34 MB) copied, 0.0492154 s, 682 MB/s

# ls -lh /tmp/foo
-rw-r--r-- 1 root root 33M Apr  5 15:51 /tmp/foo

# du --block-size=32M -s /tmp/foo
2       /tmp/foo
</pre>

[2016-04-06 07:17] jsmeix commented on #810
How embarrassing - my code in https://github.com/rear/rear/issues/810#issuecomment-205808349 has bugs:

All fallback outputs must of course also
return from the efiboot_img_size function, i.e.
instead of things like
<pre>
test condition-to-proceed || echo fallback-value
</pre>
it must be
<pre>
test condition-to-proceed || { echo fallback-value ; return ; }
</pre>

Furthermore the
<pre>
    test $e

[2016-04-06 07:20] gozora commented on #810
@jsmeix Can you send me corrected function by mail?
I'll correct it ...

[2016-04-06 07:32] jsmeix commented on #810
@gozora

I will send you the corrected function.
I am sorry that my bad code caused trouble for you.
Yesterday I changed too much at once
and worse I did it too fast and worst I did not test
if my error handling code actually works :-(

Do you like to keep the current default 128MiB
minimum EFI virtual image size for shim and elilo
which is too small for me (i.e. it seems 128MiB
is too small for m

[2016-04-06 07:52] gozora commented on #810
Not a big deal, I could discover it as well, but like I mentioned before, your style of code is a bit hard to read for me I preffer ` if [[ ]]; then else ...` rather than `test`

For the default size, I guess that it doesn't matter what is the default size, the function should automatically calculate size needed for EFI virtual image, or am I wrong?

[2016-04-06 08:24] jsmeix commented on #810
Regarding what you called "default size":

Actually it is not a default size but a minimal size
(and its variable is named "..._min_sz" - cf. below)
so that a too big minimal size matters because
the image could never be smaller than that.
A too big minimal size wastes space for the user, cf.
https://github.com/rear/rear/pull/813#issuecomment-205191789

Regarding my coding syntax style:

Feel free

[2016-04-06 08:38] gozora commented on #810
Yes, sorry it is definitely not default size, my fault. It is clear to me what efi_img_min_sz actually does.
What I don't understand is why you want to increase it to 160MiB when function it self can determine what the right size is? I mean when 128MiB are not enough for your SLES12, this function should return 160MiB, right?

[2016-04-06 08:44] gozora commented on #810
And for the coding style, we don't need to change anything, I told it is hard for me not impossible ;-).
For the descriptive and meaningful names I can only agree! (however I sometimes tend to forget to keep this rule)

[2016-04-06 08:50] jsmeix commented on #810
You are absolutely right.

But the I don't understand why there is a minimal size at all
(i.e. I do not understand your https://github.com/rear/rear/pull/813#issuecomment-205200296).

Shouldn't the "du" command determine what the right size is
in all cases i.e. for shim and elilo and also for grub?

If the "du" command determines the right size in any case
we could simply rely on it and remove all

[2016-04-06 08:57] gozora commented on #810
hmmm, actually you are right!
All what we need is:
1. determine size of staging directory ($TMP_DIR/mnt/)
2. and align it to 32 MiB
3. return the size to `dd`

Is this what you meant?

[2016-04-06 09:10] jsmeix commented on #810
Yes, and here my current stripped down 70_create_efibootimg.sh
(that still works for me with same results as before):
<pre>
# 70_create_efibootimg.sh
is_true $USING_UEFI_BOOTLOADER || return    # empty or 0 means NO UEFI

# Calculate exact size of EFI virtual image (efiboot.img):
# Get size of directory holding EFI virtual image content.
# The virtual image must be aligned to 32MiB blocks
# theref

[2016-04-06 09:17] gozora commented on #810
This is what call code optimization!
Will update pull request!

[2016-04-06 11:09] jsmeix commented on #810
This issue should be fixed with https://github.com/rear/rear/pull/816

[2016-04-06 11:09] #810 closed

[2016-04-07 14:40] dl5rcw commented on #808
Solved by adding
`LOAD_MODULES( cherry_hid ) `
to my local.conf.
I disconnected my keyboard when I executed the rear mkrescue via SSH or cronjob. The module was not loaded.
In order to find all kinds of available kernel modules of the hid-* (like hid-cherry), I searched my system by executing
`find  / -name "hid-*.ko" | sed 's/.*\///' | tr '-' '_' |  sed 's/\(.*\)\..*/\1/' | tr '\n' ' ' > /etc/rea

[2016-04-07 14:40] #808 closed

[2016-04-07 22:13] jeocampoar commented on #812
have a Physical server whith bond interfaces , I Try to migrate to Vmware virtual machine, but the interfaces dont work

[2016-04-08 07:46] jsmeix commented on #810
@pavoldomin
I would greatly appreciate it if you could test
whether or not the current rear master
with full automated UEFI image size calculation
(implemented in the new 70_create_efibootimg.sh that replaced
the whole stuff before, cf. https://github.com/rear/rear/pull/816/files)
"just works" for you.

[2016-04-08 12:20] jsmeix commented on #815
There is another ebiso bugfix update:

ebiso version 0.2.3.1 RPM packages
are available from the same repositories
as mentioned above in https://github.com/rear/rear/issues/815#issue-145926677

For details see the ebiso upstream issues
https://github.com/gozora/ebiso/issues/6
https://github.com/gozora/ebiso/releases/tag/v0.2.3
https://github.com/gozora/ebiso/issues/7
and the openSUSE bugzilla issu

[2016-04-08 14:07] #660 closed

[2016-04-09 12:24] arielrolfo opened #817 "ISO image not booting on IBM Power 8 / SLES 11.4"
- rear version (/usr/sbin/rear -V): Relax-and-Recover 1.18 / Git
- OS version (cat /etc/rear/os.conf or lsb_release  -a):
  LSB Version:    core-2.0-noarch:core-3.2-noarch:core-4.0-noarch:core-2.0-ppc64:core-3.2-ppc64:core-4.0-ppc64:desktop-4.0-noarch:desktop-4.0-ppc32:desktop-4.0-ppc64:graphics-2.0-noarch:graphics-2.0-ppc32:graphics-2.0-ppc64:graphics-3.2-noarch:graphics-3.2-ppc32:graphics-3.2-pp

[2016-04-09 14:09] arielrolfo commented on #817
One lead... from rear.log file I've got:
...
...
+ source /usr/share/rear/conf/Linux-ppc64.conf
....

that file has:
...
...
COPY_AS_IS=(
"${COPY_AS_IS[@]}"
/usr/lib/yaboot/yaboot
/usr/lib/yaboot/ofboot
/usr/lib/yaboot/yaboot.debug
/usr/lib/yaboot/addnote
)
...
...

But there is no "/usr/lib/yaboot/yaboot" file, instead I see this: "/lib/lilo/pmac/yaboot"

[2016-04-10 03:44] arielrolfo commented on #817
well.... momentarily solved by editing "/usr/share/rear/output/ISO/Linux-ppc64/30_create_yaboot.sh" and skip returning if /etc/yaboot.conf doesn't exist, because if it returns it will never hit the last line of that file which injects "etc=etc ppc=ppc" in the iso image creation.

[2016-04-11 07:40] jsmeix commented on #817
Can you provide a diff what exactly you changed
in what files so that it is easier and more clear
what you did to make it work for your particular case.

I have basically zero personal knowledge about the PPC architecture
but when I know what exactly you changed in what files
to make it work for your particular case, I could perhaps
derive a generally working solution on my own
or I could show you

[2016-04-11 12:33] arielrolfo commented on #817
hello, see below but it's only a temporary workaround to get over this:

[code]
it basically allows the script to continue even when there is no /etc/yaboot.conf file in my system, at the end of this script it places the "ppc" and the "etc" in the iso image, otherwise it was not readable by my P8 system.

I'm not sure what was the rationale behind that "if" at the beginning.

[2016-04-11 12:49] jsmeix commented on #817
@k0da
could you have a look what goes on here.

Many thanks in advance!

[2016-04-11 12:59] k0da commented on #817
@jsmeix on SLES yaboot is located at /lib/lilo/chrp/yaboot.chrp

[2016-04-11 19:01] pavoldomin opened #818 "missing nfs mountpoint after the recovery"
# Relax-and-Recover (rear) Issue Template

After the recovery mountpoints for NFS mounts are missing. This will make nfs shares not mounted after the recovery (if they are referenced from fstab). Related to #619.

Particularly, in prep/default/40_save_mountpoint_details.sh, the collection of nfs mountpoints is explicitly excluded.
I assume there is reason for it, but cannot figure out which.

Work

[2016-04-12 08:18] phracek opened #819 "Recover does not work if networking is on different interface than eth0"
# Relax-and-Recover (rear) Issue Template

Please fill in the following items before submitting a new issue:

* rear version (/usr/sbin/rear -V): rear-1.17.2
* OS version (cat /etc/rear/os.conf or lsb_release  -a): RHEL
* rear configuration files (cat /etc/rear/site.conf or cat /etc/rear/local.conf):
[code]
I created backup and save it to nfs. Recover should start after system reboot. When I calle

[2016-04-12 12:55] arielrolfo opened #820 "Warning message "the system won't boot" at the end of restore is not correct"
# Relax-and-Recover (rear) Issue Template

Please fill in the following items before submitting a new issue:
- rear version (/usr/sbin/rear -V):

Relax-and-Recover 1.18 / Git
- OS version (cat /etc/rear/os.conf or lsb_release  -a):

LSB Version:    core-2.0-noarch:core-3.2-noarch:core-4.0-noarch:core-2.0-ppc64:core-3.2-ppc64:core-4.0-ppc64:desktop-4.0-noarch:desktop-4.0-ppc32:desktop-4.0-ppc64:gra

[2016-04-14 12:52] gdha commented on #819
@phracek are you sure the eth0/1 was not working before you started the recovery? Did you try ping? You could check the script defining the network interfaces - `/etc/scripts/system-setup.d/60-network-devices.sh`

Furthermore, what was the content of `/etc/rear/rescue.conf` file (in recovery mode only).

[2016-04-14 14:43] gdha commented on #818
Hi Pavol - good question: what was the reason? I cannot remember - is there any?
@rear/owners What are your thoughts?

[2016-04-14 14:45] gdha commented on #820
@jsmeix Could you take this issue with you as you already have a similar case (issue #817)

[2016-04-15 08:46] jsmeix commented on #820
I cannot do much here myself because I have basically
zero personal knowledge about the PPC architecture
(cf. https://github.com/rear/rear/issues/817#issuecomment-208204721)
which means I cannot fix the yaboot related code myself
but I will take this issue at least as a "caretaker".

[2016-04-15 09:05] jsmeix commented on #818
Because in prep/default/40_save_mountpoint_details.sh
there are no comments that explain _why_ certain
things are excluded from the "mount" output,
nobody (except the one who made that code ;-)
can know about the reasoning behind
cf.

Regardless of the reasoning behind I think the command
<pre>
... mount | grep -vE '(cgroup|fuse|nfs|/sys/|REAR-000)' ...
</pre>
is wrong because it excludes any "mou

[2016-04-15 09:17] jsmeix commented on #817
@k0da
regarding "on SLES yaboot is located at /lib/lilo/chrp/yaboot.chrp":

In https://github.com/rear/rear/issues/817#issuecomment-207794210 @arielrolfo reported "I see this: /lib/lilo/pmac/yaboot"

The lilo RPM package of SLE-11-SP4 contains both
/lib/lilo/chrp/yaboot.chrp and /lib/lilo/pmac/yaboot
with same size and also "strings" results the same
for both but "diff -s" tells they are different

[2016-04-15 09:24] k0da commented on #817
@jsmeix the one @arielrolfo mentioned is for power mac. On IBM Power systems we need to use chrp one

[2016-04-15 09:24] jsmeix commented on #817
@arielrolfo
in general when files are missing in the rear recovery system
you can specify them in /etc/rear/local.conf via the
COPY_AS_IS and REQUIRED_PROGS array variables
as described in  /usr/share/rear/conf/default.conf
for example like
<pre>
REQUIRED_PROGS=( "${REQUIRED_PROGS[@]}" additional_program1 additional_program2 )
COPY_AS_IS=( "${COPY_AS_IS[@]}" /path/to/file1 /path/to/file2 )
</pre>

[2016-04-15 09:44] jsmeix commented on #818
FYI how one could exclude mounted filesystem types
by using the newer "findmnt" command and output only
the mountpoint directories, e.g.:
<pre>
findmnt -nrv -o TARGET -i -t 'nfs,cgroup'
</pre>

But "findmnt" is not available on older systems
so that rear may use mount as fallback as I did in
usr/share/rear/layout/save/GNU/Linux/23_filesystem_layout.sh

[2016-04-15 10:15] didacog commented on #818
Hello!

Maybe with something like this should help:

mount -l -t "$(echo $(cat /proc/filesystems | grep -v nodev) | tr ' ' ',')"

And also works for older systems

[2016-04-15 11:59] arielrolfo commented on #817
@k0da I'm using a Power System E870
@jsmeix I know that already, no issues with that, this is not related to it.

[2016-04-15 12:09] arielrolfo commented on #817
@k0da see this pls https://www.debian.org/ports/powerpc/inst/yaboot-howto/ch1.en.html it says _"...Yaboot is a bootloader for PowerPC computers (NewWorld PowerMacs and IBM CHRP)..."_

[2016-04-15 12:11] k0da commented on #817
@arielrolfo yes, the sources are the same but binaries are different. Please use chrp one

[2016-04-15 12:12] arielrolfo commented on #817
@k0da great, how do I pick that one ?

[2016-04-15 12:19] k0da commented on #817
It should come with lilo package
# rpm -ql lilo | grep yaboot.chrp
/lib/lilo/chrp/yaboot.chrp

[2016-04-18 10:28] jsmeix commented on #791
Some interesting information what I found in
an openSUSE bug about parted behaviour:

In https://bugzilla.opensuse.org/show_bug.cgi?id=967375
there is (excerpt):
<pre>
yast fails to find existing partitions

YaST is right, the entry for /dev/sda14
is missing in /proc/partitions.

Likely this is due to the fact that
calling parted for printing the partition table
triggers a udev rescan of the compl

[2016-04-19 11:56] gdha commented on #818
@didacog nice trick.

However, it wouldn't fix the NFS mounted file-systems. Perhaps, to catch all mounted file-systems (including the NFS ones) a simple `ls -ld $(mount | grep -vE '(cgroup|fuse|nfsd|/sys/|REAR-000)' | awk '{print $3}')` could do the trick?
Only change `nfs` to `nfsd` and it is fixed IMHO

[2016-04-19 13:57] jsmeix commented on #818
@pavoldomin
first and foremost I like to understand the actual issue here.

In your initial comment you wrote:
<pre>
After the recovery mountpoints for NFS mounts are missing.
...
Work-around is trivial: mkdir manually.
</pre>

Only a blind guess what I think the issue could be:

Usually directories should be restored from the backup.
In general what is not in the backup does not get restored.
Now

[2016-04-19 17:35] didacog commented on #818
@gdha thanks! ;)

If the problem is the exclude of basedir, maybe you can try using **'/some_path/some_mount_point/*'** in the exclude array definition, at least you can try using it as temporary workarround. :-P

[2016-04-25 13:06] pavoldomin opened #821 "ReaR + TSM: btrfs subvolumes excluded by default from restore"
* rear version (/usr/sbin/rear -V): 1.18
* OS version (cat /etc/rear/os.conf or lsb_release  -a): SLES11SP3
* rear configuration files (cat /etc/rear/site.conf or cat /etc/rear/local.conf):
[code]
* Brief description of the issue: TSM is not including automatically for btrfs subvolumes as those are excluded from the recreation, to prevent creating them as normal btrfs volumes (see 548965e).

* Wor

[2016-04-26 08:13] gdha commented on #821
@jsmeix Any idea how we can fore-come this (auto-excluding btrfs  /var subvolume)

[2016-04-26 12:03] jsmeix commented on #821
There is nothing at all what I could do regarding
issues with third-party backup tools.

When the issue also hapens with 'tar'
I will have a look.

@pavoldomin
does the issue also happen with 'tar'?

As far as I understand the comments in default.conf
and as far as I remember how it works with 'tar'
items in EXCLUDE_RECREATE are added to EXCLUDE_BACKUP
but items in BACKUP_PROG_INCLUDE take precede

[2016-04-26 13:50] jsmeix commented on #821
The issue (or at least a similar issue with same result)
also happens with 'tar'.

With
<pre>
BACKUP_PROG_INCLUDE=( '/var/spool/*' )
EXCLUDE_RECREATE=( "${EXCLUDE_RECREATE[@]}" 'fs:/var/spool' )
</pre>
one gets the whole content of /var/spool/* in the backup.tar.gz
(during "rear mkbackup")
but
one does not get the content of /var/spool/* restored
(during "rear recover").

In 61_exclude_from_restor

[2016-04-26 13:52] jsmeix commented on #821
I need to update the btrfs example config files
/usr/share/rear/conf/examples/SLE12-btrfs-example.conf
/usr/share/rear/conf/examples/SLE12-SP1-btrfs-example.conf

[2016-04-26 14:06] jsmeix commented on #821
And this whole automagic transitive excluding
needs to be much better described in default.conf

I will do a pull request after feedback from @pavoldomin

[2016-04-26 14:21] pavoldomin commented on #821
Sorry for late response, our exchange decided to move rear emails to junk folder, how rude.

Thanks @jsmeix. I'll test this tomorrow. For ```NETFS``` backup I still should keep subvols in ```BACKUP_PROG_INCLUDE```, right? Just remove them from ```EXCLUDE_RECREATE```

[2016-04-26 14:30] jsmeix commented on #821
@pavoldomin
yes,
you must list those btrfs subvolumes in BACKUP_PROG_INCLUDE
that you want to have in backup.tar.gz during "rear mkbackup"
but you do not need any btrfs subvolumes in EXCLUDE_RECREATE

[2016-04-26 17:16] pavoldomin commented on #818
Sorry, again the problem where this thread was found in trash :)

What is really happening here is,  that ```/hana/shared``` contains nfs mountpoint referred from ```/etc/fstab```, but as we exclude ```/hana/shared``` from the backup, mountpoint ```/hana/shared/SID``` is not created (and as a consequence application cannot start, because it environment links to that nfs mountpoint).

I think the s

[2016-04-27 06:11] pavoldomin commented on #810
Found in trash again. I've tested it already, works as charm.

[2016-04-27 07:01] jsmeix commented on #810
@pavoldomin
many thanks for your feedback!

I was already a bit wondering why you didn't reply,
thinking about things like you are perhaps on vacation
but actually it was some proprietary non-free software
that made its own false decisions (https://github.com/rear/rear/issues/821#issuecomment-214761409)
about your incoming mail - presumably with the very best
of intentions to protect you from poss

[2016-04-27 12:47] jsmeix commented on #821
Ha!

Now I even know why it had worked
with my initial btrfs support implementation
with entries in /etc/rear/local.conf like
<pre>
EXCLUDE_RECREATE=( ... 'fs:/var/spool' ... )
</pre>
to get the whole content of /var/spool/* restored
from the backup.

I was sure that I had tested it at that time
and that it had worked without missing
stuff during backup restore.

My initial btrfs support implement

[2016-04-27 19:15] John-Leone opened #822 "No code has been generated to restore device /dev/md0 (raid)"
Version
Relax-and-Recover 1.17.2 / Git

OS_VENDOR=RedHatEnterpriseServer
OS_VERSION=6
This is an IBM Power7 server

-local.conf.
OUTPUT=ISO
OUTPUT_URL=nfs://167.69.63.74/dbar
BACKUP=NETFS
BACKUP_URL=nfs://167.69.63.74/dbar
SSH_ROOT_PASSWORD="redhat"
BACKUP_PROG_EXCLUDE=("${BACKUP_PROG_EXCLUDE[@]}" '/media' '/var/tmp' '/var/crash' '/waslogs' '/wasdumps')
NETFS_KEEP_OLD_BACKUP_COPY=

Trying to recov

[2016-04-28 09:42] pavoldomin commented on #821
Hi,

I've tested it and it is not working with TSM.
I also found a reason: in ```verify/TSM/default/40_verify_tsm.sh``` the default filesystems included in TSM restore plan are taken from ```disklayout.conf``` by
[code]
This wont match btrfs subvolumes - as those are listed as
[code]

I am afraid decision which BTRFS volumes are included in restore by default requires bit of redesign of the code.

[2016-04-28 12:50] jsmeix commented on #821
@pavoldomin
have you also tested it with 'tar' (i.e. NETFS backup).
If yes, does it work for you with tar/NETFS ?

Regarding TSM:

First a general question about TSM:

Can TSM operate only on filesystems (i.e. mountpoints)
or can TSM operate also on any directories (like 'tar')?
In other words:
Does TSM save avd restore whole filesystems (like 'dd')
or does TSM save and restore files and directori

[2016-04-28 13:01] jsmeix commented on #821
In verify/TSM/default/40_verify_tsm.sh
<pre>
# Use the included_mountpoints array derived from the disklayout.conf to determine the default
# TSM filespaces to include in a restore.
</pre>
is perfectly o.k. to have a reasonable default behaviour.

But I fail to find where the user can specify what he wants to have
if the default behaviour is not the right one for his needs.

From my current (total

[2016-04-28 13:44] jsmeix commented on #821
Right now I noticed in https://github.com/rear/rear/issues/821#issuecomment-215369140
<pre>
We are using workarounds with the TSM backup already
...
Without them, the critical filesystems like '/var'
are not even backed up.
</pre>

This means TSM does not support things like
<pre>
BACKUP_PROG_INCLUDE=( '/var/spool/*' '/var/log/*' )
</pre>
in /etc/rear/local.conf which is no big surprise
because de

[2016-04-28 13:59] pavoldomin commented on #821
That the case, from what I understand. TSM takes everything it includes/excludes simply from ^fs entry in the disklayout and ignores whatever backup options we define (I defined them, because I wont to have more or less same config everywhere).

Thats why I assumed that TSM code needs some redesign.

NETFS restore is working fine when I cut subvols from ```EXCLUDE_RECREATE```.

[2016-04-28 14:28] jsmeix opened #823 "enhance TSM support to specify what to backup and restore"
Up to ReaR version 1.18 when using TSM
there is no way for the user to explicitly specify
what TSM should save in the backup (during "rear mkbackup") and
what TSM should restore from the backup (during "rear recover")
when the default behaviour is not what he actually needs.

Ideally TSM should support already existing "BACKUP"
options in default.conf as far as applicable, e.g.

<pre>
BACKUP_PROG_

[2016-04-28 14:31] jsmeix commented on #821
@pavoldomin
many thanks for your testing that it works with tar/NETFS.

I will do a pull request that fixes my btrfs example config files.

Regarding the TSM issue I submitted a new separated
issue https://github.com/rear/rear/issues/823 to
"enhance TSM support to specify what to backup and restore"

[2016-04-29 05:52] gdha commented on #822
@John-Leone could give some more background on the disk devices and what does `/var/lib/rear/layout/disklayout.conf` contain?

[2016-04-29 09:09] jsmeix commented on #821
With https://github.com/rear/rear/pull/824 this issue here is solved
at least for the tar/NETFS backup method.

Regarding TSM there is https://github.com/rear/rear/issues/823

[2016-04-29 09:09] #821 closed

[2016-04-29 14:32] John-Leone commented on #822
Thanks in advance for your help.

Hardware: IBM Power 7
We use two disks the configure software raid 1 to create a /dev/md0 array.
This particular server has two different md devices configured, one for the OS and the second for user data.

RESCUE xlabrhel6:/var/lib/rear/layout # cat disklayout.conf
raid /dev/md0 metadata=1.1 level=raid1 raid-devices=2 uuid=91c89a9a:bbe051ad:63f43b3a:05a9b51f devi

[2016-05-02 13:27] gdha commented on #822
@John-Leone rear-1.17.2 has no knowledge around **dasd** devices. It was introduced in rear-1.18, but not yet announced as it was not yet production proof. You could try rear-1.18 and see if it work better for you. And, if it not yet fully correct help us to get it right.

[2016-05-02 13:45] John-Leone commented on #822
Hello,
Thank you.  We can try rear-1.18.
Does 1.18 work with software raid?
Thanks,
John

[2016-05-03 08:40] gdha commented on #822
@John-Leone sure it does. Keep us updated of the results.

[2016-05-04 14:10] jsmeix opened #825 "License in rear.spec must be "GPL-2.0+ and GPL-3.0""
Currently rear contains many files
with explicit GPL-2.0+ or GPL-2.1+ licensing notes
of the form
<pre>
either version 2 of the License, or (at your option) any later version
</pre>
or
<pre>
either version 2.1 of the License, or (at your option) any later version
</pre>
so that some (older) rear files are still "GPL-2.0+"
but some (newer) rear files are "GPL-3.0"
according to the current COPYING f

[2016-05-04 14:15] jsmeix commented on #825
@gdha I assigned it to you because you did https://github.com/rear/rear/pull/739

[2016-05-06 02:57] tobiaspal commented on #602
@gdha: try running the mdadm command prefixed with `IMSM_NO_PLATFORM=1`. Can check the mdadm manual for details.

[2016-05-06 07:35] gdha commented on #602
@tobiaspal can you help with improving the code?

[2016-05-10 00:49] tharrisone opened #827 "Error: file '/rear-kernel' not found:"
* rear version (/usr/sbin/rear -V):
Relax-and-Recover 1.18 / Git

* OS version (cat /etc/rear/os.conf or lsb_release  -a):
Description:	Fedora release 23 (Twenty Three)

* rear configuration files (cat /etc/rear/site.conf or cat /etc/rear/local.conf):
OUTPUT=ISO
BACKUP=NETFS
BACKUP_URL="nfs://10.10.10.114/volume1/SYNDRV/MASTER/BKUPS/REAR/"
GRUB_RESCUE=y
GRUB_RESCUE_PASSWORD="grub.pbkdf2.sha512.100

[2016-05-10 08:36] erkannt opened #828 "Unknown -e flag with genisoimage under Debian"
* Relax-and-Recover 1.18 / Git
* Debian GNU/Linux 8.4 (jessie)
* Dell Poweredge R330

Built and installed deb-package from current master with `make deb OFFICIAL=1.18`.
Tried running `rear -v mkrescue` with the following conf:

[code]
This fails when creating ISO image.

[code]

This error has come up previously on OpenSUSE #804. Here it was solved by using ebiso. But this is on Debian where genis

[2016-05-10 08:41] gozora commented on #828
@erkannt what version of genisoimage are you using?
I'm running `genisoimage 1.1.11` on my Ubuntu and this one should be fine ...

[2016-05-10 08:45] erkannt commented on #828
I'm also running `genisoimage 1.1.11 (Linux)`.
The man page and -help both don't mention any `-e` option.

[2016-05-10 08:49] gozora commented on #828
that is really strange, because if I run:
[code]
No ambiguous warning ...

Do you have `-efi-boot` option available?

[2016-05-10 08:55] erkannt commented on #828
[code]
[code]
Very strange indeed.

[2016-05-10 09:03] gozora commented on #828
All this EFI boot wars drives me nuts, I personally don't see a reason for such big difference despite same version number is used.
I guess Ubuntu guys did little something to make EFI boot work on their version. Unfortunately I don't have currently any Debian distro to check deeper.
Maybe you can try to compile ebiso? (we don't have deb packages yet, as I thought that EFI boot works fine on Debia

[2016-05-10 09:07] gozora commented on #828
One more thing I just realized ... You are using `OUTPUT=USB` ...
Can you just test with `OUTPUT=ISO` ?

[2016-05-10 10:12] erkannt commented on #828
`OUTPUT=ISO` results in the same error.
When trying to determine the reason for the difference between Ubuntu and Debian I found the following workaround. This issue also appeared in Mondo and some stage apperently.

http://trac.mondorescue.org/ticket/782

I manually changed `-e` to `--eltorito-boot` in `/usr/share/rear/output/ISO/Linux-i386/82_create_iso_image.sh`.

Would it be sensible to includ

[2016-05-10 10:18] gozora commented on #828
That is interesting, however I'm not sure that `--eltorito-boot` does the same thing as `--efi-boot`...
Did you try to boot from ISO image created using `--eltorito-boot` option?

[2016-05-10 10:20] gozora commented on #828
and maybe one more question that I should ask at the very begging. :-)
Are you using `EFI boot` or `Legacy boot`  on your Dell Poweredge R330?

[2016-05-10 15:47] erkannt commented on #828
I currently am using EFI boot, but have no qualms is switching to BIOS boot.

I was able to boot from the created ISO when mounting it as a virtual drive via iDRAC.
I was not able to boot from the created USB Drive. It didn't show up as a boot option.

[2016-05-10 20:00] gozora commented on #828
If you really can switch to legacy boot, my humble advice would be DO SO AND NEVER LOOK BACK ;-), you will save lot of trouble to your self ...
I did a bit of experimenting with ReaR on USB and observed that `rear format` creates ext/btrs like file system during initialization and as native EFI FS is FAT, I'd say that ReaR does not support EFI boot on USB device.
@jsmeix @gdha @schlomo can you con

[2016-05-11 06:46] viper1986 opened #829 "The savefs command could not retrieve the "save sets" from this client"
[rear-itehana01.zip](https://github.com/rear/rear/files/258693/rear-itehana01.zip)

# Relax-and-Recover (rear) Issue Template

Please fill in the following items before submitting a new issue:

* rear version (/usr/sbin/rear -V): Relax-and-Recover 1.17.1 / Git
* OS version (cat /etc/rear/os.conf or lsb_release  -a):
LSB Version:    core-2.0-noarch:core-3.2-noarch:core-4.0-noarch:core-2.0-ppc64:cor

[2016-05-11 07:20] viper1986 commented on #829
I just find the solution.
Missing package glibc-locale 32bit version.

Close the ticket please.

[2016-05-11 07:44] jsmeix commented on #828
I am afraid my knowledge in general about UEFI
is very limited which means in general I cannot
answer questions regarding UEFI - usually it is me
who has questions about UEFI.

From my very limited own experience with UEFI
I do fully agree with @gozora that if one can use
traditional BIOS then use BIOS (and simply relax and wait
until UEFI is generally well supported -  except you really like
to d

[2016-05-11 08:10] gozora commented on #828
@jsmeix
To settle things down I'm very far from being UEFI expert and to my top UEFI knowledge belongs being able to use pager when displaying help (it is `help -b` btw) and changing colors (`cls <0-9>`) ;-).

From what I've understood UEFI recognizes (by default) only FAT file systems. Means that if you plug in any device that does not contain FAT and trigger `map` in UEFI shell, you will not abl

[2016-05-11 08:21] jsmeix commented on #829
In general I am interested in any issues with
Relax-and-Recover on SUSE systems.

In this case I like to understand why the
package glibc-locale-32bit was missing.
Shouldn't it be normally always installed?

I am not a glibc expert but I wonder why
glibc-locale stuff is needed at all by rear
because /usr/sbin/rear contains
<pre>
# Make sure that we use only English:
export LC_CTYPE=C LC_ALL=C LANG

[2016-05-11 08:36] jsmeix commented on #828
I love "git blame" for "assignment of guilt" ;-)
<pre>
$ git blame usr/share/rear/lib/format-workflow.sh
...
9fa2faaf (Gratien D'haese  2015-06-05 16:43:13 +0200  4) # Usage: rear -v format -- -h /dev/<usb-disk>
9fa2faaf (Gratien D'haese  2015-06-05 16:43:13 +0200  5) # By default 1 partition will be created with ext3 format and label REAR-000
9fa2faaf (Gratien D'haese  2015-06-05 16:43:13 +0200

[2016-05-11 08:46] viper1986 commented on #829
I think that 32bits library is not normally instaled on ppc64 SUSE.
I don't install this system, so I don't know that this package is required.

You tested this on x86_64, but I have PPC64. I don't have this error for x86_64.

"Configure client from the Networker site"?
I must configure host which I want to backup via Networker on Networker serwer.
Add IP address and hostname ( witch FQDN ).
Clien

[2016-05-11 09:48] jsmeix commented on #829
Many thanks for your prompt reply!

I will try if I can somehow reproduce it...

[2016-05-11 10:06] gdha commented on #828
@jsmeix @gozora UEFI USB booting is not supported for the moment - I started with it (the format part only), but stopped as there was no real reason to continue with this as `ebiso` could do the job for SLES. See also #603.

[2016-05-11 11:29] wmaeg opened #830 "Requires: syslinux"
I got this error when try to install rear -1.18-3.el6.i686.rpm on oracle Linux 6.7
How can i install  syslinux ? to solve this !
Pleas advise

[root@oralnx6test RearRedHat_RHEL-6]# yum install rear-1.18-3.el6.i686.rpm
Loaded plugins: refresh-packagekit, security, ulninfo
Setting up Install Process
Examining rear-1.18-3.el6.i686.rpm: rear-1.18-3.el6.i686
Marking rear-1.18-3.el6.i686.rpm to be insta

[2016-05-11 12:47] jsmeix commented on #828
@gdha
many thanks for your prompt reply.

FYI:
I did not find https://github.com/rear/rear/issues/603 because I have no idea
how I could find related but not implemented GitHub issues
because such issues are not mentioned in the git commit log
or in a source file (as long as nothing is implemented).

[2016-05-11 12:47] jsmeix commented on #593
For completeness:
Issue https://github.com/rear/rear/issues/603 is the one about
"making the USB disk EFI bootable" that is mentioned above.

[2016-05-11 12:55] jsmeix commented on #603
@gdha
I wonder if issues with  "looking for sponsorship"
should be kept open until it is implemented
because otherwise I think in parctice nobody
can find them.

When one clicks at the right under "Labels"
onto "looking for sponsorship" one gets a list
filtered by
<pre>
is:open label:"looking for sponsorship"
</pre>
which means that closed issues
are excluded by default.

To get all issues with "l

[2016-05-11 13:47] gdha commented on #603
@jsmeix I tend to add *looking for sponsorship* issues on our web pages (http://relax-and-recover.org/support/sponsors) and then close these as they will be kept open forever. No-one is sponsoring anyhow.

[2016-05-11 18:21] gdha commented on #830
`yum install rear syslinux` will do the trick, or you can first install syslinux also.

[2016-05-11 23:49] John-Leone commented on #822
@gdha Thank you again.  rear-1.18 worked!
I have one more quick question.  If you use rear to migrate a server does the restore target need to be on the same subnet for the recovery to work? Or can the network files be updated during the recovery.

[2016-05-12 05:52] gozora opened #831 "USB UEFI boot support"
Firs of all sorry for not using the template (not that I'd be a rebel or something ;-)), but this is rather a question about rear code.
After checking the issue #828 , I've thought about helping with UEFI USB boot support.

I've checked existing code for UEFI USB written by @gdha and realized that most of the work is already done. Only thing left is fill UEFI (FAT) partition with boot loader and c

[2016-05-12 07:00] akshaysarraf2016 opened #832 "Unable to Restore Backup"
# Relax-and-Recover (rear) Issue Template

Please fill in the following items before submitting a new issue:

* rear version (/usr/sbin/rear -V):  Relax-and-Recover 1.17.2 / Git
* OS version (cat /etc/rear/os.conf or lsb_release  -a): RHEL 6.7
* rear configuration files (cat /etc/rear/site.conf or cat /etc/rear/local.conf):
OUTPUT=ISO
GRUB_RESCUE=1
* Brief description of the issue

**Issue** - I w

[2016-05-12 07:37] jsmeix commented on #831
Offhandedly (i.e. without any thorough analysis right now)
I would prefer to implement all what is needed for that
particular functionality in one single block of code
(regardless if that block of code is added to an
existing script or added via a separated script).

For my generic reasoning why I would prefer it this way
remember how we both together achieved to greately simplify
and cleanup the

[2016-05-12 07:38] gdha commented on #832
On the source system you should also add `BACKUP=TSM` to the `local.conf` file and make sure you have a full backup made by TSM. Use the newly created rear rescue image to boot on the target system and you are ready to go.

[2016-05-12 07:41] jsmeix commented on #831
I assign that issue to me.
Regardless that I am not at all a UEFI expert
I will care about the issue to get it into rear
(just like https://github.com/rear/rear/pull/816).

[2016-05-12 07:50] gdha commented on #831
@gozora @jsmeix As far I can remember the `rear format --efi` works already (and is part of the *format* workflow). What is not yet done is as @gozora mentioned is adding boot code + and executables. New code (scripts) should be added to directory `usr/share/rear/output/USB/Linux-i386/
`, but keep in mind that you will have 2 partitions now on the USB device (one vFAT and another ext3) - so you ne

[2016-05-12 07:55] jsmeix commented on #832
And see usr/share/rear/conf/default.conf
in particular see therein the "BACKUP=TSM stuff".

FYI
why you got that
<pre>
Please start the restore process on your backup host.
Make sure that you restore the data into /mnt/local
instead of '/' because the hard disks of the recovered
system are mounted there.
</pre>
text see also usr/share/rear/conf/default.conf that contains
<pre>
# default backup and

[2016-05-12 08:05] gozora commented on #831
Yes, correct `rear format --efi` works as charm.
Yesterday I was able to manually construct UEFI bootable USB and successfully run restore. As @jsmeix mentioned I'll try to put together some code and create pull request for further discussion.

Thanks for your inputs so far!

[2016-05-12 09:35] tcerna commented on #819
Hi Gratien,

I tried to reproduce this problem. I run rear mkbackup. Network interface was tested, eht1 was working and it was possible to ping this machine.
[code]

After this system was rebooting. Recovery mode was started and I run "rear recover".
[code]

I saw inside `ip address` and network interfaces was down.
[code]

See /etc/rear/rescue.conf:
[code]

See /etc/scripts/system-setup.d/60-netw

[2016-05-12 09:50] gdha commented on #819
@tcerna the `rescue.conf` contained the setting `USE_DHCLIENT=y` which means that the variable was set during the rear run. I guess there was an issue with `dhclient` - did you see errors in the `/var/log/messages` file?

[2016-05-12 10:21] tcerna commented on #819
@gdha There is only one error in /var/log/messages:

RESCUE p1:~ # grep "ERROR" /var/log/messages
May 12 02:17:45 p1 rear[811]: ERROR: Mount command 'mount -v -t nfs -o rw,noatime 10.8.174.175:/mnt/rear/ /tmp/rear.FCQ0I4V7iAHwKYQ/outputfs' failed.

[2016-05-12 11:53] jsmeix commented on #823
https://github.com/rear/rear/pull/833 mitigates the problem where the btrfs subvlums are
not restored by default via TSM.

Now by default both 'fs' and 'btrfsmountedsubvol' entries
in disklayout.conf are used to generate the default TSM
filespaces to include in a restore.

This mitigates https://github.com/rear/rear/issues/821
because now a better default is used but this does
not yet implement ht

[2016-05-12 11:56] jsmeix commented on #821
https://github.com/rear/rear/pull/833 mitigates the problem where the btrfs subvlums are not restored by default via TSM.

Now by default both 'fs' and 'btrfsmountedsubvol' entries
in disklayout.conf are used to generate the default TSM
filespaces to include in a restore.

This mitigates this issue here because now a better default is
used but this does not yet implement https://github.com/rear/re

[2016-05-12 12:24] pavoldomin commented on #821
Hi Johannes

I should have another opportunity to test soon (within couple of weeks I hope). Of course I'll inform you when done.

Thanks for this commit!

Kind regards

Pavol

[2016-05-12 13:34] jsmeix commented on #821
For clarification:

It was @Joeri-MS who did the work in https://github.com/rear/rear/pull/833

I only merged his pull request.

[2016-05-13 00:28] John-Leone opened #835 "Migrating with rear"
[root@xjlappm1d init.d]# rear -V
Relax-and-Recover 1.17.1 / Git

[root@xjlappm1d init.d]# cat /etc/redhat-release
Red Hat Enterprise Linux Server release 6.7 (Santiago)

We're trying to use rear as a migration tool. The network files on the recovery image need to be modified to work on the new subnet.  Is there a command line tool or process that lets you change the network files to support the ne

[2016-05-13 05:46] akshaysarraf2016 commented on #832
Thank s lot for your prompt response.
How will I restore from TSM when the System is in Rescue Mode ?
Can TSM Push Backup ?
Won't it need TSM Client installed that time ?

Thank You
Akshay Saraf

[2016-05-13 05:58] gdha commented on #835
See http://relax-and-recover.org/documentation/faq IP migration section.

On Fri, May 13, 2016 at 2:28 AM, John-Leone <notifications@github.com>
wrote:

[2016-05-13 05:59] gdha commented on #832
When booted from the rescue image just type 'rear -v recover' and the
restore will be invoked via TSM - pure magic, no?

On Fri, May 13, 2016 at 7:46 AM, akshaysarraf2016 <notifications@github.com>
wrote:

[2016-05-13 06:00] Joeri-MS commented on #832
Sorry, you have to install the TSM Client on the rescue system.
Here are my /etc/rear/local.conf part for TSM-Restore for an Redhat 6.x System:

[code]
Now create a new rescue image and an working TSM Cllint wil be there.

[2016-05-13 07:39] jsmeix commented on #831
@gozora
many thanks for you valuable contribution https://github.com/rear/rear/pull/834

[2016-05-13 07:44] gozora commented on #831
No problem with that.
Can we keep this issue open until this part is done as a place where we can communicate?

[2016-05-13 08:15] jsmeix commented on #821
Regarding btrfs snapshot subvolumes:

Note that in https://github.com/rear/rear/pull/833/commits/0f622cadcf61df6b4f947a237b23751b55e9e5f8
btrfs snapshot subvolumes are excluded
from the default TSM filespaces
in a SUSE-specific way via
<pre>
... | grep -v "/.snapshots"
</pre>
to exclude from disklayout.conf entries like
<pre>
btrfsmountedsubvol /dev/sda2 /.snapshots rw,relatime,space_cache,subvoli

[2016-05-13 08:21] jsmeix commented on #821
I got confused
(as usual when I deal with SUSE's default btrfs structure):

What is mounted at the directory "/.snapshots"
is not a btrfs snapshot subvolume
but a "normal" btrfs subvolume,
see disklayout.conf
<pre>
# Btrfs normal subvolumes for /dev/sda2 at /
# Format: btrfsnormalsubvol &lt;device&gt; &lt;mountpoint&gt; &lt;btrfs_subvolume_ID&gt; &lt;btrfs_subvolume_path&gt;
btrfsnormalsubvol /dev

[2016-05-13 08:38] jsmeix commented on #831
Yes, I will keep this issue here open
until we agree that it is done.

[2016-05-13 12:51] jsmeix commented on #825
With https://github.com/rear/rear/pull/826 this issue is fixed.

[2016-05-13 12:51] #825 closed

[2016-05-13 13:23] EQXTFL opened #836 "openssh-server seems to be mandatory"
* rear version (/usr/sbin/rear -V):
1.18

* OS version (cat /etc/rear/os.conf or lsb_release  -a):
RHEL 6.5

* rear configuration files (cat /etc/rear/site.conf or cat /etc/rear/local.conf):
ISO/NFS

* Brief description of the issue:
Will hang after "creating root fs layout" if openssh-server is not installed. Only openssh-clients is listed as mandatory. Hanging process: "grep sftp".

Problem:
usr

[2016-05-13 19:17] John-Leone commented on #835
Thank you that works!
Does rear work with bonded networks?

[2016-05-14 14:13] gozora commented on #831
So we should have now working USB EFI boot for elilo.
As always feel free to test and comment.

I'll try to put together support for both grub versions (0.97, 2.0) ...

[2016-05-15 11:55] gozora opened #838 "USB gets suspended"
# Relax-and-Recover (rear) Issue Template

Please fill in the following items before submitting a new issue:

* rear version (/usr/sbin/rear -V): Relax-and-Recover 1.18 / Git
* OS version (cat /etc/rear/os.conf or lsb_release  -a): CentOS release 6.7 (Final)
* rear configuration files (cat /etc/rear/site.conf or cat /etc/rear/local.conf):
ONLY_INCLUDE_VG=( "vg00" )
EXCLUDE_BACKUP=( ${EXCLUDE_BACKU

[2016-05-15 17:18] alxndr13 opened #839 "/usr/share/rear/backup/NETFS/default/50_make_backup.sh: line 133: 2.16061e+09: syntax error: invalid arithmetic operator (error token is ".16061e+09")"
* rear version:
Relax-and-Recover 1.18 / Git

* OS version:
[code]

* rear configuration file: (/etc/rear/local.conf)
[code]
* Brief description of the issue:

Hangs after creating the tar archive.. looked in the logs and found this issue..

[2016-05-15 19:51] gozora commented on #831
Now the commit is complete and should work regardless on bootloader version.

More testing is always welcomed ;-)

[2016-05-17 10:37] jsmeix commented on #839
Without debug logging information
it is in parctice impossible to guess the reason
what lets it fail in your particular case
in your particular environment on your particular system
(for me it "just works" but I do not run "elementary OS Freya").

Because rear is written entirely as bash scripts,
debugging rear is usual bash debugging.

To debug rear run it both with the '-d' option (log debug mes

[2016-05-17 12:17] jsmeix commented on #831
With https://github.com/rear/rear/pull/837
I regard this issue as done.

If bugs with USB EFI boot support might be detected later
they can be handled as separated issues.

@gozora
again many thanks for your various
valuable contributions to rear!

[2016-05-17 12:17] #831 closed

[2016-05-17 12:18] jsmeix commented on #603
With https://github.com/rear/rear/pull/834 and https://github.com/rear/rear/pull/837
I regard this issue as done.

UEFI booting from USB disk/stick is implemented in two parts:

Part 1 is this issue https://github.com/rear/rear/issues/603 that
implements support for "rear format --efi" to format
an USB disk/stik with an additional UEFI (FAT) partition.

Part 2 is https://github.com/rear/rear/issue

[2016-05-17 12:43] jsmeix commented on #838
@dagwieers
can you provide background information about
the reasoning behind your "USB suspend support"
in particular the reasoning why you have in default.conf
<pre>
# Suspend the (USB) device when udev handler has finished ?
UDEV_SUSPEND=y
</pre>

I am not at all a udev expert but as far as I understand
in etc/udev/rules.d/62-rear-usb.rules
<pre>
ACTION=="add", SUBSYSTEM=="block", ENV{ID_FS_LABE

[2016-05-17 12:49] gozora commented on #838
@jsmeix you might not be an udev expert but you are definitely expert in finding things! :+1:
That udev kill thing explains a lot, because recently I'v tested EFI USB boot on Debian and `rear udev` workflow was terminated without any further notification (hence it was not suspended at the end) ...

[2016-05-17 12:56] jsmeix commented on #838
@gozora
to avoid that the rear udev workflow is run whenever
you plug in your "REAR-000" labeled USB stick,
remove the etc/udev/rules.d/62-rear-usb.rules file
(or whatever the name of your rear usb rules file is).

[2016-05-17 12:59] jsmeix commented on #838
&lt;shameless self-praise mode&gt;
after working 17 years at SUSE where I maily have to deal
with all kind of "strange issue reports" from users and customers
I think I got some experience in finding "smelling" things ;-)
&lt;/shameless self-praise mode&gt;

[2016-05-17 13:11] jsmeix commented on #838
I asked a colleague who is a udev expert
and he explained it to me:

There is a hard 120 seconds timeout in udev
after which any by udev started process is killed.

The reason is that udev proceeds event by event
and as long as there is a process running that was
started by udev for an event, udev cannot proceed
with any subsequent event for that device.

Therefore udev kills any process running t

[2016-05-17 13:17] jsmeix opened #840 "udev workflow cannot work as it is currently implemented"
currently in rear 1.18 the udev workflow
runs a longer running task (by default the mkrescue workflow)
that is triggered by plug-in of a "REAR-000" labeled USB stick
via a udev event rule in etc/udev/rules.d/62-rear-usb.rules

But udev cannot be used to launch longer running tasks
when a udev event happens.

Reason:

There is a hard 120 seconds timeout in udev
after which any by udev started proce

[2016-05-17 13:21] jsmeix commented on #838
@gozora
does it work to avoid the the udev workflow interferes
when you remove the udev rule file that triggers
the rear udev workflow?

I.e. without the automated udev workflow
does it work when you manually do what
you like to do?

If yes, I would like to close this particular issue here
because I submitted the general issue https://github.com/rear/rear/issues/840
that the current udev workflow

[2016-05-17 13:22] gozora commented on #838
Yep, that is also an workaround ...

strange that centos runs whole `rear udev` without interrupting, I'm not so sure but I'd say that it was running longer that 2 minutes ...

[2016-05-17 13:26] gozora commented on #838
@jsmeix I can try it later today.
I have no problem closing this issue, it was open just to discuss code parts that was not clear to me.

So feel free to close it...

[2016-05-17 13:26] #838 closed

[2016-05-17 13:27] gozora commented on #838
Oh I can close it by my self! Sweet :-)

[2016-05-17 13:41] jsmeix commented on #840
Interestingly doc/rear-presentation.adoc contains
<pre>
  ** Easier workflow (udev): insert, wait, pull (2 min max)
</pre>
where the "2 min max" seems to indicate that the
hard 120 seconds timeout in udev was know.

But from my point of view a hard kill after 120 seconds
cannot be seriously considered to be an acceptable
constraint for running a rear workflow.

[2016-05-17 13:53] jsmeix commented on #838
Regarding https://github.com/rear/rear/issues/838#issuecomment-219715419

Perhaps the udev kill timeout value is different depending
on the udev version / Linux distribution / whatever ...

But that does not change the generic fault here
that running a rear workflow with a time bomb
is not "the right thing" from my point of view.

By the way:
As far as I see the rear udev rules file is not include

[2016-05-17 13:56] gozora commented on #838
Yes exactly, I'm just doing copy from rear directory. I thought that udev rule is part of installation. If not than it should not affect any user ....

[2016-05-17 13:58] jsmeix commented on #840
@gdha
@schlomo
I ask for your opinion what to do here because
I don't know what to do with the udev workflow
at least for now for rear 1.19

[2016-05-17 14:05] schlomo commented on #840
IMHO we should change the design:
* udev serves as a trigger
* a systemd service waits for that trigger to run `rear mkrescue`or `rear mkbackup` as a task

That we we should get much better control over the entire process.

[2016-05-17 14:06] schlomo commented on #840
BTW, what prevents `rear mkrescue` from completing in 2 minutes?

[2016-05-17 14:19] jsmeix commented on #840
Ha!
my colleague who is a udev expert (cf. https://github.com/rear/rear/issues/838#issuecomment-219712673 )
also mentioned to use a "systemd service"
to do longer running tasks.

But ( fortunately! ;-)  I am both a noob regarding udev
and a noob regarding systemd so that (seriously)
I really have no clue how I could implement that.

Regarding
"what prevents rear mkrescue from completing in 2 minut

[2016-05-17 14:53] schlomo commented on #840
I fully agree that we should not rely on a 2 minute time limit whatsoever.

However, I would still recommend to investigate why the UEFI image is 3x bigger than the BIOS image. Sounds very strange to me.

[2016-05-17 14:54] gdha commented on #839
@alxndr13 The problem might be that Elementary OS is not yet a known OS within rear. Try `rear dump` to see more details. I believe it is based on Ubuntu, no?

[2016-05-17 15:04] gozora commented on #840
I guess we have improved this size problem implementing much precise measurements in commit 46212bc.
But yes, EFI related devices are larger as kernel and initrd needs to be copied two times, because of huge differences how elilo and grub behaves.

[2016-05-17 15:09] schlomo commented on #840
IMHO we should find a way to have kernel & initrd only once on the boot
media.

On 17 May 2016 at 17:04, Vladimir Gozora <notifications@github.com> wrote:

[2016-05-17 15:14] gozora commented on #840
Well that will be kind of hard, especially with elilo as it needs to have initrd and kernel on same partition where from it is launched. Grub on the other hand does not have such limitations...
This of course applies only for EFI booting ...

[2016-05-17 15:20] schlomo commented on #840
I am not sure if I understand the full context. IMHO
* we build a rescue image on an USB device
* the USB device has a single partition with a simple file system like vfat
* we put kernel and initramfs on that filesystem
* we write elilo or grub configs that use those kernel and initrd

Or what actually happens? Maybe the "rescue boot from local system disk"
feature makes stuff more complicated?

[2016-05-17 15:27] jsmeix opened #841 "Implement rear recovery system update support (my next SUSE hackweek project)"
I like to implement a "rear update" workflow
that is initially intended for the following use-case:

In the rear recovery system one can run "rear update"
which can download and install a tar.gz archive
that gets installed into the running rear recovery system.

This way a rear recovery system can be updated
if needed during run-time without the need to
create a new recovery system ISO image
on th

[2016-05-17 15:29] gozora commented on #840
I've foud point d) as continuance for @jsmeix list

If you are running server with no DNS servers configured following code in 99_sysreqs.sh adds to runtime until it times out:

[code]

Btw. I've uploaded whole log [here](http://www.gozora.sk/tmp/rear-debian.log) as you can see debian looks to be even more eager and terminates the script after aprox 30s.

[2016-05-17 15:30] jsmeix commented on #840
FYI:
Regarding how to mitigate the problem that
UEFI bootable ISO images are much bigger than
traditional BIOS bootable ISO images,
see https://github.com/rear/rear/issues/841
I have that idea in mind since https://github.com/rear/rear/issues/810#issuecomment-205783287

[2016-05-17 15:48] jsmeix commented on #840
Should I perhaps create a separated issue to
"investigate why UEFI image is much bigger than BIOS image" ?

[2016-05-17 15:57] gozora commented on #840
@jsmeix no need for investigation, I know it ;-) and I think I've already explained it.
It is all because of elilo and grub.

When you launch grub in EFI it can conveniently browse whole ISO content so we can reach kernel and initrd wherever it is located.
elilo on the other hand can see only content of partition/virtual image where from it was launched for this reason it is desirable to have kern

[2016-05-18 16:45] gdha commented on #836
@EQXTFL Seems weird you should see some messages like:
[code]
but it shouldn't hang. In case of Centrify - what are the file names?

[2016-05-18 16:48] gdha commented on #822
@John-Leone you can change the IP address manually, use dhcp (USE_DHCLIENT=1), or use IP address migration technique (see our FAQ page)

[2016-05-20 05:43] sergeymx opened #842 "mkbackup and ftp in CentOS 6"
( Sorry, bad my english )

* Relax-and-Recover 1.17.2 / Git  ( from repo EPEL )

* CentOS release 6.7 (Final)

* OUTPUT=ISO
BACKUP=NETFS
BACKUP_URL=ftp://mx@asu-test/rear/

* rear -v mkbackup
Relax-and-Recover 1.17.2 / Git
Using log file: /var/log/rear/rear-centos6-build.log
Creating disk layout
Creating root filesystem layout
TIP: To login as root via ssh you need to set up /root/.ssh/authorized_

[2016-05-20 08:38] gozora commented on #842
Hi,
Not sure your configuration directive `BACKUP_URL=ftp://mx@asu-test/rear/` is correct.
According [manual](https://github.com/rear/rear/blob/master/doc/user-guide/03-configuration.adoc) only following methods are supported:
[code]

[2016-05-20 09:38] sergeymx commented on #842
Hm. I did :
---
OUTPUT=ISO
BACKUP=NETFS
BACKUP_URL=iso://backup/
OUTPUT_URL=ftp://mx@asu-test/rear/
---
Its WORK. Thanks.
( Sorry did not validate the input path )

[2016-05-20 09:40] sergeymx commented on #842
Thaks.

[2016-05-20 09:59] jsmeix commented on #842
This is the reason:

When making the backup.tar.gz
backup/NETFS/default/10_mount_NETFS_path.sh
calls the mount_url function as
<pre>
mount_url ftp://mx@asu-test/rear/
</pre>

But in rear/lib/global-functions.sh the mount_url function is
<pre>
mount_url() {
...
    case $(url_scheme $url) in
        (null|tape|file|rsync|fish|ftp|ftps|hftp|http|https|sftp)
            ### Don't need to mount anythi

[2016-05-20 10:11] sergeymx commented on #842
Thanks.

[2016-05-20 12:33] sergeymx commented on #842
Thanks.

Sorry you could not be in future versions to add method ftpfs for BACKUP_URL ?
( http://curlftpfs.sourceforge.net/ its locate more distribute linux )

[2016-05-20 13:14] gdha commented on #842
please create a service request (new issue on github) with your new feature
request

On Fri, May 20, 2016 at 2:34 PM, sergeymx <notifications@github.com> wrote:

[2016-05-23 04:54] sergeymx opened #845 "new BACKUP_URL=ftp://... in future version REAR"
( sorry Bad my english )

new feature request
You could not be in future versions to add method ftpfs for BACKUP_URL ?
( http://curlftpfs.sourceforge.net/ its locate more distribute linux )

Thanks.

[2016-05-23 08:08] jsmeix commented on #842
For completeness:
The feature request for 'ftpfs' as BACKUP_URL is https://github.com/rear/rear/issues/845

[2016-05-23 08:29] jsmeix commented on #845
In http://curlftpfs.sourceforge.net/
their "quite simple" examples section
of the CurlFtpFS geeks is too simple
because it does not mention how to do it
with authenticated ftp.

@sergeymx
can you provide a full command line example how
to get a remote ftp URL with username and password
"mounted" at a local directory and how to "umount" it
after usage?
Preferably by using your ftp://mx@asu-test/rea

[2016-05-23 08:54] jsmeix commented on #791
Right now I noticed another issue that is of interest here:
https://github.com/cockpit-project/cockpit/issues/3177
and
https://bugzilla.redhat.com/show_bug.cgi?id=1283112

In general one my Google for something like
<pre>
udevd vs. parted
</pre>

That even more indicates that it is in parctice almost
impossible to implement a generically reliably working way
how to wait for the actual "thingy" tha

[2016-05-23 08:59] jsmeix commented on #793
The error message in the initial comment
https://github.com/rear/rear/issues/793#issue-139355299
matches exactly what is described here:
https://github.com/cockpit-project/cockpit/issues/3177
I guess this one describes the root cause.

[2016-05-23 09:23] jsmeix commented on #799
For the fun of it:
It seems SUSE implements a new parted option --wipesignatures,
see
https://bugzilla.opensuse.org/show_bug.cgi?id=980834

For the current sources see the
"parted-implement-wipesignatures-option.patch" at
https://build.opensuse.org/package/show/Base:System/parted

But it seems that fails curently in the same way
as the initial comment in https://github.com/rear/rear/issues/793#iss

[2016-05-23 09:25] jsmeix commented on #799
Because the more I learn about it
the more I get confused how to make it working
I postpone this issue to any later unspecified
"future rear version".

[2016-05-23 11:34] sergeymx commented on #845
[root@centos6-build mx]# curlftpfs -o user=mx asu-test/rear /home/mx/ftp
Enter host password for user 'mx':
[root@centos6-build mx]# ls /home/mx/ftp
asu-test  rear-centos6-build-backup.iso  rear-centos6-build-rescue.iso
[root@centos6-build mx]# umount /home/mx/ftp
[root@centos6-build mx]# ls /home/mx/ftp
[root@centos6-build mx]#
---
http://linux.die.net/man/1/curlftpfs

[2016-05-23 12:14] sergeymx commented on #845
Steps:
1. use 1 terminal and mount curlftpfs
2. use 2 terminal and start : rear -v mkbackup
3. switch to terminal 1 and run command: umount /home/mx/ftp/
i see :
[root@centos6-build mx]# umount /home/mx/ftp
umount: /home/mx/ftp: device is busy.
        (In some cases useful info about processes that use
         the device is found by lsof(8) or fuser(1))

[2016-05-23 12:28] jsmeix commented on #845
Many thanks for the info.
As time permits I will try to implement something
as a very first starting point ...

[2016-05-23 13:45] jsmeix commented on #842
With https://github.com/rear/rear/pull/843 this issue here
is considered to be fixed.

The feature about new/additional 'ftp' scheme
is done via https://github.com/rear/rear/issues/845

[2016-05-24 03:38] akshaysarraf2016 commented on #832
Thanks a Lot Joeri-MS. Yout configuration worked Perfectly. Could you please tell me what does TSM_RESULT_FILE_PATH Mean ?

Also when I run "rear -v mkbackup" after this configuration. It creates a rear ISO file in /var/lib/rear/output directory and also in /opt/tivoli/tsm/rear directory. What is the difference between these 2 files ?

[2016-05-24 07:37] gdha commented on #832
@Joeri-MS `conf/default.conf:PROGS_TSM=(dsmc)` so there is no need to add it to the `local.conf` file.
@akshaysarraf2016
[code]
And, you are right currently you will find the exact ISO images on your system (see issue #734 which is not implemented yet).

[2016-05-24 17:29] akshaysarraf2016 opened #846 "Understanding REAR Checklayout"
Hello,

I installed REAR on a Server. When I try to run "rear -v mkbackup" It gives the output as
[code]

But, This is isn't my concern for now, I'll ask about this bug as my next question. My primary concern is, I dont have any earlier REAR Image of this server. But when I run "rear checklayout" it returns error code 0. Which means there is no change from the previous Image. But there was no imag

[2016-05-24 23:50] kodiss opened #847 "How to manual recover?"
# Relax-and-Recover (rear) Issue Template

Please fill in the following items before submitting a new issue:

* rear version (/usr/sbin/rear -V): 1.18
* OS version (cat /etc/rear/os.conf or lsb_release  -a): Redhat 6.4
* rear configuration files (cat /etc/rear/site.conf or cat /etc/rear/local.conf):
  GRUB_RESCUE=1
  BACKUP=NETFS
  BACKUP_OPTIONS="nfsvers=3,nolock"
  BACKUP_URL="nfs:/XX.XX.XX.XX/o

[2016-05-25 07:22] KingDanTR opened #848 "HP ProLiant BL460c Gen9 hangs after boot from ISO"
* rear version 1.18
* OS version: SUSE Linux Enterprise Server 12 (x86_64) SP1
* rear configuration file:
[code]

Brief description:
After booting from created ISO image I cannot login to the server, no input is possible with ILO console and the server is not reachable over the network (ping, ssh, ...)

Is the hardware type supported?
With a HP Proliant DL 380p Gen8 the backup and recover was succ

[2016-05-25 21:01] EQXTFL commented on #836
Confirmed again - it just hangs. The file is here: /etc/centrifydc/ssh/sshd_config
Adding this to the related line in 50_ssh.sh fixes it.

[2016-05-26 07:09] exedor commented on #649
For what it's worth, I'm having the same problem and I don't think it has anything to do with wipefs or pre-existing metadata. Every time I repeat the installation I get the same error about how /dev/disk/by-uuid/<random-UUID> does not exist. but <random-UUID> is different each time I run it even though it fails. Furthermore this only ever shows up on systems with identical drive geometry where I

[2016-05-26 07:46] Rosco-github opened #849 "Creating EFI USB boot fails on rhel 7"
* rear version (/usr/sbin/rear -V):
Relax-and-Recover 1.18 / Git

* OS version (cat /etc/rear/os.conf or lsb_release  -a):
OS_VENDOR=RedHatEnterpriseServer
OS_VERSION=7

* rear configuration files (cat /etc/rear/site.conf or cat /etc/rear/local.conf):
OUTPUT=USB
BACKUP=NETFS
USB_DEVICE=/dev/disk/by-label/REAR-000
BACKUP_URL=usb:///dev/disk/by-label/REAR-000

* Brief description of the issue
issue:

[2016-05-26 10:19] gozora commented on #849
This one is probably for me :-) ...
EFI USB support is quite new feature, so I was pretty sure that some of the conditions don't need to match all OSes.
I'll certainly take a look how things are on RHEL/Centos 7 (I'm missing these two in my VM collection) and will report back with updates ...

@Rosco-github thanks for reporting this issue ...

[2016-05-26 17:39] gozora commented on #849
@Rosco-github I've created fix for this issue, hope it will work fine now ...

[2016-05-27 22:36] exedor opened #851 "First boot after restore on FC21 fails trying to find UUID originally generated by mkfs before tune2fs changes it"
* rear version (/usr/sbin/rear -V): rear-1.18-1.git201605271003
* OS version (cat /etc/rear/os.conf or lsb_release  -a): Fedora 21
* rear configuration files (cat /etc/rear/site.conf or cat /etc/rear/local.conf):
[code]
* Brief description of the issue:

This is only a problem on a system with an identical disk drive. The initrd image of the restored system fails to boot after completing restore b